.fixed-bottom(style='display:none;')
    .fixed-bottom-wrapper
        .fixed-bottom-button-sub
            a(href='#')|メッセージする
        .fixed-bottom-button-main
            a(href='https://stekina.com/reserve/H8C8-QF8J/menu')|空席を確認してみる   