if name=='viewrizm'
  .fixed-bottom-rizm
        a#jquery-open-dialog-share-sns(href='#')|シェアして応援する
else
  .fixed-bottom(style='display:none;')
      .fixed-bottom-wrapper
          .fixed-bottom-button-sub
                    if name=='onlyreserve'
                      a#jquery-open-dialog-need-login-for-follow-gralime(href='#')|フォローする
                    else if name=='onlymessage'
                      a#jquery-open-dialog-need-login-for-follow-gralime(href='#')|フォローする
                    else
                      a(href='https://test.stekina.com/user/reserves/15257?register_from=3&stype=&from_action=')|メッセージする
          .fixed-bottom-button-main
                    if name=='onlyreserve'
                      a(href='https://stekina.com/reserve/H8C8-QF8J/menu')|空席を確認してみる
                    else if name=='onlymessage'
                        a(href='https://test.stekina.com/user/reserves/15257?register_from=3&stype=&from_action=')|メッセージする
                    else
                      a(href='https://stekina.com/reserve/H8C8-QF8J/menu')|空席を確認してみる 