script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='static/js/suteki.js')
script.
      $(function() {
      var topBtn = $('.scroll-head-stekina-2019');
      //スクロールが500に達したらボタン表示
      $(window).scroll(function () {
      if ($(this).scrollTop() > 500) {
        $('.fixed-bottom').fadeIn();
        $('.profile-header-content-center-stylist').fadeIn();
        $('.profile-header-content-center-salon').hide();
      } else {
        $('.fixed-bottom').hide();
        $('.profile-header-content-center-stylist').hide();
        $('.profile-header-content-center-salon').fadeIn();
      }
      });
      });

script.
      $('.jquery-open-menus').on('click', function() {
        $('.jquery-normal-menu').toggleClass("profile-section-block-normal-menu-show");
      }
      );
//アプリインストールしていない人がステキナ紹介文
script.
      $('.jquery-open-dialog-shokai-not-install').on('click', function() {
       $('.profile-dialog-bg').show();
       $('#dialog-shokai-not-install').show();
      }
      );
script.
      $('.jquery-open-dialog-review-count-0').on('click', function() {
       $('.profile-dialog-bg').show();
       $('#dialog-review-count-zero').show();
       $('.dialog-review-count-zero').show();
      }
      );
script.
      $('.close-dialog').on('click', function() {
       $('.profile-dialog-bg').hide();
       $('.profile-dialog').hide();
      }
      );