footer
    .stekina-media-footer-banner
        a(href='https://stekina.com/how-to-registration-stekina')
            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/a6ae6c15e2bdf7f13e773ae33aacbc92-1.png')
    .stekina-media-footer-navi
        div
            a(href='https://stekina.com/stekina.html') STEKINAとは？
    .stekina-media-footer-copyright
        | copyright @2020 LiME, Inc. All Right Reserved.