.profile-follow-area(style='background-image:url(https://limehair.jp/wp-https-lime/wp-content/uploads/2020/05/download.jpg);')
    .profile-follow-area-recommend-text
        |\ カワイ ミオ さんをフォローしよう！ /
    .profile-follow-area-img
        img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3WLF-5365-P48V-5NF2?timestamp=1583483889225')
    .profile-follow-area-name
        |カワイ ミオ
    //フォローしたら.profile-follow-area-button-nofollowを.profile-follow-area-button-already-followに変換
    button.profile-follow-area-button.profile-follow-area-button-no-follow#jquery-open-dialog-need-login-for-follow
        |フォローする
footer
    .stekina-media-footer-banner
        a(href='https://stekina.com/how-to-registration-stekina')
        img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/a6ae6c15e2bdf7f13e773ae33aacbc92-1.png')
    .stekina-media-footer-navi
        div
        a(href='https://stekina.com/stekina.html') STEKINAとは？
    .stekina-media-footer-copyright
        | copyright @2020 LiME, Inc. All Right Reserved.