header.profile-header
    .profile-header-content
        .profile-header-content-center
            .profile-header-content-center-salon
                |IJK OMOTESANDO
                //|結-MUSUBI- HAIR SALON and RELAXATION
            .profile-header-content-center-stylist(style='display:none;')
                .profile-header-content-center-stylist-img
                    img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3WLF-5365-P48V-5NF2?timestamp=1583483889225')
                .profile-header-content-center-stylist-name
                    |カワイ ミオ
        button.profile-header-content-right
            |フォロー