header.profile-header.profile-header-white
    if name=='dairi'
        .profile-header-content-dairi
            a(href='newprofile.html').profile-header-content-dairi
            .profile-header-content-dairi-img
                img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo_approved/BKLM-6PQR-SUDW-HBPX?time=2020051415')
            .profile-header-content-dairi-text
                |釼持 恵梨香さんがこのページを作成しました
    else
    .profile-header-content
        .profile-header-content-center
            a(href='newprofile.html').profile-header-content-center-link
            .profile-header-content-center-salon
                |IJK OMOTESANDO
                //|結-MUSUBI- HAIR SALON and RELAXATION
            .profile-header-content-center-stylist(style='display:none;')
                .profile-header-content-center-stylist-img
                    img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3WLF-5365-P48V-5NF2?timestamp=1583483889225')
                .profile-header-content-center-stylist-name
                    |カワイ ミオ
        button.profile-header-content-right
            |フォロー