.u-bg-white {
  background-color: $cl-white;
}

.u-bg-gray {
  background-color: $cl-gray-lightest;
}

.u-ft-red {
  color: $cl-red;
}

.u-ft-white {
  color: $cl-white;
}

.u-ft-blue {
  color: $cl-blue;
}

.u-ft-gray-light {
  color: $cl-gray-light;
}

.u-cl-gray-light {
  color: $cl-gray-light;
}

.u-bdr-blue {
  border-color: $cl-blue;
}