/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
.remodal-wrapper-matching {
  background: #e2ddd7 !important;
  max-width: 450px !important;
  border-radius: 6px !important;
  padding: 10px 5px 10px !important;
  width: 95% !important;
  margin: auto;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-table; }

.remodal-wrapper-matching-head {
  padding: 0px 15px 10px;
  line-height: 1.5;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative; }
  .remodal-wrapper-matching-head::before {
    position: absolute;
    content: "";
    margin: 0 auto;
    border: 16px solid transparent;
    border-top: 20px solid white;
    width: 0;
    height: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    bottom: -15px;
    left: 28px; }
    @media screen and (max-width: 374px) {
      .remodal-wrapper-matching-head::before {
        left: 24px; } }
  .remodal-wrapper-matching-head .remodal-wrapper-matching-head-img {
    width: 18.5%; }
  .remodal-wrapper-matching-head .remodal-wrapper-matching-head-text {
    margin: 0 0 3px;
    letter-spacing: -1px;
    color: #8E7F6B;
    font-weight: bold;
    margin: -2px 0 0;
    font-size: 9.6px; }
    @media screen and (max-width: 374px) {
      .remodal-wrapper-matching-head .remodal-wrapper-matching-head-text {
        font-size: 8px; } }

.remodal-wrapper-matching-content {
  padding: 10px 0;
  width: 97%;
  margin: 2px auto 0px;
  background: white;
  border-radius: 4px; }
  .remodal-wrapper-matching-content .remodal-wrapper-matching-content-title {
    width: 96%;
    padding: 5px 20px 15px; }
    @media screen and (max-width: 374px) {
      .remodal-wrapper-matching-content .remodal-wrapper-matching-content-title {
        padding: 3px 20px 10px; } }
  .remodal-wrapper-matching-content .remodal-wrapper-matching-content-button-yes {
    margin: 12px auto 0px; }
  .remodal-wrapper-matching-content .remodal-wrapper-matching-content-photo img {
    width: 100%; }
    @media screen and (max-width: 374px) {
      .remodal-wrapper-matching-content .remodal-wrapper-matching-content-photo img {
        -o-object-fit: cover;
           object-fit: cover;
        height: 150px; } }
  .remodal-wrapper-matching-content .remodal-wrapper-matching-content-button-no {
    margin: 8px auto 7px; }
    @media screen and (max-width: 374px) {
      .remodal-wrapper-matching-content .remodal-wrapper-matching-content-button-no {
        margin: 6px auto 3px; } }
  .remodal-wrapper-matching-content .remodal-wrapper-matching-content-button-no,
  .remodal-wrapper-matching-content .remodal-wrapper-matching-content-button-yes {
    width: 81%; }
