.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname i.hair
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/0?etag=24b94a3253a1f911f1d8c387e2e130ff");')
    .stylist-card-header-image
      img(alt='Image', src='https://limeapp.s3.amazonaws.com/karte/owner_photo/B345-N789-SUVW-C3A3')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 山内大成
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/1?etag=e8198d43816efc25ebe6866268fd10de')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/2?etag=e4871fff82562737a29102156a855ae9')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999         
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname iii
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/0?etag=13d5de613fbf5d906b431743f9722faf");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/KE4F-5K6M-PL8V-7K56?timestamp=1572491116894')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 寺村優太 髪を綺麗にする人
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/0?etag=13d5de613fbf5d906b431743f9722faf')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/1?etag=ba2f4f1132774dc4a69b44d4f75ec053')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999 

.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname narii
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/U2VJ-E2X2-YJH2-4NZ5/0?etag=697922bbd2ee8e549af181bc63feef09");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/U2VJ-E2X2-YJH2-4NZ5?timestamp=1580781348677')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 上原卓也
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/U2VJ-E2X2-YJH2-4NZ5/0?etag=697922bbd2ee8e549af181bc63feef09')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/U2VJ-E2X2-YJH2-4NZ5/1?etag=029720cf38da1045c01d626f8515e3de')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999         
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname ＩＪＫ OMOTESANDO
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/0?etag=24b94a3253a1f911f1d8c387e2e130ff");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3WLF-5365-P48V-5NF2?timestamp=1583483889225')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over カワイ ミオ
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='http://ijk-hair.com/upload/tenant_1/abb93b48f23933bb23f41958da8bbfb9.jpg')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGZANh9crdf-oxmfS716Xs5i23g1Hvdo2V1yBLVdhCcz77XK_l&usqp=CAU')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999 
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname GO TODAY SHAiRE SALON
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/CJVJ-E2F2-Y2HJ-LXUM/0?etag=6549aa1df6a2885e3cdc7cec501d831f");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 愛澤直人
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/CJVJ-E2F2-Y2HJ-LXUM/0?etag=6549aa1df6a2885e3cdc7cec501d831f')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/CJVJ-E2F2-Y2HJ-LXUM/1?etag=c3f2db1cba28f0f76c65466af84453df')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999         
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname GO TODAY SHAiRE SALON 渋谷modi店
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-PL8V-PT56/0?etag=3401582c1f097c6b72650251fc6d61b0");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/KELX-MK6M-PL8V-PT56?timestamp=1572491132425')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 珠実
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-PL8V-PT56/0?etag=3401582c1f097c6b72650251fc6d61b0')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-PL8V-PT56/0?etag=3401582c1f097c6b72650251fc6d61b0')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999 
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname i.hair
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/0?etag=24b94a3253a1f911f1d8c387e2e130ff");')
    .stylist-card-header-image
      img(alt='Image', src='https://limeapp.s3.amazonaws.com/karte/owner_photo/B345-N789-SUVW-C3A3')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 山内大成
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/1?etag=e8198d43816efc25ebe6866268fd10de')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/2?etag=e4871fff82562737a29102156a855ae9')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999         
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname iii
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/0?etag=13d5de613fbf5d906b431743f9722faf");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/KE4F-5K6M-PL8V-7K56?timestamp=1572491116894')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 寺村優太 髪を綺麗にする人
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/0?etag=13d5de613fbf5d906b431743f9722faf')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/1?etag=ba2f4f1132774dc4a69b44d4f75ec053')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999 
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname narii
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/U2VJ-E2X2-YJH2-4NZ5/0?etag=697922bbd2ee8e549af181bc63feef09");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/U2VJ-E2X2-YJH2-4NZ5?timestamp=1580781348677')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 上原卓也
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/U2VJ-E2X2-YJH2-4NZ5/0?etag=697922bbd2ee8e549af181bc63feef09')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/U2VJ-E2X2-YJH2-4NZ5/1?etag=029720cf38da1045c01d626f8515e3de')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999         
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname ＩＪＫ OMOTESANDO
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/0?etag=24b94a3253a1f911f1d8c387e2e130ff");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3WLF-5365-P48V-5NF2?timestamp=1583483889225')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over カワイ ミオ
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='http://ijk-hair.com/upload/tenant_1/abb93b48f23933bb23f41958da8bbfb9.jpg')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGZANh9crdf-oxmfS716Xs5i23g1Hvdo2V1yBLVdhCcz77XK_l&usqp=CAU')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999 
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname GO TODAY SHAiRE SALON
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/CJVJ-E2F2-Y2HJ-LXUM/0?etag=6549aa1df6a2885e3cdc7cec501d831f");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 愛澤直人
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/CJVJ-E2F2-Y2HJ-LXUM/0?etag=6549aa1df6a2885e3cdc7cec501d831f')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/CJVJ-E2F2-Y2HJ-LXUM/1?etag=c3f2db1cba28f0f76c65466af84453df')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999         
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname GO TODAY SHAiRE SALON 渋谷modi店
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-PL8V-PT56/0?etag=3401582c1f097c6b72650251fc6d61b0");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/KELX-MK6M-PL8V-PT56?timestamp=1572491132425')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 珠実
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-PL8V-PT56/0?etag=3401582c1f097c6b72650251fc6d61b0')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-PL8V-PT56/0?etag=3401582c1f097c6b72650251fc6d61b0')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999 
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname i.hair
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/0?etag=24b94a3253a1f911f1d8c387e2e130ff");')
    .stylist-card-header-image
      img(alt='Image', src='https://limeapp.s3.amazonaws.com/karte/owner_photo/B345-N789-SUVW-C3A3')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 山内大成
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/1?etag=e8198d43816efc25ebe6866268fd10de')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/2?etag=e4871fff82562737a29102156a855ae9')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999         
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname iii
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/0?etag=13d5de613fbf5d906b431743f9722faf");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/KE4F-5K6M-PL8V-7K56?timestamp=1572491116894')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 寺村優太 髪を綺麗にする人
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/0?etag=13d5de613fbf5d906b431743f9722faf')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/1?etag=ba2f4f1132774dc4a69b44d4f75ec053')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999 
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname narii
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/U2VJ-E2X2-YJH2-4NZ5/0?etag=697922bbd2ee8e549af181bc63feef09");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/U2VJ-E2X2-YJH2-4NZ5?timestamp=1580781348677')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 上原卓也
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/U2VJ-E2X2-YJH2-4NZ5/0?etag=697922bbd2ee8e549af181bc63feef09')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/U2VJ-E2X2-YJH2-4NZ5/1?etag=029720cf38da1045c01d626f8515e3de')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999         
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname ＩＪＫ OMOTESANDO
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/0?etag=24b94a3253a1f911f1d8c387e2e130ff");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3WLF-5365-P48V-5NF2?timestamp=1583483889225')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over カワイ ミオ
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='http://ijk-hair.com/upload/tenant_1/abb93b48f23933bb23f41958da8bbfb9.jpg')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGZANh9crdf-oxmfS716Xs5i23g1Hvdo2V1yBLVdhCcz77XK_l&usqp=CAU')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999 
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname GO TODAY SHAiRE SALON
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/CJVJ-E2F2-Y2HJ-LXUM/0?etag=6549aa1df6a2885e3cdc7cec501d831f");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 愛澤直人
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/CJVJ-E2F2-Y2HJ-LXUM/0?etag=6549aa1df6a2885e3cdc7cec501d831f')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/CJVJ-E2F2-Y2HJ-LXUM/1?etag=c3f2db1cba28f0f76c65466af84453df')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999         
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname GO TODAY SHAiRE SALON 渋谷modi店
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-PL8V-PT56/0?etag=3401582c1f097c6b72650251fc6d61b0");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/KELX-MK6M-PL8V-PT56?timestamp=1572491132425')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 珠実
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-PL8V-PT56/0?etag=3401582c1f097c6b72650251fc6d61b0')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-PL8V-PT56/0?etag=3401582c1f097c6b72650251fc6d61b0')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999 
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname i.hair
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/0?etag=24b94a3253a1f911f1d8c387e2e130ff");')
    .stylist-card-header-image
      img(alt='Image', src='https://limeapp.s3.amazonaws.com/karte/owner_photo/B345-N789-SUVW-C3A3')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 山内大成
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/1?etag=e8198d43816efc25ebe6866268fd10de')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/2?etag=e4871fff82562737a29102156a855ae9')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999         
.stylist-card
  .stylist-card-link
    a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
  .stylist-card-salonname iii
  .stylist-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/0?etag=13d5de613fbf5d906b431743f9722faf");')
    .stylist-card-header-image
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/KE4F-5K6M-PL8V-7K56?timestamp=1572491116894')
    .stylist-card-header-name
      .stylist-card-header-name-txt.stylist-card-header-name-txt-over 寺村優太 髪を綺麗にする人
  ul.stylist-card-content-stylist
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-two 歴8年
    li.stylist-card-content-stylist-value.stylist-card-content-stylist-value-three 平均-円
  .stylist-card-stylephoto
    .stylist-card-stylephoto-left
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/0?etag=13d5de613fbf5d906b431743f9722faf')
    .stylist-card-stylephoto-right
      img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KE4F-5K6M-PL8V-7K56/1?etag=ba2f4f1132774dc4a69b44d4f75ec053')
  .stylist-card-content
    ul.c-tag-small
      li
        a(href='#') カット
      li
        a(href='#') パーマ
      li
        a(href='#') ミディアム
      li
        a(href='#') ショートボブ
      li
        a(href='#') くせ毛
      li
        a(href='#') 直毛
      li
        a(href='#') かわいい
      li
        a(href='#') モテ・愛され
      li
        a(href='#') 個室サロン
      li
        a(href='#') オーナー
  .stylist-card-footer-count
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999
    .stylist-card-footer-count-column
      .stylist-card-footer-count-column-img
        img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
      .stylist-card-footer-count-column-text 9999 
