.section-block-content
      //.section-block-content-comment-notice-title.u-fs-m.u-cl-stekina-red.u-st-bold 最近のステキナ紹介文！
      .section-block-content-comment-notice
        .section-block-content-comment-notice-people-to-people
          a(href='lime-community://?url=https://stekina.com/profile/6AX4-F59Q')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/4P56-9TAX-HALQ-SEZ8')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 嶋田功汰
              span.u-fs-s さんが
          a(href='lime-community://?url=https://stekina.com/profile/6NXZ-2DAZ')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/CJD2-WJFJ-G2ZJ-LFKZ')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 原田大資
              span.u-fs-s さんに
          span.section-block-content-comment-notice-text.u-fs-s 送ったステキナ紹介文！
      // STEKiNA紹介文
      .review-card
        //
          <div class="review-card-header-stylist ">
          <div class="review-card-header-thumbnail-hairstylist">
          <div class="review-card-header-thumbnail-hairstylist-img"><img src="https://limeapp.s3.amazonaws.com/karte/owner_photo/4P56-9TAX-HALQ-SEZ8"/></div>
          <p class="review-card-header-title-tag-img"><img src="https://limehair.jp/wp-https-lime/wp-content/uploads/2019/11/tag-hairstylist.svg"></p>
          </div>
          <div class="review-card-header-title">
          <p class="review-card-header-title-name-hairstylist">
          %= r_recommend.r_account.owner&.name %>
          </p>
        .review-card-header
          .recommend-card-header-thumbnail
            img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/4P56-9TAX-HALQ-SEZ8')
            p.recommend-card-header-title-tag.bg-lime-gradient
              | 美容師
          .review-card-header-title
            div
              p.review-card-header-title-name 嶋田功汰
              p.recommend-card-header-title-salon-name
                | CIEL立川店
          .review-card-date 2020/01/20
        .review-card-contents
          .review-card-contents-bunsho
            | 同じサロンのスタッフです！ 
            br
            | ブリーチオンカラーやアディクシーカラーが非常に上手なスタイリストで、フィニッシュワークも申し分無しです！☺️
            br
            br
            | 透け感のあるカラーや、仕上げのコテ巻きを綺麗にしてもらいたい方は間違いなく原田さん一択です☺️
            br
            br
            | 人柄も良く、親しみやすいので気軽に指名してみてください！
          div(style='margin-top:16px;')
            ul.c-tag-middle
              li(key='バーバースタイル')
                a.c-taglist-tag バーバースタイル
              li(key='カラー得意')
                a.c-taglist-tag カラー得意
              li(key='ブリーチ専門家')
                a.c-taglist-tag ブリーチ専門家
              li(key='トレンドカラー')
                a.c-taglist-tag トレンドカラー
              li(key='デザインカラー')
                a.c-taglist-tag デザインカラー
              li(key='トップスタイリスト')
                a.c-taglist-tag トップスタイリスト
              li(key='お任せOK')
                a.c-taglist-tag お任せOK
              li(key='オシャレ')
                a.c-taglist-tag オシャレ
              li(key='トレンドマスター')
                a.c-taglist-tag トレンドマスター
              li(key='楽しい')
                a.c-taglist-tag 楽しい
              li(key='モテ・愛され')
                a.c-taglist-tag モテ・愛され
              li(key='大人かわいい')
                a.c-taglist-tag 大人かわいい
              li(key='たまご顔')
                a.c-taglist-tag たまご顔
              li(key='ボブ')
                a.c-taglist-tag ボブ
              li(key='ダブルカラー')
                a.c-taglist-tag ダブルカラー
              li(key='ブリーチ')
                a.c-taglist-tag ブリーチ
              li(key='カラー')
                a.c-taglist-tag カラー
          .review-card-contents-bunsho-readmore
            a(href='lime-community://?url=https://stekina.com/profile/6NXZ-2DAZ/recommend/54#recommend-section')
              | もっと見る
          .review-card-articleinfo
            // ステキボタン
            .love-button-area
              .love-button.like(data-num-suteki='0', data-num-total-suteki='47', data-r-recommend-id='54')
                .love-button-heart
                  .mask
                    .mask-color(style='height:0%; width:100%;')
                  svg.shape(y='0px', xml:space='preserve', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', id='レイヤー_1', x='0px', version='1.1', viewBox='0 0 30 25')
                    clippath#svgPath
                      path.st0(d='M16.3,0C12.6,0,11,2.7,11,2.7S9.5,0,5.7,0C2.6,0,0,2.7,0,5.9C0,13.1,11,19,11,19s11-5.9,11-13.1 C22,2.7,19.4,0,16.3,0z')
              .love-button-count
                span.love-button-count-span 47
                span ステキ!
              .suteki-counter
                span.suteki-counter-plus +
                span.suteki-counter-number 47
              // flush heart
              .flush-heart
                svg.h.h-1(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#MyGradient(gradientTransform='rotate(-60)')
                      stop(offset='0%', stop-color='#FF595B')
                      stop(offset='100%', stop-color='#E6417A')
                svg.h.h-2(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#Gradient(gradientTransform='rotate(-60)')
                      | >
                      stop(offset='0%', stop-color='#fe8386')
                      stop(offset='100%', stop-color='#ec719c')
                svg.h.h-3(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-4(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-5(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-6(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-7(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-8(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
      .section-block-content-comment-notice
        .section-block-content-comment-notice-people-to-people
          a(href='lime-community://?url=https://stekina.com/profile/6NXZ-2DAZ')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/CJD2-WJFJ-G2ZJ-LFKZ')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 原田大資
              span.u-fs-s さんが
          a(href='lime-community://?url=https://stekina.com/profile/6AX4-F59Q')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/4P56-9TAX-HALQ-SEZ8')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 嶋田功汰
              span.u-fs-s さんに
          span.section-block-content-comment-notice-text.u-fs-s 送ったステキナ紹介文！
      // STEKiNA紹介文
      .review-card
        //
          <div class="review-card-header-stylist ">
          <div class="review-card-header-thumbnail-hairstylist">
          <div class="review-card-header-thumbnail-hairstylist-img"><img src="https://limeapp.s3.amazonaws.com/karte/owner_photo/CJD2-WJFJ-G2ZJ-LFKZ"/></div>
          <p class="review-card-header-title-tag-img"><img src="https://limehair.jp/wp-https-lime/wp-content/uploads/2019/11/tag-hairstylist.svg"></p>
          </div>
          <div class="review-card-header-title">
          <p class="review-card-header-title-name-hairstylist">
          %= r_recommend.r_account.owner&.name %>
          </p>
        .review-card-header
          .recommend-card-header-thumbnail
            img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/CJD2-WJFJ-G2ZJ-LFKZ')
            p.recommend-card-header-title-tag.bg-lime-gradient
              | 美容師
          .review-card-header-title
            div
              p.review-card-header-title-name 原田大資
              p.recommend-card-header-title-salon-name
                | CIEL立川店
          .review-card-date 2020/01/20
        .review-card-contents
          .review-card-contents-bunsho
            | 同じサロンですがイルミナカラーやボブのカットがずば抜けて上手です！！
            br
            br
            | 丁寧なカウンセリングと接客で担当してるお客様も笑顔で退店していきます。
            br
            br
            | 自分自身もいつも嶋田さんにカットしてもらってますが僕自身も納得いく仕上がりにしてくれます！
            br
            br
            | 嶋田さん是非オススメします！！
          div(style='margin-top:16px;')
            ul.c-tag-middle
              li(key='しっかり相談')
                a.c-taglist-tag しっかり相談
              li(key='お任せOK')
                a.c-taglist-tag お任せOK
              li(key='カウンセリング重視')
                a.c-taglist-tag カウンセリング重視
              li(key='オシャレ')
                a.c-taglist-tag オシャレ
              li(key='トレンドマスター')
                a.c-taglist-tag トレンドマスター
              li(key='リラックス')
                a.c-taglist-tag リラックス
              li(key='似合わせ得意')
                a.c-taglist-tag 似合わせ得意
              li(key='サービス重視')
                a.c-taglist-tag サービス重視
              li(key='外国人風')
                a.c-taglist-tag 外国人風
              li(key='ストリート')
                a.c-taglist-tag ストリート
              li(key='カジュアル')
                a.c-taglist-tag カジュアル
              li(key='かわいい')
                a.c-taglist-tag かわいい
              li(key='ロブ')
                a.c-taglist-tag ロブ
              li(key='ショートボブ')
                a.c-taglist-tag ショートボブ
              li(key='ボブ')
                a.c-taglist-tag ボブ
              li(key='ヘアアレンジ')
                a.c-taglist-tag ヘアアレンジ
              li(key='カラー')
                a.c-taglist-tag カラー
              li(key='カット')
                a.c-taglist-tag カット
          .review-card-contents-bunsho-readmore
            a(href='lime-community://?url=https://stekina.com/profile/6AX4-F59Q/recommend/53#recommend-section')
              | もっと見る
          .review-card-articleinfo
            // ステキボタン
            .love-button-area
              .love-button.like(data-num-suteki='0', data-num-total-suteki='38', data-r-recommend-id='53')
                .love-button-heart
                  .mask
                    .mask-color(style='height:0%; width:100%;')
                  svg.shape(y='0px', xml:space='preserve', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', id='レイヤー_1', x='0px', version='1.1', viewBox='0 0 30 25')
                    clippath#svgPath
                      path.st0(d='M16.3,0C12.6,0,11,2.7,11,2.7S9.5,0,5.7,0C2.6,0,0,2.7,0,5.9C0,13.1,11,19,11,19s11-5.9,11-13.1 C22,2.7,19.4,0,16.3,0z')
              .love-button-count
                span.love-button-count-span 38
                span ステキ!
              .suteki-counter
                span.suteki-counter-plus +
                span.suteki-counter-number 38
              // flush heart
              .flush-heart
                svg.h.h-1(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#MyGradient(gradientTransform='rotate(-60)')
                      stop(offset='0%', stop-color='#FF595B')
                      stop(offset='100%', stop-color='#E6417A')
                svg.h.h-2(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#Gradient(gradientTransform='rotate(-60)')
                      | >
                      stop(offset='0%', stop-color='#fe8386')
                      stop(offset='100%', stop-color='#ec719c')
                svg.h.h-3(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-4(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-5(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-6(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-7(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-8(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
      .section-block-content-comment-notice
        .section-block-content-comment-notice-people-to-people
          a(href='lime-community://?url=https://stekina.com/profile/4JLL-EQNL')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/LP56-RTAX-HAL8-7UBL')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 中村 仁
              span.u-fs-s さんが
          a(href='lime-community://?url=https://stekina.com/profile/UTM4-ERCL')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/LP5N-9TSF-HSL8-7XP4')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 七部由莉香
              span.u-fs-s さんに
          span.section-block-content-comment-notice-text.u-fs-s 送ったステキナ紹介文！
      // STEKiNA紹介文
      .review-card
        //
          <div class="review-card-header-stylist ">
          <div class="review-card-header-thumbnail-hairstylist">
          <div class="review-card-header-thumbnail-hairstylist-img"><img src="https://limeapp.s3.amazonaws.com/karte/owner_photo/LP56-RTAX-HAL8-7UBL"/></div>
          <p class="review-card-header-title-tag-img"><img src="https://limehair.jp/wp-https-lime/wp-content/uploads/2019/11/tag-hairstylist.svg"></p>
          </div>
          <div class="review-card-header-title">
          <p class="review-card-header-title-name-hairstylist">
          %= r_recommend.r_account.owner&.name %>
          </p>
        .review-card-header
          .recommend-card-header-thumbnail
            img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/LP56-RTAX-HAL8-7UBL')
            p.recommend-card-header-title-tag.bg-lime-gradient
              | 美容師
          .review-card-header-title
            div
              p.review-card-header-title-name 中村 仁
              p.recommend-card-header-title-salon-name
                | 美容室PUNIM
          .review-card-date 2020/01/19
        .review-card-contents
          .review-card-contents-bunsho
            | 新人からもう10年のお付き合い。
            br
            | タンタンとした性格で、技術もオフィスワークも淡々とこなします。
            br
            | どんな相手ともぶつかる事なく、敵を作らない人間性で後輩に天使のような大森がいますが七部は女神のような存在です^ ^
            br
            | 指名のお客様も多く安心して任せられる人柄です。
            br
            | 現在、女の子を出産し育児休業中。
            br
            | 大森がカ...
          div(style='margin-top:16px;')
            ul.c-tag-middle
              li(key='メンズ マッシュレイヤー')
                a.c-taglist-tag メンズ マッシュレイヤー
              li(key='カウンセリングからのお任せok')
                a.c-taglist-tag カウンセリングからのお任せok
              li(key='大人カジュアル')
                a.c-taglist-tag 大人カジュアル
              li(key='きれいめ')
                a.c-taglist-tag きれいめ
              li(key='ツーブロックショート')
                a.c-taglist-tag ツーブロックショート
              li(key='心を込めた技術・接客')
                a.c-taglist-tag 心を込めた技術・接客
              li(key='ドライカット')
                a.c-taglist-tag ドライカット
              li(key='クレジット・電子マネー')
                a.c-taglist-tag クレジット・電子マネー
              li(key='女性らしい抜け感ヘア')
                a.c-taglist-tag 女性らしい抜け感ヘア
              li(key='ヘッドマッサージ')
                a.c-taglist-tag ヘッドマッサージ
              li(key='バリアフリー')
                a.c-taglist-tag バリアフリー
              li(key='インナーカラー')
                a.c-taglist-tag インナーカラー
              li(key='バレイヤージュ')
                a.c-taglist-tag バレイヤージュ
              li(key='信頼していただける技術')
                a.c-taglist-tag 信頼していただける技術
              li(key='ゆったりとした空間')
                a.c-taglist-tag ゆったりとした空間
              li(key='一生付き合える')
                a.c-taglist-tag 一生付き合える
              li(key='今までの悩み解決できる')
                a.c-taglist-tag 今までの悩み解決できる
              li(key='炭酸泉ヘッドスパ')
                a.c-taglist-tag 炭酸泉ヘッドスパ
              li(key='ショートマッシュ')
                a.c-taglist-tag ショートマッシュ
              li(key='何でも得意')
                a.c-taglist-tag 何でも得意
              li(key='楽ちんスタイリング')
                a.c-taglist-tag 楽ちんスタイリング
              li(key='話すのが苦手な方')
                a.c-taglist-tag 話すのが苦手な方
              li(key='メンズスタイル')
                a.c-taglist-tag メンズスタイル
              li(key='話しやすい')
                a.c-taglist-tag 話しやすい
              li(key='全てのジャンルに合わせます')
                a.c-taglist-tag 全てのジャンルに合わせます
              li(key='カラー得意')
                a.c-taglist-tag カラー得意
              li(key='白髪染め')
                a.c-taglist-tag 白髪染め
              li(key='駐車場あり')
                a.c-taglist-tag 駐車場あり
              li(key='クイックカラー')
                a.c-taglist-tag クイックカラー
              li(key='ワンレングス')
                a.c-taglist-tag ワンレングス
              li(key='デザインカット')
                a.c-taglist-tag デザインカット
              li(key='寄り添い型')
                a.c-taglist-tag 寄り添い型
              li(key='ヘアケア')
                a.c-taglist-tag ヘアケア
              li(key='トレンドカラー')
                a.c-taglist-tag トレンドカラー
              li(key='ヘアセット')
                a.c-taglist-tag ヘアセット
              li(key='メンズショート')
                a.c-taglist-tag メンズショート
              li(key='デザインカラー')
                a.c-taglist-tag デザインカラー
              li(key='ナチュラルボブ')
                a.c-taglist-tag ナチュラルボブ
              li(key='マダム')
                a.c-taglist-tag マダム
              li(key='子連れOK')
                a.c-taglist-tag 子連れOK
              li(key='お子様連れ大歓迎')
                a.c-taglist-tag お子様連れ大歓迎
              li(key='ナチュラル')
                a.c-taglist-tag ナチュラル
              li(key='エアリー')
                a.c-taglist-tag エアリー
              li(key='艶髪')
                a.c-taglist-tag 艶髪
              li(key='メンズ')
                a.c-taglist-tag メンズ
              li(key='スタイリスト')
                a.c-taglist-tag スタイリスト
              li(key='中型店')
                a.c-taglist-tag 中型店
              li(key='しっかり相談')
                a.c-taglist-tag しっかり相談
              li(key='お任せOK')
                a.c-taglist-tag お任せOK
              li(key='カウンセリング重視')
                a.c-taglist-tag カウンセリング重視
              li(key='リラックス')
                a.c-taglist-tag リラックス
              li(key='楽しい')
                a.c-taglist-tag 楽しい
              li(key='くせ毛風')
                a.c-taglist-tag くせ毛風
              li(key='ゆるふわ')
                a.c-taglist-tag ゆるふわ
              li(key='落ち着いた雰囲気')
                a.c-taglist-tag 落ち着いた雰囲気
              li(key='フェミニン')
                a.c-taglist-tag フェミニン
              li(key='大人かわいい')
                a.c-taglist-tag 大人かわいい
              li(key='ストリート')
                a.c-taglist-tag ストリート
              li(key='カジュアル')
                a.c-taglist-tag カジュアル
              li(key='キュート')
                a.c-taglist-tag キュート
              li(key='かわいい')
                a.c-taglist-tag かわいい
              li(key='ショートボブ')
                a.c-taglist-tag ショートボブ
              li(key='ハイトーン')
                a.c-taglist-tag ハイトーン
              li(key='黒髪')
                a.c-taglist-tag 黒髪
              li(key='セミディ')
                a.c-taglist-tag セミディ
              li(key='ミディアム')
                a.c-taglist-tag ミディアム
              li(key='ボブ')
                a.c-taglist-tag ボブ
              li(key='マッシュ')
                a.c-taglist-tag マッシュ
              li(key='スーパーロング')
                a.c-taglist-tag スーパーロング
              li(key='セミロング')
                a.c-taglist-tag セミロング
              li(key='ロング')
                a.c-taglist-tag ロング
              li(key='ベリーショート')
                a.c-taglist-tag ベリーショート
              li(key='ショート')
                a.c-taglist-tag ショート
              li(key='ヘッドスパ')
                a.c-taglist-tag ヘッドスパ
              li(key='トリートメント')
                a.c-taglist-tag トリートメント
              li(key='結婚式ヘアアレンジ')
                a.c-taglist-tag 結婚式ヘアアレンジ
              li(key='編み込み')
                a.c-taglist-tag 編み込み
              li(key='ハーフアップ')
                a.c-taglist-tag ハーフアップ
              li(key='ヘアアレンジ')
                a.c-taglist-tag ヘアアレンジ
              li(key='髪質改善')
                a.c-taglist-tag 髪質改善
              li(key='縮毛矯正')
                a.c-taglist-tag 縮毛矯正
              li(key='メンズパーマ')
                a.c-taglist-tag メンズパーマ
              li(key='前髪パーマ')
                a.c-taglist-tag 前髪パーマ
              li(key='パーマ')
                a.c-taglist-tag パーマ
              li(key='ダブルカラー')
                a.c-taglist-tag ダブルカラー
              li(key='グラデーションカラー')
                a.c-taglist-tag グラデーションカラー
              li(key='ブリーチ')
                a.c-taglist-tag ブリーチ
              li(key='ローライト')
                a.c-taglist-tag ローライト
              li(key='ハイライト')
                a.c-taglist-tag ハイライト
              li(key='カラー')
                a.c-taglist-tag カラー
              li(key='キッズカット')
                a.c-taglist-tag キッズカット
              li(key='メンズカット')
                a.c-taglist-tag メンズカット
              li(key='カット')
                a.c-taglist-tag カット
          .review-card-contents-bunsho-readmore
            a(href='lime-community://?url=https://stekina.com/profile/UTM4-ERCL/recommend/52#recommend-section')
              | もっと見る
          .review-card-articleinfo
            // ステキボタン
            .love-button-area
              .love-button.like(data-num-suteki='0', data-num-total-suteki='37', data-r-recommend-id='52')
                .love-button-heart
                  .mask
                    .mask-color(style='height:0%; width:100%;')
                  svg.shape(y='0px', xml:space='preserve', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', id='レイヤー_1', x='0px', version='1.1', viewBox='0 0 30 25')
                    clippath#svgPath
                      path.st0(d='M16.3,0C12.6,0,11,2.7,11,2.7S9.5,0,5.7,0C2.6,0,0,2.7,0,5.9C0,13.1,11,19,11,19s11-5.9,11-13.1 C22,2.7,19.4,0,16.3,0z')
              .love-button-count
                span.love-button-count-span 37
                span ステキ!
              .suteki-counter
                span.suteki-counter-plus +
                span.suteki-counter-number 37
              // flush heart
              .flush-heart
                svg.h.h-1(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#MyGradient(gradientTransform='rotate(-60)')
                      stop(offset='0%', stop-color='#FF595B')
                      stop(offset='100%', stop-color='#E6417A')
                svg.h.h-2(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#Gradient(gradientTransform='rotate(-60)')
                      | >
                      stop(offset='0%', stop-color='#fe8386')
                      stop(offset='100%', stop-color='#ec719c')
                svg.h.h-3(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-4(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-5(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-6(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-7(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-8(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
      .section-block-content-comment-notice
        .section-block-content-comment-notice-people-to-people
          a(href='lime-community://?url=https://stekina.com/profile/4JLL-EQNL')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/LP56-RTAX-HAL8-7UBL')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 中村 仁
              span.u-fs-s さんが
          a(href='lime-community://?url=https://stekina.com/profile/GK4L-EQPL')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/LP56-RTSF-HS48-7UDL')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 大森 岬
              span.u-fs-s さんに
          span.section-block-content-comment-notice-text.u-fs-s 送ったステキナ紹介文！
      // STEKiNA紹介文
      .review-card
        //
          <div class="review-card-header-stylist ">
          <div class="review-card-header-thumbnail-hairstylist">
          <div class="review-card-header-thumbnail-hairstylist-img"><img src="https://limeapp.s3.amazonaws.com/karte/owner_photo/LP56-RTAX-HAL8-7UBL"/></div>
          <p class="review-card-header-title-tag-img"><img src="https://limehair.jp/wp-https-lime/wp-content/uploads/2019/11/tag-hairstylist.svg"></p>
          </div>
          <div class="review-card-header-title">
          <p class="review-card-header-title-name-hairstylist">
          %= r_recommend.r_account.owner&.name %>
          </p>
        .review-card-header
          .recommend-card-header-thumbnail
            img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/LP56-RTAX-HAL8-7UBL')
            p.recommend-card-header-title-tag.bg-lime-gradient
              | 美容師
          .review-card-header-title
            div
              p.review-card-header-title-name 中村 仁
              p.recommend-card-header-title-salon-name
                | 美容室PUNIM
          .review-card-date 2020/01/19
        .review-card-contents
          .review-card-contents-bunsho
            | 初めて会った時は派手な顔でキツそうなイメージを持ちましたが、一緒に働き出したら全く逆の人間でした^ ^
            br
            | 後輩からは天使のような存在と言われ、オーナーである自分もその天使の性格に大変助けられています。
            br
            | 仕事はお店史上最短で技術習得し、その性格もあってグングン人気上昇中❗️
            br
            | 少し前まで在籍していた先輩達をゴボウ...
          div(style='margin-top:16px;')
            ul.c-tag-middle
              li(key='カウンセリングからのお任せok')
                a.c-taglist-tag カウンセリングからのお任せok
              li(key='ツーブロックショート')
                a.c-taglist-tag ツーブロックショート
              li(key='心を込めた技術・接客')
                a.c-taglist-tag 心を込めた技術・接客
              li(key='クレジット・電子マネー')
                a.c-taglist-tag クレジット・電子マネー
              li(key='アットホーム')
                a.c-taglist-tag アットホーム
              li(key='ヘッドマッサージ')
                a.c-taglist-tag ヘッドマッサージ
              li(key='バリアフリー')
                a.c-taglist-tag バリアフリー
              li(key='インナーカラー')
                a.c-taglist-tag インナーカラー
              li(key='バレイヤージュ')
                a.c-taglist-tag バレイヤージュ
              li(key='持ちが良い')
                a.c-taglist-tag 持ちが良い
              li(key='信頼していただける技術')
                a.c-taglist-tag 信頼していただける技術
              li(key='ゆったりとした空間')
                a.c-taglist-tag ゆったりとした空間
              li(key='一生付き合える')
                a.c-taglist-tag 一生付き合える
              li(key='今までの悩み解決できる')
                a.c-taglist-tag 今までの悩み解決できる
              li(key='スタッフ全員でおもてなし')
                a.c-taglist-tag スタッフ全員でおもてなし
              li(key='健康な肌と髪創り')
                a.c-taglist-tag 健康な肌と髪創り
              li(key='炭酸泉ヘッドスパ')
                a.c-taglist-tag 炭酸泉ヘッドスパ
              li(key='何でも得意')
                a.c-taglist-tag 何でも得意
              li(key='話がゆっくり')
                a.c-taglist-tag 話がゆっくり
              li(key='メンズスタイル')
                a.c-taglist-tag メンズスタイル
              li(key='話しやすい')
                a.c-taglist-tag 話しやすい
              li(key='全てのジャンルに合わせます')
                a.c-taglist-tag 全てのジャンルに合わせます
              li(key='カラー得意')
                a.c-taglist-tag カラー得意
              li(key='白髪染め')
                a.c-taglist-tag 白髪染め
              li(key='駐車場あり')
                a.c-taglist-tag 駐車場あり
              li(key='クイックカラー')
                a.c-taglist-tag クイックカラー
              li(key='ワンレングス')
                a.c-taglist-tag ワンレングス
              li(key='シャンプー')
                a.c-taglist-tag シャンプー
              li(key='寄り添い型')
                a.c-taglist-tag 寄り添い型
              li(key='ヘアケア')
                a.c-taglist-tag ヘアケア
              li(key='トレンドカラー')
                a.c-taglist-tag トレンドカラー
              li(key='ヘアセット')
                a.c-taglist-tag ヘアセット
              li(key='メンズショート')
                a.c-taglist-tag メンズショート
              li(key='デザインカラー')
                a.c-taglist-tag デザインカラー
              li(key='ナチュラルボブ')
                a.c-taglist-tag ナチュラルボブ
              li(key='マダム')
                a.c-taglist-tag マダム
              li(key='子連れOK')
                a.c-taglist-tag 子連れOK
              li(key='お子様連れ大歓迎')
                a.c-taglist-tag お子様連れ大歓迎
              li(key='ナチュラル')
                a.c-taglist-tag ナチュラル
              li(key='艶髪')
                a.c-taglist-tag 艶髪
              li(key='メンズ')
                a.c-taglist-tag メンズ
              li(key='スタイリスト')
                a.c-taglist-tag スタイリスト
              li(key='中型店')
                a.c-taglist-tag 中型店
              li(key='しっかり相談')
                a.c-taglist-tag しっかり相談
              li(key='カウンセリング重視')
                a.c-taglist-tag カウンセリング重視
              li(key='リラックス')
                a.c-taglist-tag リラックス
              li(key='楽しい')
                a.c-taglist-tag 楽しい
              li(key='落ち着いた雰囲気')
                a.c-taglist-tag 落ち着いた雰囲気
              li(key='ストリート')
                a.c-taglist-tag ストリート
              li(key='ショートボブ')
                a.c-taglist-tag ショートボブ
              li(key='ミディアム')
                a.c-taglist-tag ミディアム
              li(key='ボブ')
                a.c-taglist-tag ボブ
              li(key='セミロング')
                a.c-taglist-tag セミロング
              li(key='ロング')
                a.c-taglist-tag ロング
              li(key='ショート')
                a.c-taglist-tag ショート
              li(key='ヘッドスパ')
                a.c-taglist-tag ヘッドスパ
              li(key='トリートメント')
                a.c-taglist-tag トリートメント
              li(key='結婚式ヘアアレンジ')
                a.c-taglist-tag 結婚式ヘアアレンジ
              li(key='編み込み')
                a.c-taglist-tag 編み込み
              li(key='ハーフアップ')
                a.c-taglist-tag ハーフアップ
              li(key='ヘアアレンジ')
                a.c-taglist-tag ヘアアレンジ
              li(key='髪質改善')
                a.c-taglist-tag 髪質改善
              li(key='縮毛矯正')
                a.c-taglist-tag 縮毛矯正
              li(key='メンズパーマ')
                a.c-taglist-tag メンズパーマ
              li(key='前髪パーマ')
                a.c-taglist-tag 前髪パーマ
              li(key='パーマ')
                a.c-taglist-tag パーマ
              li(key='ダブルカラー')
                a.c-taglist-tag ダブルカラー
              li(key='グラデーションカラー')
                a.c-taglist-tag グラデーションカラー
              li(key='ブリーチ')
                a.c-taglist-tag ブリーチ
              li(key='ローライト')
                a.c-taglist-tag ローライト
              li(key='ハイライト')
                a.c-taglist-tag ハイライト
              li(key='カラー')
                a.c-taglist-tag カラー
              li(key='キッズカット')
                a.c-taglist-tag キッズカット
              li(key='メンズカット')
                a.c-taglist-tag メンズカット
              li(key='カット')
                a.c-taglist-tag カット
          .review-card-contents-bunsho-readmore
            a(href='lime-community://?url=https://stekina.com/profile/GK4L-EQPL/recommend/51#recommend-section')
              | もっと見る
          .review-card-articleinfo
            // ステキボタン
            .love-button-area
              .love-button.like(data-num-suteki='0', data-num-total-suteki='44', data-r-recommend-id='51')
                .love-button-heart
                  .mask
                    .mask-color(style='height:0%; width:100%;')
                  svg.shape(y='0px', xml:space='preserve', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', id='レイヤー_1', x='0px', version='1.1', viewBox='0 0 30 25')
                    clippath#svgPath
                      path.st0(d='M16.3,0C12.6,0,11,2.7,11,2.7S9.5,0,5.7,0C2.6,0,0,2.7,0,5.9C0,13.1,11,19,11,19s11-5.9,11-13.1 C22,2.7,19.4,0,16.3,0z')
              .love-button-count
                span.love-button-count-span 44
                span ステキ!
              .suteki-counter
                span.suteki-counter-plus +
                span.suteki-counter-number 44
              // flush heart
              .flush-heart
                svg.h.h-1(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#MyGradient(gradientTransform='rotate(-60)')
                      stop(offset='0%', stop-color='#FF595B')
                      stop(offset='100%', stop-color='#E6417A')
                svg.h.h-2(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#Gradient(gradientTransform='rotate(-60)')
                      | >
                      stop(offset='0%', stop-color='#fe8386')
                      stop(offset='100%', stop-color='#ec719c')
                svg.h.h-3(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-4(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-5(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-6(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-7(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-8(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
      .section-block-content-comment-notice
        .section-block-content-comment-notice-people-to-people
          a(href='lime-community://?url=https://stekina.com/profile/4JLL-EQNL')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/LP56-RTAX-HAL8-7UBL')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 中村 仁
              span.u-fs-s さんが
          a(href='lime-community://?url=https://stekina.com/profile/9Y84-ETVY')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/LPMN-RTAX-ZA48-QR9G')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 飯塚奈緒美
              span.u-fs-s さんに
          span.section-block-content-comment-notice-text.u-fs-s 送ったステキナ紹介文！
      // STEKiNA紹介文
      .review-card
        //
          <div class="review-card-header-stylist ">
          <div class="review-card-header-thumbnail-hairstylist">
          <div class="review-card-header-thumbnail-hairstylist-img"><img src="https://limeapp.s3.amazonaws.com/karte/owner_photo/LP56-RTAX-HAL8-7UBL"/></div>
          <p class="review-card-header-title-tag-img"><img src="https://limehair.jp/wp-https-lime/wp-content/uploads/2019/11/tag-hairstylist.svg"></p>
          </div>
          <div class="review-card-header-title">
          <p class="review-card-header-title-name-hairstylist">
          %= r_recommend.r_account.owner&.name %>
          </p>
        .review-card-header
          .recommend-card-header-thumbnail
            img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/LP56-RTAX-HAL8-7UBL')
            p.recommend-card-header-title-tag.bg-lime-gradient
              | 美容師
          .review-card-header-title
            div
              p.review-card-header-title-name 中村 仁
              p.recommend-card-header-title-salon-name
                | 美容室PUNIM
          .review-card-date 2020/01/19
        .review-card-contents
          .review-card-contents-bunsho
            | オープンから20年以上一緒にやってきた女房のような存在^ ^
            br
            | 責任感が強く、後輩に厳しい面もありますがその分自分にも厳しいです。
            br
            | その姿勢がお客様に伝わるのか指名が多く、長年のお客様が沢山います。
            br
            | 今では社内独立し、本店を切り盛りしています。
          div(style='margin-top:16px;')
            ul.c-tag-middle
              li(key='メンズ マッシュレイヤー')
                a.c-taglist-tag メンズ マッシュレイヤー
              li(key='カウンセリングからのお任せok')
                a.c-taglist-tag カウンセリングからのお任せok
              li(key='大人目style')
                a.c-taglist-tag 大人目style
              li(key='大人カジュアル')
                a.c-taglist-tag 大人カジュアル
              li(key='ツーブロックショート')
                a.c-taglist-tag ツーブロックショート
              li(key='ドライカット')
                a.c-taglist-tag ドライカット
              li(key='クレジット・電子マネー')
                a.c-taglist-tag クレジット・電子マネー
              li(key='女性らしい抜け感ヘア')
                a.c-taglist-tag 女性らしい抜け感ヘア
              li(key='アットホーム')
                a.c-taglist-tag アットホーム
              li(key='ヘッドマッサージ')
                a.c-taglist-tag ヘッドマッサージ
              li(key='絶対的な技術力')
                a.c-taglist-tag 絶対的な技術力
              li(key='インナーカラー')
                a.c-taglist-tag インナーカラー
              li(key='持ちが良い')
                a.c-taglist-tag 持ちが良い
              li(key='信頼していただける技術')
                a.c-taglist-tag 信頼していただける技術
              li(key='一生付き合える')
                a.c-taglist-tag 一生付き合える
              li(key='今までの悩み解決できる')
                a.c-taglist-tag 今までの悩み解決できる
              li(key='カジュアルモード')
                a.c-taglist-tag カジュアルモード
              li(key='健康な肌と髪創り')
                a.c-taglist-tag 健康な肌と髪創り
              li(key='炭酸泉ヘッドスパ')
                a.c-taglist-tag 炭酸泉ヘッドスパ
              li(key='ショートマッシュ')
                a.c-taglist-tag ショートマッシュ
              li(key='何でも得意')
                a.c-taglist-tag 何でも得意
              li(key='楽ちんスタイリング')
                a.c-taglist-tag 楽ちんスタイリング
              li(key='タイトショート')
                a.c-taglist-tag タイトショート
              li(key='メンズスタイル')
                a.c-taglist-tag メンズスタイル
              li(key='全てのジャンルに合わせます')
                a.c-taglist-tag 全てのジャンルに合わせます
              li(key='白髪染め')
                a.c-taglist-tag 白髪染め
              li(key='駐車場あり')
                a.c-taglist-tag 駐車場あり
              li(key='クイックカラー')
                a.c-taglist-tag クイックカラー
              li(key='ワンレングス')
                a.c-taglist-tag ワンレングス
              li(key='シャンプー')
                a.c-taglist-tag シャンプー
              li(key='デザインカット')
                a.c-taglist-tag デザインカット
              li(key='トレンドカラー')
                a.c-taglist-tag トレンドカラー
              li(key='ヘアセット')
                a.c-taglist-tag ヘアセット
              li(key='メンズショート')
                a.c-taglist-tag メンズショート
              li(key='デザインカラー')
                a.c-taglist-tag デザインカラー
              li(key='ナチュラルボブ')
                a.c-taglist-tag ナチュラルボブ
              li(key='マダム')
                a.c-taglist-tag マダム
              li(key='子連れOK')
                a.c-taglist-tag 子連れOK
              li(key='お子様連れ大歓迎')
                a.c-taglist-tag お子様連れ大歓迎
              li(key='ナチュラル')
                a.c-taglist-tag ナチュラル
              li(key='エアリー')
                a.c-taglist-tag エアリー
              li(key='艶髪')
                a.c-taglist-tag 艶髪
              li(key='メンズ')
                a.c-taglist-tag メンズ
              li(key='オーナー')
                a.c-taglist-tag オーナー
              li(key='トップスタイリスト')
                a.c-taglist-tag トップスタイリスト
              li(key='中型店')
                a.c-taglist-tag 中型店
              li(key='しっかり相談')
                a.c-taglist-tag しっかり相談
              li(key='お任せOK')
                a.c-taglist-tag お任せOK
              li(key='オシャレ')
                a.c-taglist-tag オシャレ
              li(key='似合わせ得意')
                a.c-taglist-tag 似合わせ得意
              li(key='面白い')
                a.c-taglist-tag 面白い
              li(key='楽しい')
                a.c-taglist-tag 楽しい
              li(key='くせ毛風')
                a.c-taglist-tag くせ毛風
              li(key='ゆるふわ')
                a.c-taglist-tag ゆるふわ
              li(key='落ち着いた雰囲気')
                a.c-taglist-tag 落ち着いた雰囲気
              li(key='フェミニン')
                a.c-taglist-tag フェミニン
              li(key='大人かわいい')
                a.c-taglist-tag 大人かわいい
              li(key='ストリート')
                a.c-taglist-tag ストリート
              li(key='カジュアル')
                a.c-taglist-tag カジュアル
              li(key='キュート')
                a.c-taglist-tag キュート
              li(key='かわいい')
                a.c-taglist-tag かわいい
              li(key='ショートボブ')
                a.c-taglist-tag ショートボブ
              li(key='黒髪')
                a.c-taglist-tag 黒髪
              li(key='ミディアム')
                a.c-taglist-tag ミディアム
              li(key='ボブ')
                a.c-taglist-tag ボブ
              li(key='マッシュ')
                a.c-taglist-tag マッシュ
              li(key='スーパーロング')
                a.c-taglist-tag スーパーロング
              li(key='セミロング')
                a.c-taglist-tag セミロング
              li(key='ロング')
                a.c-taglist-tag ロング
              li(key='ベリーショート')
                a.c-taglist-tag ベリーショート
              li(key='ショート')
                a.c-taglist-tag ショート
              li(key='ヘッドスパ')
                a.c-taglist-tag ヘッドスパ
              li(key='トリートメント')
                a.c-taglist-tag トリートメント
              li(key='結婚式ヘアアレンジ')
                a.c-taglist-tag 結婚式ヘアアレンジ
              li(key='編み込み')
                a.c-taglist-tag 編み込み
              li(key='ハーフアップ')
                a.c-taglist-tag ハーフアップ
              li(key='ヘアアレンジ')
                a.c-taglist-tag ヘアアレンジ
              li(key='髪質改善')
                a.c-taglist-tag 髪質改善
              li(key='縮毛矯正')
                a.c-taglist-tag 縮毛矯正
              li(key='メンズパーマ')
                a.c-taglist-tag メンズパーマ
              li(key='前髪パーマ')
                a.c-taglist-tag 前髪パーマ
              li(key='パーマ')
                a.c-taglist-tag パーマ
              li(key='ダブルカラー')
                a.c-taglist-tag ダブルカラー
              li(key='グラデーションカラー')
                a.c-taglist-tag グラデーションカラー
              li(key='ブリーチ')
                a.c-taglist-tag ブリーチ
              li(key='ローライト')
                a.c-taglist-tag ローライト
              li(key='ハイライト')
                a.c-taglist-tag ハイライト
              li(key='カラー')
                a.c-taglist-tag カラー
              li(key='キッズカット')
                a.c-taglist-tag キッズカット
              li(key='メンズカット')
                a.c-taglist-tag メンズカット
              li(key='カット')
                a.c-taglist-tag カット
          .review-card-contents-bunsho-readmore
            a(href='lime-community://?url=https://stekina.com/profile/9Y84-ETVY/recommend/50#recommend-section')
              | もっと見る
          .review-card-articleinfo
            // ステキボタン
            .love-button-area
              .love-button.like(data-num-suteki='0', data-num-total-suteki='53', data-r-recommend-id='50')
                .love-button-heart
                  .mask
                    .mask-color(style='height:0%; width:100%;')
                  svg.shape(y='0px', xml:space='preserve', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', id='レイヤー_1', x='0px', version='1.1', viewBox='0 0 30 25')
                    clippath#svgPath
                      path.st0(d='M16.3,0C12.6,0,11,2.7,11,2.7S9.5,0,5.7,0C2.6,0,0,2.7,0,5.9C0,13.1,11,19,11,19s11-5.9,11-13.1 C22,2.7,19.4,0,16.3,0z')
              .love-button-count
                span.love-button-count-span 53
                span ステキ!
              .suteki-counter
                span.suteki-counter-plus +
                span.suteki-counter-number 53
              // flush heart
              .flush-heart
                svg.h.h-1(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#MyGradient(gradientTransform='rotate(-60)')
                      stop(offset='0%', stop-color='#FF595B')
                      stop(offset='100%', stop-color='#E6417A')
                svg.h.h-2(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#Gradient(gradientTransform='rotate(-60)')
                      | >
                      stop(offset='0%', stop-color='#fe8386')
                      stop(offset='100%', stop-color='#ec719c')
                svg.h.h-3(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-4(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-5(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-6(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-7(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-8(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
      .section-block-content-comment-notice
        .section-block-content-comment-notice-people-to-people
          a(href='lime-community://?url=https://stekina.com/profile/F7DZ-2HAD')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/C2DJ-WJX2-GJHJ-5XJV')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 赤間　慎之介
              span.u-fs-s さんが
          a(href='lime-community://?url=https://stekina.com/profile/U55H-2B9M')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/U2VJ-E2X2-YJH2-4NZ5')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 上原卓也
              span.u-fs-s さんに
          span.section-block-content-comment-notice-text.u-fs-s 送ったステキナ紹介文！
      // STEKiNA紹介文
      .review-card
        //
          <div class="review-card-header-stylist ">
          <div class="review-card-header-thumbnail-hairstylist">
          <div class="review-card-header-thumbnail-hairstylist-img"><img src="https://limeapp.s3.amazonaws.com/karte/owner_photo/C2DJ-WJX2-GJHJ-5XJV"/></div>
          <p class="review-card-header-title-tag-img"><img src="https://limehair.jp/wp-https-lime/wp-content/uploads/2019/11/tag-hairstylist.svg"></p>
          </div>
          <div class="review-card-header-title">
          <p class="review-card-header-title-name-hairstylist">
          %= r_recommend.r_account.owner&.name %>
          </p>
        .review-card-header
          .recommend-card-header-thumbnail
            img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/C2DJ-WJX2-GJHJ-5XJV')
            p.recommend-card-header-title-tag.bg-lime-gradient
              | 美容師
          .review-card-header-title
            div
              p.review-card-header-title-name 赤間　慎之介
              p.recommend-card-header-title-salon-name
                | Sany
          .review-card-date 2020/01/16
        .review-card-contents
          .review-card-contents-bunsho
            | 前の職場の後輩ですが、昔から抜群のセンスと、年齢関係なく、人から支持される人間性を持っています。
            br
            br
            | 独立して、どんどんそのセンスに磨きがかかってて、後輩ながら尊敬しています！
            br
            br
            | 一見怖く見える顔も、話せばわかる良いギャップで、更に人を引き寄せるのでしょう笑
            br
            br
            | 後輩で、こあまり自分の髪をやってもらいたい...
          div(style='margin-top:16px;')
            ul.c-tag-middle
              li(key='プライベートサロン')
                a.c-taglist-tag プライベートサロン
              li(key='モード')
                a.c-taglist-tag モード
              li(key='カット')
                a.c-taglist-tag カット
          .review-card-contents-bunsho-readmore
            a(href='lime-community://?url=https://stekina.com/profile/U55H-2B9M/recommend/49#recommend-section')
              | もっと見る
          .review-card-articleinfo
            // ステキボタン
            .love-button-area
              .love-button.like(data-num-suteki='0', data-num-total-suteki='61', data-r-recommend-id='49')
                .love-button-heart
                  .mask
                    .mask-color(style='height:0%; width:100%;')
                  svg.shape(y='0px', xml:space='preserve', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', id='レイヤー_1', x='0px', version='1.1', viewBox='0 0 30 25')
                    clippath#svgPath
                      path.st0(d='M16.3,0C12.6,0,11,2.7,11,2.7S9.5,0,5.7,0C2.6,0,0,2.7,0,5.9C0,13.1,11,19,11,19s11-5.9,11-13.1 C22,2.7,19.4,0,16.3,0z')
              .love-button-count
                span.love-button-count-span 61
                span ステキ!
              .suteki-counter
                span.suteki-counter-plus +
                span.suteki-counter-number 61
              // flush heart
              .flush-heart
                svg.h.h-1(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#MyGradient(gradientTransform='rotate(-60)')
                      stop(offset='0%', stop-color='#FF595B')
                      stop(offset='100%', stop-color='#E6417A')
                svg.h.h-2(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#Gradient(gradientTransform='rotate(-60)')
                      | >
                      stop(offset='0%', stop-color='#fe8386')
                      stop(offset='100%', stop-color='#ec719c')
                svg.h.h-3(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-4(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-5(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-6(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-7(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-8(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
      .section-block-content-comment-notice
        .section-block-content-comment-notice-people-to-people
          a(href='lime-community://?url=https://stekina.com/profile/U55H-2B9M')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/U2VJ-E2X2-YJH2-4NZ5')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 上原卓也
              span.u-fs-s さんが
          a(href='lime-community://?url=https://stekina.com/profile/F7DZ-2HAD')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/C2DJ-WJX2-GJHJ-5XJV')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 赤間　慎之介
              span.u-fs-s さんに
          span.section-block-content-comment-notice-text.u-fs-s 送ったステキナ紹介文！
      // STEKiNA紹介文
      .review-card
        //
          <div class="review-card-header-stylist ">
          <div class="review-card-header-thumbnail-hairstylist">
          <div class="review-card-header-thumbnail-hairstylist-img"><img src="https://limeapp.s3.amazonaws.com/karte/owner_photo/U2VJ-E2X2-YJH2-4NZ5"/></div>
          <p class="review-card-header-title-tag-img"><img src="https://limehair.jp/wp-https-lime/wp-content/uploads/2019/11/tag-hairstylist.svg"></p>
          </div>
          <div class="review-card-header-title">
          <p class="review-card-header-title-name-hairstylist">
          %= r_recommend.r_account.owner&.name %>
          </p>
        .review-card-header
          .recommend-card-header-thumbnail
            img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/U2VJ-E2X2-YJH2-4NZ5')
            p.recommend-card-header-title-tag.bg-lime-gradient
              | 美容師
          .review-card-header-title
            div
              p.review-card-header-title-name 上原卓也
              p.recommend-card-header-title-salon-name
                | narii
          .review-card-date 2020/01/15
        .review-card-contents
          .review-card-contents-bunsho
            | 前職で先輩後輩の間柄でしたが、とっても信頼している先輩です。
            br
            br
            br
            | "尊敬出来る人柄"、話せばわかって頂けると思います🙇‍♂️
            br
            br
            br
            | お客様をとても大事にしていて、仕事にもこだわりがあり、身近な人達も大切にしているのが伝わります。
            br
            br
            br
            | 是非ご紹介したい美容師さんの1人です👏
          .review-card-contents-bunsho-readmore
            a(href='lime-community://?url=https://stekina.com/profile/F7DZ-2HAD/recommend/48#recommend-section')
              | もっと見る
          .review-card-articleinfo
            // ステキボタン
            .love-button-area
              .love-button.like(data-num-suteki='0', data-num-total-suteki='59', data-r-recommend-id='48')
                .love-button-heart
                  .mask
                    .mask-color(style='height:0%; width:100%;')
                  svg.shape(y='0px', xml:space='preserve', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', id='レイヤー_1', x='0px', version='1.1', viewBox='0 0 30 25')
                    clippath#svgPath
                      path.st0(d='M16.3,0C12.6,0,11,2.7,11,2.7S9.5,0,5.7,0C2.6,0,0,2.7,0,5.9C0,13.1,11,19,11,19s11-5.9,11-13.1 C22,2.7,19.4,0,16.3,0z')
              .love-button-count
                span.love-button-count-span 59
                span ステキ!
              .suteki-counter
                span.suteki-counter-plus +
                span.suteki-counter-number 59
              // flush heart
              .flush-heart
                svg.h.h-1(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#MyGradient(gradientTransform='rotate(-60)')
                      stop(offset='0%', stop-color='#FF595B')
                      stop(offset='100%', stop-color='#E6417A')
                svg.h.h-2(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#Gradient(gradientTransform='rotate(-60)')
                      | >
                      stop(offset='0%', stop-color='#fe8386')
                      stop(offset='100%', stop-color='#ec719c')
                svg.h.h-3(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-4(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-5(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-6(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-7(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-8(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
      .section-block-content-comment-notice
        .section-block-content-comment-notice-people-to-people
          a(href='lime-community://?url=https://stekina.com/profile/VAMH-2G3Z')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/U2DJ-W2FJ-G2Z2-5SMH')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 佐藤賢一
              span.u-fs-s さんが
          a(href='lime-community://?url=https://stekina.com/profile/TH84-F8MC')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='/community/assets/default-prof-photo-2400dc4e8cbf71ac262f10eafc65300f6bef81972ead3da75fad9e57b3b4ed5a.png')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 松島 郁恵
              span.u-fs-s さんに
          span.section-block-content-comment-notice-text.u-fs-s 送ったステキナ紹介文！
      // STEKiNA紹介文
      .review-card
        //
          <div class="review-card-header-stylist ">
          <div class="review-card-header-thumbnail-hairstylist">
          <div class="review-card-header-thumbnail-hairstylist-img"><img src="https://limeapp.s3.amazonaws.com/karte/owner_photo/U2DJ-W2FJ-G2Z2-5SMH"/></div>
          <p class="review-card-header-title-tag-img"><img src="https://limehair.jp/wp-https-lime/wp-content/uploads/2019/11/tag-hairstylist.svg"></p>
          </div>
          <div class="review-card-header-title">
          <p class="review-card-header-title-name-hairstylist">
          %= r_recommend.r_account.owner&.name %>
          </p>
        .review-card-header
          .recommend-card-header-thumbnail
            img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/U2DJ-W2FJ-G2Z2-5SMH')
            p.recommend-card-header-title-tag.bg-lime-gradient
              | 美容師
          .review-card-header-title
            div
              p.review-card-header-title-name 佐藤賢一
              p.recommend-card-header-title-salon-name
                | SAKURA
          .review-card-date 2019/12/23
        .review-card-contents
          .review-card-contents-bunsho
            | 同じサロンで働く美容師さんです！似合わせのセンス抜群‼️さらに子供もいるママさん美容師なので子育てのアドバイスなんかも聞けちゃうかも⁉️
          div(style='margin-top:16px;')
            ul.c-tag-middle
              li(key='女性らしい抜け感ヘア')
                a.c-taglist-tag 女性らしい抜け感ヘア
              li(key='かっこいい女')
                a.c-taglist-tag かっこいい女
              li(key='駐車場あり')
                a.c-taglist-tag 駐車場あり
              li(key='トップスタイリスト')
                a.c-taglist-tag トップスタイリスト
              li(key='個人店')
                a.c-taglist-tag 個人店
              li(key='ゆっくりできるサロン')
                a.c-taglist-tag ゆっくりできるサロン
              li(key='モテ・愛され')
                a.c-taglist-tag モテ・愛され
              li(key='前髪パーマ')
                a.c-taglist-tag 前髪パーマ
              li(key='ダブルカラー')
                a.c-taglist-tag ダブルカラー
          .review-card-contents-bunsho-readmore
            a(href='lime-community://?url=https://stekina.com/profile/TH84-F8MC/recommend/47#recommend-section')
              | もっと見る
          .review-card-articleinfo
            // ステキボタン
            .love-button-area
              .love-button.like(data-num-suteki='0', data-num-total-suteki='52', data-r-recommend-id='47')
                .love-button-heart
                  .mask
                    .mask-color(style='height:0%; width:100%;')
                  svg.shape(y='0px', xml:space='preserve', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', id='レイヤー_1', x='0px', version='1.1', viewBox='0 0 30 25')
                    clippath#svgPath
                      path.st0(d='M16.3,0C12.6,0,11,2.7,11,2.7S9.5,0,5.7,0C2.6,0,0,2.7,0,5.9C0,13.1,11,19,11,19s11-5.9,11-13.1 C22,2.7,19.4,0,16.3,0z')
              .love-button-count
                span.love-button-count-span 52
                span ステキ!
              .suteki-counter
                span.suteki-counter-plus +
                span.suteki-counter-number 52
              // flush heart
              .flush-heart
                svg.h.h-1(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#MyGradient(gradientTransform='rotate(-60)')
                      stop(offset='0%', stop-color='#FF595B')
                      stop(offset='100%', stop-color='#E6417A')
                svg.h.h-2(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#Gradient(gradientTransform='rotate(-60)')
                      | >
                      stop(offset='0%', stop-color='#fe8386')
                      stop(offset='100%', stop-color='#ec719c')
                svg.h.h-3(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-4(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-5(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-6(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-7(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-8(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
      .section-block-content-comment-notice
        .section-block-content-comment-notice-people-to-people
          a(href='lime-community://?url=https://stekina.com/profile/AP2Z-3RMM')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/U2D2-W2XJ-GJH2-FG9M')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 森 テイゴ
              span.u-fs-s さんが
          a(href='lime-community://?url=https://stekina.com/profile/K8QL-EZMQ')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/LPM6-RTAX-ZAL8-RY9Q')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 白須智也
              span.u-fs-s さんに
          span.section-block-content-comment-notice-text.u-fs-s 送ったステキナ紹介文！
      // STEKiNA紹介文
      .review-card
        //
          <div class="review-card-header-stylist ">
          <div class="review-card-header-thumbnail-hairstylist">
          <div class="review-card-header-thumbnail-hairstylist-img"><img src="https://limeapp.s3.amazonaws.com/karte/owner_photo/U2D2-W2XJ-GJH2-FG9M"/></div>
          <p class="review-card-header-title-tag-img"><img src="https://limehair.jp/wp-https-lime/wp-content/uploads/2019/11/tag-hairstylist.svg"></p>
          </div>
          <div class="review-card-header-title">
          <p class="review-card-header-title-name-hairstylist">
          %= r_recommend.r_account.owner&.name %>
          </p>
        .review-card-header
          .recommend-card-header-thumbnail
            img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/U2D2-W2XJ-GJH2-FG9M')
            p.recommend-card-header-title-tag.bg-lime-gradient
              | 美容師
          .review-card-header-title
            div
              p.review-card-header-title-name 森 テイゴ
              p.recommend-card-header-title-salon-name
                | APRIS
          .review-card-date 2019/12/17
        .review-card-contents
          .review-card-contents-bunsho
            | 同じサロンで活動してる美容師さんです！
            br
            br
            | いい意味で美容師さんぽくない美容師さんです！笑
            br
            br
            | 美容師さんて、ちょっとお高くとまってツンとしてる人が多い印象があると思いますが白須さんは全くそんなところがありません。
            br
            br
            | 常に同じ目線で、お客様と接している美容師さんです。
            br
            | お客様との会話は髪の毛の事だけにと...
          div(style='margin-top:16px;')
            ul.c-tag-middle
              li(key='心を込めた技術・接客')
                a.c-taglist-tag 心を込めた技術・接客
              li(key='クレジット・電子マネー')
                a.c-taglist-tag クレジット・電子マネー
              li(key='話しやすい')
                a.c-taglist-tag 話しやすい
              li(key='セニングカット')
                a.c-taglist-tag セニングカット
              li(key='寄り添い型')
                a.c-taglist-tag 寄り添い型
              li(key='子連れOK')
                a.c-taglist-tag 子連れOK
              li(key='お子様連れ大歓迎')
                a.c-taglist-tag お子様連れ大歓迎
              li(key='サービス重視')
                a.c-taglist-tag サービス重視
              li(key='面白い')
                a.c-taglist-tag 面白い
              li(key='楽しい')
                a.c-taglist-tag 楽しい
              li(key='キッズカット')
                a.c-taglist-tag キッズカット
              li(key='メンズカット')
                a.c-taglist-tag メンズカット
              li(key='カット')
                a.c-taglist-tag カット
          .review-card-contents-bunsho-readmore
            a(href='lime-community://?url=https://stekina.com/profile/K8QL-EZMQ/recommend/46#recommend-section')
              | もっと見る
          .review-card-articleinfo
            // ステキボタン
            .love-button-area
              .love-button.like(data-num-suteki='0', data-num-total-suteki='56', data-r-recommend-id='46')
                .love-button-heart
                  .mask
                    .mask-color(style='height:0%; width:100%;')
                  svg.shape(y='0px', xml:space='preserve', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', id='レイヤー_1', x='0px', version='1.1', viewBox='0 0 30 25')
                    clippath#svgPath
                      path.st0(d='M16.3,0C12.6,0,11,2.7,11,2.7S9.5,0,5.7,0C2.6,0,0,2.7,0,5.9C0,13.1,11,19,11,19s11-5.9,11-13.1 C22,2.7,19.4,0,16.3,0z')
              .love-button-count
                span.love-button-count-span 56
                span ステキ!
              .suteki-counter
                span.suteki-counter-plus +
                span.suteki-counter-number 56
              // flush heart
              .flush-heart
                svg.h.h-1(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#MyGradient(gradientTransform='rotate(-60)')
                      stop(offset='0%', stop-color='#FF595B')
                      stop(offset='100%', stop-color='#E6417A')
                svg.h.h-2(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#Gradient(gradientTransform='rotate(-60)')
                      | >
                      stop(offset='0%', stop-color='#fe8386')
                      stop(offset='100%', stop-color='#ec719c')
                svg.h.h-3(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-4(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-5(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-6(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-7(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-8(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
      .section-block-content-comment-notice
        .section-block-content-comment-notice-people-to-people
          a(href='lime-community://?url=https://stekina.com/profile/AP2Z-3RMM')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/U2D2-W2XJ-GJH2-FG9M')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 森 テイゴ
              span.u-fs-s さんが
          a(href='lime-community://?url=https://stekina.com/profile/WNN4-F6QG')
            .section-block-content-comment-notice-image.u-icon-prof
              img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/L7M6-RTSF-HAL8-T4EG')
            span.section-block-content-comment-notice-name
              span.u-st-bold.u-fs-s 森永 敏士
              span.u-fs-s さんに
          span.section-block-content-comment-notice-text.u-fs-s 送ったステキナ紹介文！
      // STEKiNA紹介文
      .review-card
        //
          <div class="review-card-header-stylist ">
          <div class="review-card-header-thumbnail-hairstylist">
          <div class="review-card-header-thumbnail-hairstylist-img"><img src="https://limeapp.s3.amazonaws.com/karte/owner_photo/U2D2-W2XJ-GJH2-FG9M"/></div>
          <p class="review-card-header-title-tag-img"><img src="https://limehair.jp/wp-https-lime/wp-content/uploads/2019/11/tag-hairstylist.svg"></p>
          </div>
          <div class="review-card-header-title">
          <p class="review-card-header-title-name-hairstylist">
          %= r_recommend.r_account.owner&.name %>
          </p>
        .review-card-header
          .recommend-card-header-thumbnail
            img(src='https://limeapp.s3.amazonaws.com/karte/owner_photo/U2D2-W2XJ-GJH2-FG9M')
            p.recommend-card-header-title-tag.bg-lime-gradient
              | 美容師
          .review-card-header-title
            div
              p.review-card-header-title-name 森 テイゴ
              p.recommend-card-header-title-salon-name
                | APRIS
          .review-card-date 2019/12/17
        .review-card-contents
          .review-card-contents-bunsho
            | 同じサロンで活動してる美容師さんです。
            br
            | 森永さんを一言で紹介するなら、「神」です！笑
            br
            br
            | 特にヘッドスパにかける情熱は神を超えているかもしれないです。。。
            br
            br
            | とてもじゃないけど僕には理解できない領域のヘッドスパが体験できます。
            br
            | 詳しくは分からないけど、アロマオイルを調合してお客様の身体と心の悩みを解決す...
          div(style='margin-top:16px;')
            ul.c-tag-middle
              li(key='ドライヘッドスパ')
                a.c-taglist-tag ドライヘッドスパ
              li(key='クレジット・電子マネー')
                a.c-taglist-tag クレジット・電子マネー
              li(key='ゆったりとした空間')
                a.c-taglist-tag ゆったりとした空間
              li(key='オタク')
                a.c-taglist-tag オタク
              li(key='完全予約制')
                a.c-taglist-tag 完全予約制
              li(key='寄り添い型')
                a.c-taglist-tag 寄り添い型
              li(key='一対一の安心施術&接客')
                a.c-taglist-tag 一対一の安心施術&接客
              li(key='完全予約のマンツーマン')
                a.c-taglist-tag 完全予約のマンツーマン
              li(key='アロマセラピー')
                a.c-taglist-tag アロマセラピー
              li(key='しっかり相談')
                a.c-taglist-tag しっかり相談
              li(key='ゆっくりできるサロン')
                a.c-taglist-tag ゆっくりできるサロン
              li(key='リラクゼーション')
                a.c-taglist-tag リラクゼーション
              li(key='リラックス')
                a.c-taglist-tag リラックス
              li(key='マンツーマン')
                a.c-taglist-tag マンツーマン
              li(key='ヘッドスパ')
                a.c-taglist-tag ヘッドスパ
          .review-card-contents-bunsho-readmore
            a(href='lime-community://?url=https://stekina.com/profile/WNN4-F6QG/recommend/45#recommend-section')
              | もっと見る
          .review-card-articleinfo
            // ステキボタン
            .love-button-area
              .love-button.like(data-num-suteki='0', data-num-total-suteki='53', data-r-recommend-id='45')
                .love-button-heart
                  .mask
                    .mask-color(style='height:0%; width:100%;')
                  svg.shape(y='0px', xml:space='preserve', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', id='レイヤー_1', x='0px', version='1.1', viewBox='0 0 30 25')
                    clippath#svgPath
                      path.st0(d='M16.3,0C12.6,0,11,2.7,11,2.7S9.5,0,5.7,0C2.6,0,0,2.7,0,5.9C0,13.1,11,19,11,19s11-5.9,11-13.1 C22,2.7,19.4,0,16.3,0z')
              .love-button-count
                span.love-button-count-span 53
                span ステキ!
              .suteki-counter
                span.suteki-counter-plus +
                span.suteki-counter-number 53
              // flush heart
              .flush-heart
                svg.h.h-1(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#MyGradient(gradientTransform='rotate(-60)')
                      stop(offset='0%', stop-color='#FF595B')
                      stop(offset='100%', stop-color='#E6417A')
                svg.h.h-2(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                  defs
                    lineargradient#Gradient(gradientTransform='rotate(-60)')
                      | >
                      stop(offset='0%', stop-color='#fe8386')
                      stop(offset='100%', stop-color='#ec719c')
                svg.h.h-3(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-4(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-5(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-6(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-7(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
                svg.h.h-8(height='40', width='40', viewBox='0 0 320 320')
                  path.path(d='M 160 145 c 15 -90 170 -20 0 90 m 0 -90 c -15 -90 -170 -20 0 90')
      .u-ta-right.u-fs-s
        a.u-cl-lime.u-st-nounderline(href='/community/recommends') ステキナ紹介文をもっと見る>
      // コンバージョン
