doctype html
html(lang='jp')
  head
    title 住んでいる地域を登録しよう！
    link(href='static/css/application.css?'+dateNow rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
  body.A-mykarte-tutorial-02.bg-gray-lightest(data-action='tutorial', data-controller='ken')
    .mykarte-tutorial-wrapper-02
      form
        .mykarte-tutorial-02-section
          .mykarte-tutorial-02-title
            |住んでいる地域を
            br
            |登録しよう！
          .mykarte-tutorial-02-block-note.mykarte-tutorial-02-block-note-margin-top20
                    |美容師さんはわざわざ通ってくれる事に
                    br
                    |感謝しているものです。
          .mykarte-tutorial-02-block
              .mykarte-tutorial-02-block-title-center
                  .mykarte-tutorial-02-block-title-center-left
                  .mykarte-tutorial-02-block-title-center-center
                    |郵便番号
                  .mykarte-tutorial-02-block-title-center-right
                    |必須
              .mykarte-tutorial-02-block-input-text
                    input(name='postcode', type='number', value='', placeholder='123-4567', required='')
          .mykarte-tutorial-02-block
              .mykarte-tutorial-02-block-title-center
                  .mykarte-tutorial-02-block-title-center-left
                  .mykarte-tutorial-02-block-title-center-center
                    |都道府県
                  .mykarte-tutorial-02-block-title-center-right
                    |必須
              .mykarte-tutorial-02-block-select
                  select(name='pref_name')
                    option(value='', selected='') 未選択
                    option(value='北海道') 北海道
                    option(value='青森県') 青森県
                    option(value='岩手県') 岩手県
                    option(value='宮城県') 宮城県
                    option(value='秋田県') 秋田県
                    option(value='山形県') 山形県
                    option(value='福島県') 福島県
                    option(value='茨城県') 茨城県
                    option(value='栃木県') 栃木県
                    option(value='群馬県') 群馬県
                    option(value='埼玉県') 埼玉県
                    option(value='千葉県') 千葉県
                    option(value='東京都') 東京都
                    option(value='神奈川県') 神奈川県
                    option(value='新潟県') 新潟県
                    option(value='富山県') 富山県
                    option(value='石川県') 石川県
                    option(value='福井県') 福井県
                    option(value='山梨県') 山梨県
                    option(value='長野県') 長野県
                    option(value='岐阜県') 岐阜県
                    option(value='静岡県') 静岡県
                    option(value='愛知県') 愛知県
                    option(value='三重県') 三重県
                    option(value='滋賀県') 滋賀県
                    option(value='京都府') 京都府
                    option(value='大阪府') 大阪府
                    option(value='兵庫県') 兵庫県
                    option(value='奈良県') 奈良県
                    option(value='和歌山県') 和歌山県
                    option(value='鳥取県') 鳥取県
                    option(value='島根県') 島根県
                    option(value='岡山県') 岡山県
                    option(value='広島県') 広島県
                    option(value='山口県') 山口県
                    option(value='徳島県') 徳島県
                    option(value='香川県') 香川県
                    option(value='愛媛県') 愛媛県
                    option(value='高知県') 高知県
                    option(value='福岡県') 福岡県
                    option(value='佐賀県') 佐賀県
                    option(value='長崎県') 長崎県
                    option(value='熊本県') 熊本県
                    option(value='大分県') 大分県
                    option(value='宮崎県') 宮崎県
                    option(value='鹿児島県') 鹿児島県
                    option(value='沖縄県') 沖縄県

          .mykarte-tutorial-02-block
              .mykarte-tutorial-02-block-title
                |住所１
              .mykarte-tutorial-02-block-input-textarea
                    textarea(name='address-01' placeholder='港区南青山1-2-3' rows='3' cols='38')
          .mykarte-tutorial-02-block
              .mykarte-tutorial-02-block-title
                |住所２
              .mykarte-tutorial-02-block-input-textarea
                    textarea(name='address-02' placeholder='Aマンション105号' rows='3' cols='38')
          .mykarte-tutorial-02-block-note.mykarte-tutorial-02-block-note-margin-top20
            |遠くから通っている場合
            br
            |何かサービスをしてくれるかも？
        //▼▼▼submit
        //onclickはあくまで確認用の設定、実際は取ってOK
        button.button-tutorial-submit.button-tutorial-submit-active(type='button', onclick="location.href='mykarte-tutorial-05.html'") 次へ
