- var dateNow = Date.now();
doctype html
html(lang='jp')
  head
    title STEKiNA
    link(href='static/css/stekina-discount.css?'+dateNow, rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  body.media-stekina
    .fixed-button-bottom
      a(href='https://stekina.com/user/matching/step1')
       img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/media-find-fixed-button-text.png')
    .wrapper-stekina-media             
      .stekina-media-mv
          .stekina-media-head-top
            h1.stekina-media-head-center
              img(src='https://stekina.com/public/static/img/common/stekina-logo-white.svg' alt='STEKiNA(ステキナ)')
            .stekina-media-head-right
              img(src='https://stekina.com/public/static/img/common/icn-menu.svg' alt='STEKiNA(ステキナ)') 
          .stekina-media-mv-maintext
            |一生付き合える
            br
            |美容師に出会おう
          .stekina-media-mv-subtext
            |安心して任せられる美容師をみつけて
            br
            |ステキなヘアライフを送ろう！    
          .stekina-media-mv-bg
           img(src='https://stekina.com/wp-content/uploads/model.jpg')
      .stekina-media-introduction.bg-brown
        .stekina-media-introduction-video
          .stekina-media-introduction-video-speech
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/speech-aisho.png')
          .stekina-media-introduction-video-main
              video.js-kv.is-port(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/RPReplay_Final1585898616.mp4', poster='', playsinline='', muted='', autoplay='', loop='', style='width:100%; margin:0 0 -10px')   
          .stekina-media-introduction-video-bg
            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/media-iphone8-device.png')
      .stekina-media-recommend-ai.bg-brown
            .stekina-media-recommend-ai-title
               |AIがあなたに
               br
               |あった美容師を紹介
            .stekina-media-recommend-ai-img
                img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/lime-kun-top.png') 
            .stekina-media-recommend-ai-img.stekina-media-recommend-ai-img-fukidashi
              a(href='https://stekina.com/user/matching/step1')
                img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/lime-kun-fukidashi.png')         
      .stekina-media-about-stekina
          .stekina-media-about-stekina-img
            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/media-about-stekina.jpg')     
          .stekina-media-about-stekina-text
           |ステキナはあなたと相性の
           br
           |良い美容師に出会える場所
          .stekina-media-about-stekina-button
           a(href='https://stekina.com/stekina.html')
            |STEKiNAとは？
      .stekina-media-suteki-stylist-of-japan.bg-brown
         img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/dummy-ranking.jpg')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.inview/1.0.0/jquery.inview.js')
    script.
      $(function() {
      var topBtn = $('.fixed-button-bottom');
      //スクロールが500に達したらボタン表示
      $(window).scroll(function () {
      if ($(this).scrollTop() > 1500) {
      topBtn.fadeIn();
      } else {
      topBtn.fadeOut();
      }
      });
      });
    //script.
      $('.stekina-media-about-stekina-text').on('inview', function() {
           //ブラウザの表示域に表示されたときに実行する処理
           $(this).animate({
                  fontSize: "5em"
           },1500);
      });
    script(type='text/javascript').
      $(function() {
      $(window).scroll(function() {
      $('.stekina-media-recommend-ai-img-fukidashi').each(function() {
      var elemPos = $(this).offset().top;
      var scroll = $(window).scrollTop();
      var windowHeight = $(window).height();
      if (scroll > elemPos - windowHeight - 100) {
      $(this).addClass('bounceIn');
      topBtn.fadeIn();
      //$(this).fadeOut();
      }
      });
      });
      });
