- var dateNow = Date.now();
doctype html
html(lang='jp')
  head
    title STEKiNAãƒ¡ãƒ‡ã‚£ã‚¢
    link(href='https://stekina.com/community/assets/application-0cd9ef953e92fafda8f69d7c040ac2075963fa2d6ccc579def5db048df82c04c.css' rel='stylesheet')
    link(href='static/css/stekina-discount.css?'+dateNow, rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  body.stekina-brown-light
   .wrapper-cl-white
    .wrapper-stekina-media             
      //ðŸ‘‡å…¨å›½ã®ã‚¹ãƒ†ã‚­ãªç¾Žå®¹å¸«ä¸€è¦§
      section.stekina-media-section.bg-brown
       div.stekina-media-section-titlearea
          h2.stekina-media-section-titlearea-h2|å…¨å›½ã®ã‚¹ãƒ†ã‚­ãªç¾Žå®¹å¸«ä¸€è¦§
          div.stekina-media-section-titlearea-despection
             .stekina-media-section-area-despection-number
               |â‘ 
             .stekina-media-section-area-despection-text
               |AIã®ç”Ÿæˆã—ãŸã‚¢ãƒ«ã‚´ãƒªã‚ºãƒ ã«ã‚ˆã‚Šã€ŒãŠå®¢æ§˜ã«æ”¯æŒã•ã‚Œæ„›ã•ã‚Œã¦ã„ã‚‹ç¾Žå®¹å¸«ã€ãŒãƒ©ãƒ³ã‚­ãƒ³ã‚°å½¢å¼ã§è¡¨ç¤ºã•ã‚Œã¦ã„ã¾ã™ã€‚
          div.stekina-media-section-titlearea-despection
             .stekina-media-section-area-despection-number
               |â‘¡
             .stekina-media-section-area-despection-text
               |ã‚³ãƒãƒ©ã®ãƒ©ãƒ³ã‚­ãƒ³ã‚°ã¯æ¯Žæ—¥æ›´æ–°ã•ã‚Œã¾ã™
       .stekina-media-section-contents
         .card-wrapper
            include _media-stekina-stylists.pug
            .stekina-media-section-pagenation-backnext
              .stekina-media-section-pagenation-left
                .stekina-media-section-pagenation-button
                  a.u-icn-arrow-back-after(href='media-stekina.html') å‰ã®20ä»¶
              .stekina-media-section-pagenation-center-space
              .stekina-media-section-pagenation-right
                .stekina-media-section-pagenation-button
                  a.u-icn-arrow-next-after(href='#') æ¬¡ã®20ä»¶
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script.
      $(function() {
      var topBtn = $('.fixed-button-bottom');
      //ã‚¹ã‚¯ãƒ­ãƒ¼ãƒ«ãŒ500ã«é”ã—ãŸã‚‰ãƒœã‚¿ãƒ³è¡¨ç¤º
      $(window).scroll(function () {
      if ($(this).scrollTop() > 1500) {
      topBtn.fadeIn();
      } else {
      topBtn.fadeOut();
      }
      });
      });
    script(type='text/javascript').
      $(function() {
      $(window).scroll(function() {
      $('.stekina-media-recommend-ai-img-fukidashi').each(function() {
      var elemPos = $(this).offset().top;
      var scroll = $(window).scrollTop();
      var windowHeight = $(window).height();
      if (scroll > elemPos - windowHeight - 100) {
      $(this).addClass('bounceIn');
      topBtn.fadeIn();
      //$(this).fadeOut();
      }
      });
      });
      });
