- var dateNow = Date.now();
doctype html
html(lang='jp')
  head
    title STEKiNAメディア
    link(href='https://stekina.com/community/assets/application-0cd9ef953e92fafda8f69d7c040ac2075963fa2d6ccc579def5db048df82c04c.css' rel='stylesheet')
    link(href='static/css/stekina-discount.css?'+dateNow, rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  body.media-stekina
    .fixed-button-bottom
      a(href='https://stekina.com/user/matching/step1')
       img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/media-find-fixed-button-text.png')
    .wrapper-stekina-media             
      .stekina-media-mv
          .stekina-media-head-top
            h1.stekina-media-head-center
              img(src='https://stekina.com/public/static/img/common/stekina-logo-white.svg' alt='STEKiNA(ステキナ)')
            .stekina-media-head-right
              img(src='https://stekina.com/public/static/img/common/icn-menu.svg' alt='STEKiNA(ステキナ)') 
          .stekina-media-mv-maintext
            |一生付き合える
            br
            |美容師に出会おう
          .stekina-media-mv-subtext
            |安心して任せられる美容師をみつけて
            br
            |ステキなヘアライフを送ろう！    
          .stekina-media-mv-bg
           img(src='https://stekina.com/wp-content/uploads/model.jpg')
      .stekina-media-introduction.bg-brown
        .stekina-media-introduction-video
          .stekina-media-introduction-video-speech
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/speech-aisho.png')
          .stekina-media-introduction-video-main
              video.js-kv.is-port(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/RPReplay_Final1585898616.mp4', poster='', playsinline='', muted='', autoplay='', loop='', style='width:100%; margin:0 0 -10px')   
          .stekina-media-introduction-video-bg
            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/media-iphone8-device.png')
      .stekina-media-recommend-ai.bg-brown
            .stekina-media-recommend-ai-title
               |AIがあなたに
               br
               |あった美容師を紹介
            .stekina-media-recommend-ai-img
                img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/lime-kun-top.png') 
            .stekina-media-recommend-ai-img.stekina-media-recommend-ai-img-fukidashi
              a(href='https://stekina.com/user/matching/step1')
                img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/lime-kun-fukidashi.png')         
      .stekina-media-about-stekina
          .stekina-media-about-stekina-img
            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/media-about-stekina.jpg')     
          .stekina-media-about-stekina-text
           |ステキナはあなたと相性の
           br
           |良い美容師に出会える場所
          .stekina-media-about-stekina-button
           a(href='https://stekina.com/stekina.html')
            |STEKiNAとは？
      section.stekina-media-section.bg-brown
       div.stekina-media-section-titlearea
          h2.stekina-media-section-titlearea-h2|美容プロに評価されている美容師
          div.stekina-media-section-titlearea-despection
             .stekina-media-section-area-despection-number
               |①
             .stekina-media-section-area-despection-text
               |AIの生成したアルゴリズムにより「お客様に支持され愛されている美容師」がランキング形式で表示されています。
          div.stekina-media-section-titlearea-despection
             .stekina-media-section-area-despection-number
               |②
             .stekina-media-section-area-despection-text
               |コチラのランキングは毎日更新されます
       .stekina-media-section-contents
         .card-wrapper
           .c-card
              .c-card-link
                a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
              .c-card-salonname i.hair
              .c-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/0?etag=24b94a3253a1f911f1d8c387e2e130ff");')
                .c-card-header-image
                  img(alt='Image', src='https://limeapp.s3.amazonaws.com/karte/owner_photo/B345-N789-SUVW-C3A3')
                .c-card-header-name
                  .c-card-header-name-txt.c-card-header-name-txt-over 山内大成
              ul.c-card-content-stylist
                li.c-card-content-stylist-value.c-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
                li.c-card-content-stylist-value.c-card-content-stylist-value-two 歴8年
                li.c-card-content-stylist-value.c-card-content-stylist-value-three 平均-円
              .c-card-stylephoto
                .c-card-stylephoto-left
                  img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/1?etag=e8198d43816efc25ebe6866268fd10de')
                .c-card-stylephoto-right
                  img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/2?etag=e4871fff82562737a29102156a855ae9')
              .c-card-content
                ul.c-tag-small
                  li
                    a(href='#') カット
                  li
                    a(href='#') パーマ
                  li
                    a(href='#') ミディアム
                  li
                    a(href='#') ショートボブ
                  li
                    a(href='#') くせ毛
                  li
                    a(href='#') 直毛
                  li
                    a(href='#') かわいい
                  li
                    a(href='#') モテ・愛され
                  li
                    a(href='#') 個室サロン
                  li
                    a(href='#') オーナー
              .c-card-footer-count
                .c-card-footer-count-column
                  .c-card-footer-count-column-img
                    img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
                  .c-card-footer-count-column-text 9999
                .c-card-footer-count-column
                  .c-card-footer-count-column-img
                    img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
                  .c-card-footer-count-column-text 9999
                .c-card-footer-count-column
                  .c-card-footer-count-column-img
                    img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
                  .c-card-footer-count-column-text 9999         
           .c-card
              .c-card-link
                a(href='https://stekina.com/profile/CHSD-TAE3?stype=lp?footer-hide=true')
              .c-card-salonname ＩＪＫ OMOTESANDO
              .c-card-header(style='background-image:url("https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/B345-N789-SUVW-C3A3/0?etag=24b94a3253a1f911f1d8c387e2e130ff");')
                .c-card-header-image
                  img(alt='Image', src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3WLF-5365-P48V-5NF2?timestamp=1583483889225')
                .c-card-header-name
                  .c-card-header-name-txt.c-card-header-name-txt-over カワイ ミオ
              ul.c-card-content-stylist
                li.c-card-content-stylist-value.c-card-content-stylist-value-one 渋谷区神宮前3-42-2 VORT III ２Ｆ C
                li.c-card-content-stylist-value.c-card-content-stylist-value-two 歴8年
                li.c-card-content-stylist-value.c-card-content-stylist-value-three 平均-円
              .c-card-stylephoto
                .c-card-stylephoto-left
                  img(alt='Image', src='http://ijk-hair.com/upload/tenant_1/abb93b48f23933bb23f41958da8bbfb9.jpg')
                .c-card-stylephoto-right
                  img(alt='Image', src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGZANh9crdf-oxmfS716Xs5i23g1Hvdo2V1yBLVdhCcz77XK_l&usqp=CAU')
              .c-card-content
                ul.c-tag-small
                  li
                    a(href='#') カット
                  li
                    a(href='#') パーマ
                  li
                    a(href='#') ミディアム
                  li
                    a(href='#') ショートボブ
                  li
                    a(href='#') くせ毛
                  li
                    a(href='#') 直毛
                  li
                    a(href='#') かわいい
                  li
                    a(href='#') モテ・愛され
                  li
                    a(href='#') 個室サロン
                  li
                    a(href='#') オーナー
              .c-card-footer-count
                .c-card-footer-count-column
                  .c-card-footer-count-column-img
                    img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_suteki_4d4d4d.svg')
                  .c-card-footer-count-column-text 9999
                .c-card-footer-count-column
                  .c-card-footer-count-column-img
                    img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_follower_4d4d4d.svg')
                  .c-card-footer-count-column-text 9999
                .c-card-footer-count-column
                  .c-card-footer-count-column-img
                    img(alt='Image', src='https://stekina.com/wp-content/uploads/icn_card_comment_4d4d4d.svg')
                  .c-card-footer-count-column-text 9999 
      section.stekina-media-section.bg-white
       .stekina-media-section-titlearea
          h2.stekina-media-section-titlearea-h2|美容プロに評価されている美容師
       .stekina-media-section-contents
         include _media-stekina-limecommunity.pug
      section.stekina-media-section.bg-white
       .stekina-media-section-titlearea
          h2.stekina-media-section-titlearea-h2|お客様に愛されている美容師
       .stekina-media-section-contents
         include _media-stekina-reviews.pug
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.inview/1.0.0/jquery.inview.js')
    script.
      $(function() {
      var topBtn = $('.fixed-button-bottom');
      //スクロールが500に達したらボタン表示
      $(window).scroll(function () {
      if ($(this).scrollTop() > 1500) {
      topBtn.fadeIn();
      } else {
      topBtn.fadeOut();
      }
      });
      });
    script(type='text/javascript').
      $(function() {
      $(window).scroll(function() {
      $('.stekina-media-recommend-ai-img-fukidashi').each(function() {
      var elemPos = $(this).offset().top;
      var scroll = $(window).scrollTop();
      var windowHeight = $(window).height();
      if (scroll > elemPos - windowHeight - 100) {
      $(this).addClass('bounceIn');
      topBtn.fadeIn();
      //$(this).fadeOut();
      }
      });
      });
      });
