doctype html
html(lang='jp')
  head
    title 住んでいる地域を登録しよう！
    link(href='static/css/application.css?'+dateNow rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
  body.bg-gray-lightest(data-action='tutorial', data-controller='ken')
    .mykarte-tutorial-wrapper-02
      form
       .mykarte-tutorial-02-title
         |住んでいる地域を
         br
         |登録しよう！
       .mykarte-tutorial-02-block
          .mykarte-tutorial-02-block-title-center
              .mykarte-tutorial-02-block-title-center-left
              .mykarte-tutorial-02-block-title-center-center
                |郵便番号
              .mykarte-tutorial-02-block-title-center-right
                |必須
          .mykarte-tutorial-02-block-input-text
                input(name='postcode', type='number', value='', placeholder='123-4567', required='')
       .mykarte-tutorial-02-block
          .mykarte-tutorial-02-block-title-center
              .mykarte-tutorial-02-block-title-center-left
              .mykarte-tutorial-02-block-title-center-center
                |都道府県
              .mykarte-tutorial-02-block-title-center-right
                |必須
          .mykarte-tutorial-02-block-select
              //県の値はLiMEとかで使っているパラメータを入れてくださいっ
              select(name='pref_name')
                option(value='', selected='') 未選択
                option(value='北海道') 北海道
                option(value='青森県') 青森県
                option(value='岩手県') 岩手県
                option(value='宮城県') 宮城県
                option(value='秋田県') 秋田県
                option(value='山形県') 山形県
                option(value='福島県') 福島県
       .mykarte-tutorial-02-block
          .mykarte-tutorial-02-block-title
            |住所１
          .mykarte-tutorial-02-block-input-textarea
                textarea(name='address-01' placeholder='港区南青山1-2-3' rows='3' cols='38')
       .mykarte-tutorial-02-block
          .mykarte-tutorial-02-block-title
            |住所２
          .mykarte-tutorial-02-block-input-textarea
                textarea(name='address-02' placeholder='Aマンション105号' rows='3' cols='38')
       .mykarte-tutorial-02-block-note.mykarte-tutorial-02-block-note-margin-top20
            |遠くから通っている場合
            br
            |何かサービスをしてくれるかも？
       //▼▼▼submit
       //onclickはあくまで確認用の設定、実際は取ってOK
       button.button-tutorial-submit.button-tutorial-submit-active(type='button', onclick="location.href='mykarte-tutorial-05.html'") 次へ
