mixin request-wrapper-block
    .request-wrapper-block
      .request-wrapper-block-link
            a(href="mykarte-profile-request-detail.html")
             |link
      if block
        block
      else
        p No content provided
doctype html
html(lang='jp')
  head
    title 髪質
    link(href='static/css/application.css?'+dateNow rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')

  body.bg-gray-lightest(data-action='tutorial', data-controller='ken')
    //.dummy-header(style="")
      img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/01/header-mykarte.png')
    .wrapper-mykarte-profile
      .request-wrapper
        +request-wrapper-block()
            .request-wrapper-block-title
              |サロンでの過ごす時間は
            .request-wrapper-block-value
              |ゆっくりくつろぎたい
        +request-wrapper-block()
            .request-wrapper-block-title
              |スタッフとの会話について
            .request-wrapper-block-value
              |普通で良い
        +request-wrapper-block()
            .request-wrapper-block-title
              |シャンプー時の会話について
            .request-wrapper-block-value
              |静かに寝ていたい
        +request-wrapper-block()
            .request-wrapper-block-title
              |希望のヘアスタイルを伝えるのは苦手ですか？
            .request-wrapper-block-value
              |YES：うまく伝わらない
        +request-wrapper-block()
            .request-wrapper-block-title
              |どのようなカウンセリングが良いですか？
            .request-wrapper-block-value
              |ある程度任せたい
      .request-wrapper
        +request-wrapper-block()
            .request-wrapper-block-title
              |髪質での悩みはありますか？
            .request-wrapper-block-value
              |くせ毛：ふくらむ：その他
              br
              //16文字超過したら[...]にする
              //テキストフィールドに書いた文
              |髪が多くて扱いが大変です。どうにか..
        +request-wrapper-block()
            .request-wrapper-block-title
              |シャンプーの時間は
            .request-wrapper-block-value
              |その時による
        +request-wrapper-block()
            .request-wrapper-block-title
              |シャンプーの力加減は
            .request-wrapper-block-value
              |しっかり強めが好き
        +request-wrapper-block()
            .request-wrapper-block-title
              |今までにカラー剤等でヒリヒリしたことは？
            .request-wrapper-block-value
              //16文字超過したら[...]にする
              |YES：パーマ液が頭皮に着くと痛く..
        +request-wrapper-block()
            .request-wrapper-block-title
              |お帰りの際は
            .request-wrapper-block-value
              |スタイリング剤をつけて良い：巻いて欲しい
      .request-wrapper
        +request-wrapper-block()
            .request-wrapper-block-title
              |普段お使いのシャンプーは
            .request-wrapper-block-value
              //16文字超過したら[...]にする
              //テキストフィールドに書いた文
              |モエモエ
        +request-wrapper-block()
            .request-wrapper-block-title
              |お使いのスタイリング剤やヘアオイルは
            .request-wrapper-block-value
              //16文字超過したら[...]にする
              //テキストフィールドに書いた文
              |モロッカンオイル
        +request-wrapper-block()
            .request-wrapper-block-title
              |自宅でスタイリングやヘアセットはしますか？
            .request-wrapper-block-value
              //複数選択時に16文字超過したら[...]にする
              |丸いコテアイロンを使います：スタ..
        +request-wrapper-block()
            .request-wrapper-block-title
              |自宅でのスタイリングで悩みはありますか？
            .request-wrapper-block-value
              //16文字超過したら[...]にする
              //テキストフィールドに書いた文
              |何をしたらいいかわからない
        +request-wrapper-block()
            .request-wrapper-block-title
              |ホームケア用品やスタイリング剤のご案内は必要？
            .request-wrapper-block-value
              |教えて欲しいです
        +request-wrapper-block()
            .request-wrapper-block-title
              |１日のうち、髪を濡らすタイミングはいつですか？
            .request-wrapper-block-value
              |朝必ず濡らしますor朝風呂派です
      .request-wrapper
        +request-wrapper-block()
            .request-wrapper-block-title
              |今までの美容室での失敗談や不快な体験について
            .request-wrapper-block-value
              //16文字超過したら[...]にする
              //テキストフィールドに書いた文
              |スタッフの匂いが嫌だった
        +request-wrapper-block()
            .request-wrapper-block-title
              |その他、要望やお悩みなど
            .request-wrapper-block-value
              //85文字超過したら[...]にする
              //テキストフィールドに書いた文
              |とにかく髪の量が多くて困っています。すきすぎてもやりづらいですし、でもある程度軽くしないと扱えません。ストレードパーマはもうかけたくないので、カットでなんとかしたいです。
    