mixin mystylist-columns-02-button
 button(type='button', onclick="location.href='index.html'") 
  .mystylist-columns-02-icon
    img(src='https://stekina.com/wp-content/uploads/icn-couseling.png')
  .mystylist-columns-02-text|相談メッセージ
doctype html
html(lang='jp')
  head
    title マイカルテ一覧
    link(href='static/css/application.css?'+dateNow rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  body.bg-gray-lightest(data-action='tutorial', data-controller='ken')
      #barba-wrapper
        .barba-container
            .common-dialog-mykarte#confirm-reserve(style='display:none !important;')
              .common-dialog-mykarte-title
                |何を確認しますか？
              .common-dialog-mykarte-button.common-dialog-mykarte-button-normal
                a(href='#')
                  |予約のメッセージを確認
              .common-dialog-mykarte-button.common-dialog-mykarte-button-normal
                a(href='https://goo.gl/maps/wmP7ZTFjtsuENYtFA')
                  |サロンまでのマップを表示
              .common-dialog-mykarte-finish
                  a.close-mykarte-archive-list-link(href='#')
                    |戻る
            .common-dialog-mykarte-bg(style='display:none;')
            //.common-dialog-mykarte-bg(style='display:none;')
            .dummy-header(style="")
              img(src='https://stekina.com/wp-content/uploads/dummy-header.jpg')
            .wrapper-mykarte-list(style='padding: 42% 0 0;')
                //予約中に表示のもの
                //p(style='margin:0 0 30px;')|メモ※カルテがないときの表記も必要
                .common-mykarte-archive-list

                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a.barba-click(href='mykarte-profile-karte-detail.html')|カルテ詳細へ
                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/02/yoko3_1.jpg')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3W4X-M365-7L8V-4URE?timestamp=1572490888336')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |楠美江莉子
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |Lily
                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-old
                            |過去の髪型を確認する→  
                .common-mykarte-archive-list

                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a.barba-click(href='mykarte-profile-karte-detail.html')|カルテ詳細へ
                    
                    //.common-mykarte-archive-list-overray
                      .common-mykarte-archive-overray-list-title
                        |まだ予約確定していません！
                      .common-mykarte-archive-overray-list-text
                        |タップして予約の確認！
                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/02/yoko2_1.jpg')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3W4X-M365-7L8V-4URE?timestamp=1572490888336')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |楠美江莉子
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |Lily
                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-old
                            |過去の髪型を確認する→  
                .common-mykarte-archive-list
                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a.barba-click(href='mykarte-profile-karte-detail.html')|カルテ詳細へ

                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/02/yoko1_1.jpg')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |愛澤直人
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |GO TODAY SHAiRE SALON
                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-old
                            |過去の髪型を確認する→  
                .common-mykarte-archive-list
                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a.barba-click(href='mykarte-profile-karte-detail.html')|カルテ詳細へ
                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                           img(src='https://stekina.com/wp-content/uploads/default-karte-image-middle.png')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |愛澤直人
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |GO TODAY SHAiRE SALON
                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-old
                            |過去の髪型を確認する→  
                .common-mykarte-archive-list
                  .common-mykarte-archive-list-status.common-mykarte-archive-list-status-reserve
                    |予約中
                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a.open-common-dialog-mykarte(href='#')|カルテ詳細へ
                    .common-mykarte-archive-list-overray
                      .common-mykarte-archive-overray-list-title
                        |まだ予約確定していません！
                      .common-mykarte-archive-overray-list-text
                        |タップして予約の確認！
                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                            img(src='https://stekina.com/wp-content/uploads/default-karte-image-middle.png')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |愛澤直人
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |GO TODAY SHAiRE SALON

                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-reserve
                            |予約を確認する→
                .common-mykarte-archive-list
                  .common-mykarte-archive-list-status.common-mykarte-archive-list-status-reserve
                    |予約中
                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a.open-common-dialog-mykarte(href='#')|カルテ詳細へ
                    .common-mykarte-archive-list-overray
                      .common-mykarte-archive-overray-list-title
                        |予約日時が変更されました
                      .common-mykarte-archive-overray-list-text
                        |タップして日時の確認！
                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                            img(src='https://stekina.com/wp-content/uploads/default-karte-image-middle.png')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |愛澤直人
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |GO TODAY SHAiRE SALON

                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-reserve
                            |予約を確認する→
                .common-mykarte-archive-list
                  .common-mykarte-archive-list-status.common-mykarte-archive-list-status-reserve
                    img(src='https://stekina.com/wp-content/uploads/icn-mail.png')
                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a.open-common-dialog-mykarte(href='#')|カルテ詳細へ
                    .common-mykarte-archive-list-overray
                      .common-mykarte-archive-overray-list-title
                        |ヘアスタイル写真
                        br
                        |が届いています！
                      .common-mykarte-archive-overray-list-text
                        |タップして確認しよう！
                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/02/yoko2_1.jpg')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |愛澤直人
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |GO TODAY SHAiRE SALON
                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-old
                            |過去の髪型を確認する→  
                .common-mykarte-archive-list
                  .common-mykarte-archive-list-status.common-mykarte-archive-list-status-reserve
                    |予約中
                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a.open-common-dialog-mykarte(href='#')|カルテ詳細へ
                    .common-mykarte-archive-status-list-icon.common-mykarte-archive-status-list-icon-adujusting
                          |予約中
                    .common-mykarte-archive-list-overray
                      .common-mykarte-archive-overray-list-title
                        |4月3日13:00〜の
                        br
                        |メニューが変更されました
                      .common-mykarte-archive-overray-list-text
                        |タップしてメニューの確認！
                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                            img(src='https://stekina.com/wp-content/uploads/default-karte-image-middle.png')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |愛澤直人
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |GO TODAY SHAiRE SALON
                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-old
                            |過去の髪型を確認する→ 
          
                .common-mykarte-archive-list
                  .common-mykarte-archive-list-status.common-mykarte-archive-list-status-reserve
                    img(src='https://stekina.com/wp-content/uploads/icn-mail.png')
                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a(href='#')|カルテ詳細へ
                    .common-mykarte-archive-list-overray
                      .common-mykarte-archive-overray-list-title
                        |4月3日13:00〜の
                        br
                        |予約がキャンセルされました
                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                            img(src='https://stekina.com/wp-content/uploads/default-karte-image-middle.png')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |愛澤直人
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |GO TODAY SHAiRE SALON
                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-old
                            |過去の髪型を確認する→  
                .common-mykarte-archive-list

                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a.barba-click(href='mykarte-profile-karte-detail.html')|カルテ詳細へ
                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/02/yoko3_1.jpg')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3W4X-M365-7L8V-4URE?timestamp=1572490888336')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |楠美江莉子
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |Lily
                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-old
                            |過去の髪型を確認する→  
                .common-mykarte-archive-list

                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a.barba-click(href='mykarte-profile-karte-detail.html')|カルテ詳細へ
                    
                    //.common-mykarte-archive-list-overray
                      .common-mykarte-archive-overray-list-title
                        |まだ予約確定していません！
                      .common-mykarte-archive-overray-list-text
                        |タップして予約の確認！
                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/02/yoko2_1.jpg')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3W4X-M365-7L8V-4URE?timestamp=1572490888336')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |楠美江莉子
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |Lily
                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-old
                            |過去の髪型を確認する→  
                .common-mykarte-archive-list
                  .common-mykarte-archive-list-wrapper
                    .common-mykarte-archive-list-link
                      a.barba-click(href='mykarte-profile-karte-detail.html')|カルテ詳細へ

                    .common-mykarte-archive-content
                        .common-mykarte-archive-content-left
                            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/02/yoko1_1.jpg')
                        .common-mykarte-archive-content-right
                          .common-mykarte-archive-content-right-info
                              .common-mykarte-archive-content-right-info-date
                                |2020年02月16日 10:40〜
                              .common-mykarte-archive-content-right-info-stylistinfo
                                .common-mykarte-archive-content-right-info-stylistinfo-photo
                                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
                                .common-mykarte-archive-content-right-info-stylistinfo-text
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-name
                                    |愛澤直人
                                  .common-mykarte-archive-content-right-info-stylistinfo-text-salon
                                    |GO TODAY SHAiRE SALON
                              ul.common-mykarte-archive-content-right-info-menu
                                  li|●カット
                                  li|●カラー
                              .common-mykarte-archive-content-right-info-totalprice
                                  |15,000円
                          .common-mykarte-archive-content-right-link.common-mykarte-archive-content-right-link-old
                            |過去の髪型を確認する→  
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
      script(type='text/javascript').
        $('.open-common-dialog-mykarte').on('click', function() {
          $('.common-dialog-mykarte#confirm-reserve').fadeIn();
          $('.common-dialog-mykarte-bg').fadeIn()
        });
        $('.close-mykarte-archive-list-link').on('click', function() {
          $('.common-dialog-mykarte#confirm-reserve').hide();
        $('.common-dialog-mykarte-bg').hide();
        });
        $('.common-dialog-mykarte-bg').on('click', function() {
              $('.common-dialog-mykarte#confirm-reserve').hide();
              $('.common-dialog-mykarte-bg').hide()
        });
       // $('.barba-click').on('click', function() {
       //       $('.dummy-header').hide();
       // });
       
      script(src='https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js')
      //script(src='static/js/pjax.js')
      script(type='text/javascript').
            Barba.Pjax.start();