html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
    meta(content='https://s3-ap-northeast-1.amazonaws.com/limeapp-test/karte/owner_photo_approved/3E4F-536M-PLQD-9G7N?timestamp=1584667988654', property='og:image')
    title STEKiNAプロフィール
    link(href='https://test.stekina.com/profile/LZJQ-QZLN?footer-hide=true&share-button=true&id=2175%204850%200&pin=7809', rel='canonical')
    link(href='https://test.stekina.com/static/css/bulma.css', as='style', onload="this.onload=null;this.rel='stylesheet'", rel='stylesheet')
    noscript
    style(type='text/css').
      a.youtube-register{background-color:#15BFAB; padding:15px 30px; border:none;-webkit-appearance: none; color:white; font-size:18px;margin:0 auto; min-width:180px; border-radius:6px; width:80%; display:block;}
      input.youtube-register{background-color:#15BFAB; padding:15px 30px; border:none;-webkit-appearance: none; color:white; font-size:18px;margin:0 auto; min-width:180px; border-radius:6px; width:80%; display:block;}
      .youtube-register-input {-webkit-appearance: none; padding:8px 6px; border:1px solid #15BFAB; font-size:14px; width:100%;}
      .u-icn-youtube-l:before {
          content: "";
          width: 17px;
          height: 17px;
          background-size: contain;
          background-repeat: no-repeat;
          padding: 0 0 0 22px;
          background-image: url(https://limehair.jp/wp-https-lime/wp-content/uploads/2020/03/icn-youtube.svg);
          vertical-align: sub;
      }
  body.p-signup-body
    | <link href="https://test.stekina.com/static/css/bulma.css" rel="stylesheet">
    link(href='https://test.stekina.com/static/css/stekina.css?ver=4.11.0', rel='stylesheet')
    link(href='https://test.stekina.com/static/css/remodal.css', as='style', onload="this.onload=null;this.rel='stylesheet'", rel='stylesheet')
    noscript <link href="https://test.stekina.com/static/css/remodal.css" rel="stylesheet">
    link(href='https://test.stekina.com/static/css/remodal-default-theme.css', as='style', onload="this.onload=null;this.rel='stylesheet'", rel='stylesheet')
    noscript
      | <link href="https://test.stekina.com/static/css/remodal-default-theme.css" rel="stylesheet">
    link(type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css?ver=4.8.5', media='all', rel='stylesheet')
    script(src='https://www.google-analytics.com/analytics.js', type='text/javascript', async='')
    script(src='https://test.stekina.com/static/js/jquery-3.2.0.min.js')
    script(src='https://test.stekina.com/static/js/remodal.js')
    script(src='https://test.stekina.com/static/js/profile/compiled/app.js?ver=4.11.0')
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-60500393-7')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
      dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-60500393-7');
    #follow-data(data-data='{:fletcher-code "LZJQ-QZLN", :owner-name "元気なオーナー", :follow? false, :login? true, :follow-count 65}', style='display:none')
    #review-like-data(data-data='{24107 {:my-cnt 0, :total-cnt 0}, 24106 {:my-cnt 0, :total-cnt 0}, 24105 {:my-cnt 0, :total-cnt 0}, :login? true, :account-total-cnt 27M}', style='display:none')
    #recommend-like-data(data-data='{:login? true, :account-total-cnt 27M}', style='display:none')
    #page-data(data-fletcher-code='LZJQ-QZLN', style='display:none')
    #profile-public
      header.head-sticky(style='color:#4d4d4d;')
        .c-header-profile
          .c-header-profile-left
          a(href='https://test.stekina.com/profile/LZJQ-QZLN?footer-hide=true&share-button=true&id=2175%204850%200&pin=7809')
            .header-logo
              .salon 元気モリモリサロンパワー
              .head-stylist(style='display: none;')
                .head-stylist-img
                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012', alt='Image')
                .head-stylist-name 元気なオーナー
          #js-follow-btn-for-header.p-profile-header-follow
            p.p-profile-follow-btn.short(data-reactroot='')
              a フォロー
      section.p-profile-header(style='background-image: url(https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/CJVJ-E2F2-Y2HJ-LXUM/0?etag=6549aa1df6a2885e3cdc7cec501d831f)')
        .p-profile-header-image
          img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012', alt='Image', style="object-fit:cover; width:130px; height:130px;")
        .p-profile-header-name-wrap
          .p-profile-header-name 元気なオーナー
          .p-profile-header-stat
            #js-account-follow-count
              .p-profile-header-stat-follow(data-reactroot='')
                .follow-image
                span 65
            #js-account-like-count
              .p-profile-header-stat-like(data-reactroot='')
                .like-image.obata
                span 27
      section.c-basic-section
        .p-about
          .p-about-map
            .u-icn-map-l
              span 長崎県長崎市東古川町2-1 銀座ビル2F
              span   美容師歴3年
              span   平均予算---円
          p.p-about-description げんきにするよ☆
          div
            ul.c-tag-middle
              li(key='たまご顔7396030')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") カット
              li(key='かわいい2890575')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") カラー
              li(key='お任せOK1065191')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") パーマ
              li(key='たまご顔7396030')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") カット
              li(key='かわいい2890575')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") カラー
              li(key='お任せOK1065191')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") パーマ
              li(key='たまご顔7396030')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") カット
              li(key='かわいい2890575')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") カラー
              li(key='お任せOK1065191')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") パーマ
              li(key='たまご顔7396030')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") カット
              li(key='かわいい2890575')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") カラー
              li(key='お任せOK1065191')
                a.c-taglist-tag(onclick="$('#wp-under-construction').remodal().open()") パーマ
            #js-follow-btn-for-top
              .p-profile-follow.js-follow-wrap(data-reactroot='')
                p.p-profile-follow-counttext
                  // react-text: 3
                  | フォロワー
                  // /react-text
                  span.js-follow-count 65
                  // react-text: 5
                  | 人
                  // /react-text
                p.p-profile-follow-btn
                  a フォローする
      div(style='padding-bottom: 15px;')
        section.c-basic-section(style='padding-bottom: 0;')
          h2.c-module-title.c-module-title-m.u-icn-youtube-l  YouTube
        div
          p.sinsachu(style='text-align:center;color:#ff595b;font-size:13px;text-align:right;margin-right:21px; display:none;') ※現在審査中です
          p(style='text-align:center;color:#ff595b;font-size:13px;text-align:right;margin-right:21px;') ※このボタンは自分のみ表示
          div.youtube-triger-1
            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/03/btn-regisiter-youtube.png', style='padding: 5px 20px 6px 20px;')
          div(style='text-align:center;')
            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/03/sample-stekina-youtube-.png', style='margin: 0px auto; width:95%;')
      div
        section.c-basic-section(style='padding-bottom: 0;')
          h2.c-module-title.c-module-title-m.u-icn-instagram-l  Instagram
        div
          p(style='text-align:center;color:#ff595b;font-size:13px;text-align:right;margin-right:21px;') ※このボタンは自分のみ表示
          a(href='https://test.stekina.com/stylist/oauth/ig?id=3796', target='_blank')
            img(src='https://test.stekina.com/static/img/btn_insta.png', style='padding: 5px 20px 6px 20px;')
          img(src='https://test.stekina.com/static/img/insta_no_image.jpg')
      section#review-section.c-basic-section
        h2.c-module-title.c-module-title-m お客様からのレビュー(18件)

      section#recommend-section.c-basic-section
        h2.c-module-title.c-module-title-m 美容師からのステキナ紹介文(0件)
        a.p-wp-menu-area-detail(href='https://test.stekina.com/profile/LZJQ-QZLN/recommend?footer-hide=true&share-button=true&id=2175%204850%200&pin=7809#recommend-section') ステキナ紹介文の一覧 >
      section.c-basic-section
        h2.c-module-title.c-module-title-m.u-icn-map-l アクセス
        p 〒8500855 長崎県長崎市東古川町2-1 銀座ビル2F 
        .p-access
          iframe(data-src='https://google.com/maps/embed/v1/place?key=AIzaSyAXeHo8oVlBJN7tomEfRKiRtBtSqrlbVRI&q=%E9%95%B7%E5%B4%8E%E7%9C%8C%E9%95%B7%E5%B4%8E%E5%B8%82%E6%9D%B1%E5%8F%A4%E5%B7%9D%E7%94%BA2-1%20%E9%8A%80%E5%BA%A7%E3%83%93%E3%83%AB2F%20', src='https://google.com/maps/embed/v1/place?key=AIzaSyAXeHo8oVlBJN7tomEfRKiRtBtSqrlbVRI&q=%E9%95%B7%E5%B4%8E%E7%9C%8C%E9%95%B7%E5%B4%8E%E5%B8%82%E6%9D%B1%E5%8F%A4%E5%B7%9D%E7%94%BA2-1%20%E9%8A%80%E5%BA%A7%E3%83%93%E3%83%AB2F%20', allowfullscreen='', frameborder='0', height='450', style='border:0;', width='500')
        .c-sublink
          .u-icn-arrow-navi-after
            a(href='http://maps.google.com/maps?saddr=&daddr=長崎県長崎市東古川町2-1 銀座ビル2F ') 地図アプリで経路を調べる

      .c-follow.c-follow-shadow
        p.c-follow-catchtext \ 元気なオーナー さんをフォローしよう！ /
        .c-follow-catchimage
          img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp-test/karte/owner_photo_approved/3E4F-536M-PLQD-9G7N?timestamp=1584667988654', alt='Image')
        p.c-follow-stylistname 元気なオーナー
        .js-follow-btn
          p.p-profile-follow-btn(data-reactroot='')
            a フォローする
        p
      .foot-sticky
        .c-button.c-button-red
          a.c-button-icn-limewhite(href='https://test.stekina.com/reserve/LZJQ-QZLN/menu?footer-hide=true&share-button=true&id=2175%204850%200&pin=7809')
            span.c-button-normal 予約確認へ
      script.
        $(function() {
        var $topHeader = $('.head-stylist');
        $topHeader.hide();
        $(window).on('scroll', function() {
        if ($(window).scrollTop() > 200) {
        $topHeader.fadeIn();
        } else {
        $topHeader.fadeOut();
        }
        });
        });
    .youtube-open.remodal-overlay.remodal-is-opened(style='display: none;')
    .youtube-dialog-1.remodal-wrapper.remodal-is-opened(style='display: none;')
      .remodal-is-initialized.remodal-is-opened(style='max-width:450px; box-sizing: border-box; width: 100%; margin-bottom: 10px; padding: 20px; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); color: #2b2e38; background: #fff; margin:90px 0 0;')
        button.remodal-close
        div(style='padding:45px 10px 15px;')
          form
            p(style='font-size:24px; font-family:"mplus-2c-regular"; text-align:center; margin:0 0 20px;')|
               |YouTubeの動画URLを
               br
               |ご入力ください
            input.youtube-register-input(type='text', value='', size='40', placeholder='例）https://www.youtube.com/watch?v=ABCDEFGHI')
            p(style='font-size:20px; text-align:center; margin:10px 0 0; color:red;')
              |※動画のURLを
              br
              |入力してください
            p(style='font-size:10.8px; text-align:center; margin:10px 0 0; color:#4D4D4D;')
              |※動画の掲載は審査制になっています。
              br
              |※ご本人またはお勤めのサロンを
              br
              |紹介する動画のみが審査に通過できます
            p(style='text-align:center; margin:30px auto 20px;')
              a.youtube-register.youtube-triger-2
                |掲載する(審査制です)
              //input.youtube-register.youtube-triger-2(type='submit', value='掲載する(審査制です)')
    .youtube-dialog-2.remodal-wrapper.remodal-is-opened(style='display: none;')
      .remodal-is-initialized.remodal-is-opened(style='max-width:450px; box-sizing: border-box; width: 100%; margin-bottom: 10px; padding: 20px; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); color: #2b2e38; background: #fff; margin:90px 0 0;')
        button.remodal-close
        div(style='padding:45px 10px 15px;')
            p(style='font-size:24px; font-family:"mplus-2c-regular"; text-align:center; margin:0 0 20px;')|
               |YouTube掲載の申請が
               br
               |完了いたしました。
               br
               |審査完了まで
               br
               |お待ちくださいませ。
            p(style='text-align:center; margin:30px auto 20px;')
              a.youtube-register.youtube-triger-3
                |OK
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-under-construction-next.remodal.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-under-construction-next', tabindex='-1')
        button.remodal-close(data-remodal-action='close')
        p 次期アップデートで利用可能となります
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-custom-alert.remodal.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-custom-alert', tabindex='-1')
        button.remodal-close(data-remodal-action='close')
        p#wp-popup-custom-alert-message
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-rizm-lead.remodal.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-rizm-lead', tabindex='-1')
        button.remodal-close(data-remodal-action='close')
        p RiZMを使って、元気なオーナーさんをフォローしよう
        img(src='https://test.stekina.com/static/img/rizm-icon.jpg', style='width:150px;border-radius:25px;margin:20px 0 10px')
        div(style='overflow:hidden;width:320px; margin: 0 auto;')
          a(href='https://itunes.apple.com/jp/app/id1336396370?mt=8', style='display:inline-block;overflow:hidden;background:url(https://test.stekina.com/static/img/app-store-badge.svg) no-repeat;width:142px;height:52px;background-size:contain;float:left;', target='_blank')
          a(href='https://play.google.com/store/apps/details?id=com.rizm', style='display:inline-block;overflow:hidden;width:166px;float:left;margin-top:-5px;', target='_blank')
            img(src='https://test.stekina.com/static/img/google-play-badge.png')
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-need-login-follow.remodal.p-profile-popup-need-login-follow.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-need-login-follow', tabindex='-1')
        p.p-profile-popup-need-login-follow-title
          | 「フォロー」の機能を使うには
          br
          | ログインが必要です
        p.p-profile-popup-need-login-follow-annotation
          | 来店したことのない方の「フォロー」は
          br
          | 相手には通知されません。
        .p-profile-popup-need-login-follow-button
          a(href='/account/login?redirect_to=https%3A%2F%2Ftest.stekina.com%2Fprofile%2FLZJQ-QZLN%3Ffooter-hide%3Dtrue%26share-button%3Dtrue%26id%3D2175%25204850%25200%26pin%3D7809%23wp-popup-follow') ログインする
        .p-profile-popup-need-login-follow-button
          a(href='/account/new') 新規会員登録
        a.p-profile-popup-need-login-follow-back(data-remodal-action='close') 戻る
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-need-login-like.remodal.p-profile-popup-need-login-like.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-need-login-like', tabindex='-1')
        p.p-profile-popup-need-login-like-title
          | 「ステキボタン」を押すには
          br
          | ログインが必要です
        .p-profile-popup-need-login-like-button
          a(href='/account/login?redirect_to=https%3A%2F%2Ftest.stekina.com%2Fprofile%2FLZJQ-QZLN%3Ffooter-hide%3Dtrue%26share-button%3Dtrue%26id%3D2175%25204850%25200%26pin%3D7809%23wp-popup-like') ログインする
        .p-profile-popup-need-login-like-button
          a(href='/account/new') 新規会員登録
        a.p-profile-popup-need-login-like-back(data-remodal-action='close') 戻る
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-need-line-login-to-menu.remodal.p-profile-popup-need-login-follow.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-need-line-login-to-menu', tabindex='-1')
        div(style='width: 90%; margin: 20px auto; max-width: 380px;')
          img(src='https://stekina.com/wp-content/uploads/5e1c854a9983608cf15cbe09d21382fa.jpg')
        a(href='line://app/?move_to=menu&fletcher_code=LZJQ-QZLN')
          div(style='width: 90%; margin: 20px auto; max-width: 350px;')
            img(src='https://stekina.com/wp-content/uploads/6ee904667328f4b9107f8603c0b58833.png')
        a.p-profile-popup-need-login-follow-back(data-remodal-action='close')
          div(style='width: 60%; margin: 0 auto 20px; max-width: 280px;')
            img(src='https://stekina.com/wp-content/uploads/0552486105b82843363a891592d39429.png')
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-need-line-login-to-profile.remodal.p-profile-popup-need-login-follow.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-need-line-login-to-profile', tabindex='-1')
        div(style='width: 90%; margin: 20px auto; max-width: 380px;')
          img(src='https://stekina.com/wp-content/uploads/5e1c854a9983608cf15cbe09d21382fa.jpg')
        a(href='line://app/?move_to=profile&fletcher_code=LZJQ-QZLN')
          div(style='width: 90%; margin: 20px auto; max-width: 350px;')
            img(src='https://stekina.com/wp-content/uploads/6ee904667328f4b9107f8603c0b58833.png')
        a.p-profile-popup-need-login-follow-back(data-remodal-action='close')
          div(style='width: 60%; margin: 0 auto 20px; max-width: 280px;')
            img(src='https://stekina.com/wp-content/uploads/0552486105b82843363a891592d39429.png')
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-follow.remodal.p-profile-popup-follow.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-follow', tabindex='-1')
        div(data-reactroot='')
          p.p-profile-popup-follow-title
            // react-text: 3
            | 元気なオーナーさんは
            // /react-text
            br
            // react-text: 5
            | 担当してもらったことのある
            // /react-text
            br
            // react-text: 7
            | 美容師さんですか？
            // /react-text
          .p-profile-popup-follow-button
            a
              // react-text: 10
              | 担当してもらったこと
              // /react-text
              br
              // react-text: 12
              | あります！
              // /react-text
          .p-profile-popup-follow-button
            a 無いです！初めてです
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-disfollow.remodal.p-profile-popup-disfollow.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-disfollow', tabindex='-1')
        div(data-reactroot='')
          p.p-profile-popup-follow-title
            // react-text: 3
            | 元気なオーナーさんの
            // /react-text
            br
            // react-text: 5
            | フォローを解除しますか？
            // /react-text
          .p-profile-popup-disfollow-button
            a フォロー解除
          a.p-profile-popup-disfollow-back(data-remodal-action='close') 戻る
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-recommend-edit.remodal.p-profile-popup-recommend-edit.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-recommend-edit', tabindex='-1')
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-reserve-counseling-selection.remodal.p-profile-popup-reserve-counseling-selection.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-reserve-counseling-selection', tabindex='-1')
        p.p-profile-popup-reserve-counseling-selection-title
          | 元気なオーナーさんの予約相談
          br
          | または
          br
          | メッセージで相談ができます
        .p-profile-popup-reserve-counseling-selection-button
          a(href='https://test.stekina.com/reserve/LZJQ-QZLN/menu?footer-hide=true&share-button=true&id=2175%204850%200&pin=7809') 予約の空き状況を確認
        .p-profile-popup-reserve-counseling-selection-button
          a(href='https://test.stekina.com/reserve/LZJQ-QZLN/counseling?footer-hide=true&share-button=true&id=2175%204850%200&pin=7809') メッセで相談
        a.p-profile-popup-reserve-counseling-selection-back(data-remodal-action='close') キャンセル
    .remodal-wrapper.remodal-is-closed(style='display: none;')
      #wp-popup-reserve-counseling-selection.remodal.p-profile-popup-reserve-counseling-selection.remodal-is-initialized.remodal-is-closed(data-remodal-id='wp-popup-reserve-counseling-selection', tabindex='-1')
        p.p-profile-popup-reserve-counseling-selection-title
          | 元気なオーナーさんの予約相談
          br
          | または
          br
          | メッセージで相談ができます
        .p-profile-popup-reserve-counseling-selection-button
          a(href='https://test.stekina.com/reserve/LZJQ-QZLN/menu?footer-hide=true&share-button=true&id=2175%204850%200&pin=7809') 予約の空き状況を確認
        .p-profile-popup-reserve-counseling-selection-button
          a(href='https://test.stekina.com/reserve/LZJQ-QZLN/counseling?footer-hide=true&share-button=true&id=2175%204850%200&pin=7809') メッセで相談
        a.p-profile-popup-reserve-counseling-selection-back(data-remodal-action='close') キャンセル
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script.
      $('.youtube-triger-1').on('click', function() {
         $('.youtube-open').fadeIn();
         $('.youtube-dialog-1').fadeIn();
      });
      $('.youtube-triger-2').on('click', function() {
         $('.youtube-dialog-1').hide();
         $('.youtube-dialog-2').show();
         $('.sinsachu').show()
      });
      $('.youtube-triger-3').on('click', function() {
         $('.youtube-dialog-2').hide();
         $('.youtube-open').hide();
      });
      $('.remodal-close').on('click', function() {
         $('.youtube-open').fadeOut();
         $('.youtube-dialog-1').hide();
         $('.youtube-dialog-2').hide();
      });
    