- var dateNow = Date.now();
mixin follow-button
  .follow-button-wrapper
    a(href='#')
      .follow-button
        .follow-button-icon
            img(src='https://assets.stekina.com/static/img/icon/icn-follow-lime.svg')
        .follow-button-text
          |フォローする
doctype html
html(lang='jp')
  head
    title LilyのSTEKiNAプロフィール
    link(href='static/css/application.css?'+dateNow rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
  body
    .salon-foot-sticky
      a(href='#')
        .salon-foot-sticky-button
          .salon-foot-sticky-img
          .salon-foot-sticky-text|予約確認へ   
    .salon-profile-wrapper
      .salon-profile-header
        .salon-profile-header-left
        .salon-profile-header-center
          .salon-profile-headerr-center-img(style='display:none;')
            img(src='https://beauty-architect.com/lily/wp-content/themes/lily/images/logo.png')
          .salon-profile-headerr-center-text
              |Lily
        .salon-profile-header-right-button
          a.salon-profile-header-right-button-triger|フォロー
      .salon-profile-cover(style='background-image: url(https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-7LQV-NQWA/0?etag=d1c8fd6ce37aa26dc149e094406d932a)')
            .salon-profile-cover-img
               img(src='https://beauty-architect.com/lily/wp-content/themes/lily/images/logo.png')
            h1.salon-profile-cover-name
              |Lily
      section.salon-profile-about
         div
           img(src='https://assets.stekina.com/static/img/icon/icn-map.svg')
         span
          |東京都渋谷区神宮前
         span
          |美容師歴10年
         span
          |平均予算---円
      section.salon-profile-about-follow
        .salon-profile-about-follow-text
           |フォロワー 19人
        .salon-profile-about-follow-button
           +follow-button()
      section.salon-profile-section
        .salon-profile-section-title
            h2
              |スタイリスト         
        .salon-profile-section-content-stylits
          a(href='')
            .salon-profile-section-content-stylist
               .salon-profile-section-content-stylist-img
                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/KELX-MK6M-7LQV-NQWA?timestamp=1572491132303')              
               .salon-profile-section-content-stylist-text
                  |柳本 剛
          a(href='')
            .salon-profile-section-content-stylist
               .salon-profile-section-content-stylist-img
                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/KE4F-5K6M-PL8V-7K56?timestamp=1572491116894')              
               .salon-profile-section-content-stylist-text
                  |寺村優太 髪を綺麗にする人
          a(href='')
            .salon-profile-section-content-stylist
               .salon-profile-section-content-stylist-img
                  img(src='https://pbs.twimg.com/profile_images/989434683606761472/nG-sxwag_400x400.jpg')              
               .salon-profile-section-content-stylist-text
                  |野坂信二(のっち)
          a(href='')
            .salon-profile-section-content-stylist
               .salon-profile-section-content-stylist-img
                  img(src='https://pbs.twimg.com/profile_images/1093100221117063168/4tFr-qj7_400x400.jpg')              
               .salon-profile-section-content-stylist-text
                  |宮原 幸恵
          a(href='')
            .salon-profile-section-content-stylist
               .salon-profile-section-content-stylist-img
                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3W4X-M365-7L8V-4URE?timestamp=1572490888336')              
               .salon-profile-section-content-stylist-text
                  |楠美江莉子
          a(href='')
            .salon-profile-section-content-stylist
               .salon-profile-section-content-stylist-img
                  img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3ELX-5K6M-7L8D-NPBS?timestamp=1572490876501')              
               .salon-profile-section-content-stylist-text
                  |大野道寛
      section.salon-profile-section
        .salon-profile-section-title
            h2
              |アクセス
        .salon-profile-section-content
          .salon-profile-section-content-salon-address
                   |〒1500001 東京都渋谷区神宮前 5-15-11
          .salon-profile-section-content-salon-map
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.473001379863!2d139.70461861501508!3d35.66535363845051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca13a71238f%3A0xa0a80373a400d905!2z44CSMTUwLTAwMDEg5p2x5Lqs6YO95riL6LC35Yy656We5a6u5YmN77yV5LiB55uu77yR77yV4oiS77yR77yR!5e0!3m2!1sja!2sjp!4v1582887015237!5m2!1sja!2sjp', width='100%', height='250', frameborder='0', style='border:0;', allowfullscreen='')
      section.salon-profile-section
        .salon-profile-section-title
            h2
              |サロンの雰囲気
        .salon-profile-section-content 
            .salon-profile-section-content-carousel-arrow
              img(src='https://stekina.com/static/img/icon/icn-arrow-right.svg') 
            ul.salon-profile-section-content-salonimages 
              li
                img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-7LQV-NQWA/0?etag=d1c8fd6ce37aa26dc149e094406d932a')
              li
                img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-7LQV-NQWA/1?etag=2c1a215737ab25666754660734aadd8e')
              li
                img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-7LQV-NQWA/2?etag=17040203384e7151a4789f8161ac3666')
              li
                img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-7LQV-NQWA/3?etag=d0d869dc7163d14ca42348716c6cc68e')
              li
                img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-7LQV-NQWA/4?etag=a848755a29293e0b9285a54cec2851ec')
              li
                img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/salon_snap/KELX-MK6M-7LQV-NQWA/5?etag=c91d0b4bd9a273c5770e387bb31d7857')
        .salon-profile-footer-follow
          .salon-profile-footer-follow-text
            |\ Lilyをフォローしよう！ /    
          .salon-profile-footer-follow-img
               img(src='https://beauty-architect.com/lily/wp-content/themes/lily/images/logo.png')
          .salon-profile-footer-follow-name
            |Lily
          .salon-profile-footer-follow-button
           +follow-button()