- var dateNow = Date.now();
doctype html
html(lang='jp')
  head
    title 質問はあと３つです！
    link(href='static/css/matching.css?'+dateNow, rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    style(type='text/css').
         @font-face {
          font-family: "k-3";
          src: url("koburinaStdW3.eot?") format("eot"), url("koburinaStdW3.woff") format("woff");
        }
        @font-face {
          font-family: "k-6";
          src: url("koburinaStdW6.woff") format("woff"), url("koburinaStdW6.eot?") format("eot");
        }
    meta(name='robots', content='noindex,nofollow')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

  body
      #barba-wrapper
        .barba-container
              form
                .matching-questions-wrapper
                  .matching-questions-head
                    .matching-questions-head-ai
                      img(src='https://stekina.com/wp-content/uploads/icon_stekina-ai-illust.png')
                    .matching-questions-head-speech
                      |相性の良い美容師を紹介するのに重要な質問です！
                  .matching-questions-content
                        .matching-questions-content-question-box
                            .matching-questions-content-question-box-title
                              div
                                span.matching-questions-content-question-box-title-large
                                  |髪や美容
                                |についての質問
                            .matching-questions-content-question-box-subtitle
                              |思い当たること全てにチェック
                            .matching-questions-content-question-box-error
                              |１個以上チェックしてください
                            .matching-questions-content-question-box-checkboxs
                              .matching-questions-content-checkbox
                                input.checkbox-input(id='checkbox-beauty-and-hair-01', name='checkbox-beauty-and-hair', type='checkbox')
                                label(for='checkbox-beauty-and-hair-01')
                                  span 流行には敏感な方かも
                              .matching-questions-content-checkbox
                                input.checkbox-input(id='checkbox-beauty-and-hair-02', name='checkbox-beauty-and-hair', type='checkbox')
                                label(for='checkbox-beauty-and-hair-02')
                                  span 髪質に悩みがある
                              .matching-questions-content-checkbox
                                input.checkbox-input(id='checkbox-beauty-and-hair-03', name='checkbox-beauty-and-hair', type='checkbox')
                                label(for='checkbox-beauty-and-hair-03')
                                  span どんな髪型にしたいかわからない
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-04', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-04')
                                span オシャレになりたい
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-05', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-05')
                                span 癖毛に悩んでてなんとかしたい
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-06', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-06')
                                span 今のヘアスタイルにマンネリ気味
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-07', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-07')
                                span ヘアスタイリングするの好きなほう
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-08', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-08')
                                span 髪のボリュームでないのが悩み
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-09', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-09')
                                span 新しい自分に出会いたい
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-10', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-10')
                                span ヘアスタイル画像みるの好き
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-11', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-11')
                                span 髪が多くて悩んでる
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-12', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-12')
                                span イメチェンしたい
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-13', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-13')
                                span トレンドカラーが気になる
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-14', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-14')
                                span よくストレートパーマかける
                            .matching-questions-content-checkbox
                              input.checkbox-input(id='checkbox-beauty-and-hair-15', name='checkbox-beauty-and-hair', type='checkbox')
                              label(for='checkbox-beauty-and-hair-15')
                                span ずっと同じ髪型しがちかも
                  .matching-questions-footer
                    .matching-questions-footer-text
                      |質問ページあと３つです！
                    .common-btn
                      a.common-btn-next(href='stekina-matching-3question-left.html')
                        |次へ
                    .matching-questions-footer-error
                        p
                          |未記入の項目があります。
                          br
                          |お手数ですが入力をお願いします。
      include ../mixin/_footer-matching.pug
      //script(type='text/javascript').
              $('.common-btn-next').click(function () {
                        //id名#pagetopがクリックされたら、以下の処理を実行
                        $("html,body").animate({scrollTop:0},"300");
              });
      //script(src='https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js')
      //script(src='static/js/barba.js')
