
doctype html
html(lang='jp')
  head
    title STEKiNA割引
    link(href='static/css/stekina-discount.css?'+dateNow rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  body.stekina-discount-personal-B.bg-gray-lightest(data-action='tutorial', data-controller='ken')
      .stekina-discount-wrapper 
         //stekina-discount-bar
         .stekina-discount-bar
            .stekina-discount-bar-left
              .stekina-discount-bar-icon
                 img(src='https://stekina.com/wp-content/uploads/price-icon.svg')
              .stekina-discount-bar-text
                    span.stekina-discount-bar-text-small
                      |今月の         
                    span.stekina-discount-bar-text-large
                      |3,000
                    span.stekina-discount-bar-text-yen
                      |円
                    span.stekina-discount-bar-text-small
                      |割引まで…
            .stekina-discount-bar-right
              .stekina-discount-bar-right-text
                    span.stekina-discount-bar-text-small
                      |あと
                    //★★金額はユーザーの状態によって変わる
                    span.stekina-discount-bar-text-large
                      |1,800
                    span.stekina-discount-bar-text-yen
                      |円 
            //ゲージによって横幅を定義
            .stekina-discount-bar-bg(style="width:60%;")
         //stekina-discount-accountment
         .stekina-discount-accountment
           |あとでやる
         //stekina-discount-content
         .stekina-discount-content
            //stekina-discount-content-head
            .stekina-discount-content-head
              .stekina-discount-content-head-left
                 //★★日付はユーザーの状態によって変わる
                 |当月の10/21-11/21まで
              .stekina-discount-content-head-right
                .stekina-discount-content-head-right-text
                  |現在の割引合計額
                .stekina-discount-content-head-right-price-number 
                  //★★金額はユーザーの状態によって変わる
                  |1900
                .stekina-discount-content-head-right-price-yen
                  |円
            .stekina-discount-content-mainbg
                .stekina-discount-content-main
                  .stekina-discount-content-main-box
                      .stekina-discount-content-main-box-title
                        |毎月定額割引
                      //ユーザーが条件を満たしている時は<div class="stekina-discount-content-main-box-checklist"にactiveのclassを付与する
                      .stekina-discount-content-main-box-checklist.active.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |プロフィール掲載
                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |500円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top

                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |アンケート回答
                                  //回答するボタンは押したら消える？
                              

                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |500円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                              .stekina-discount-content-main-box-checklist-top-button
                                  a(href='#')
                                      |回答する
                      .stekina-discount-content-main-box-checklist.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |ステータス表示
                                  //回答するボタンは押したら消える？

                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |200円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.active.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |インスタ連携
                                  //回答するボタンは押したら消える？
                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |200円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |YouTube動画埋込
                                  //回答するボタンは押したら消える？
                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |200円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.active.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |レビューが5件以上
                                  //回答するボタンは押したら消える？
                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |200円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |紹介文が1件以上
                                  //回答するボタンは押したら消える？
                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |200円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                  .stekina-discount-content-main-box
                      .stekina-discount-content-main-box-title
                        |当月のみ割引
                      //ユーザーが条件を満たしている時は<div class="stekina-discount-content-main-box-checklist"にactiveのclassを付与する
                      .stekina-discount-content-main-box-checklist.active.margin-bottom-25 
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |今月のお客様からのレビュー投稿数
                                  .stekina-discount-content-main-box-checklist-top-left-count
                                    |45件
                          .stekina-discount-content-main-box-checklist-bottom
                              .stekina-discount-content-main-box-checklist-bottom-left
                                |※1件あたり
                                span.bold|100円
                                |割引
                              .stekina-discount-content-main-box-checklist-bottom-right
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |当月のみ
                                  .stekina-discount-content-main-box-checklist-bottom-right-price
                                    |4500円
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.active.margin-bottom-25 
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |今月のお客様からのSNSシェア数
                                  .stekina-discount-content-main-box-checklist-top-left-count
                                    |13件
                          .stekina-discount-content-main-box-checklist-bottom
                              .stekina-discount-content-main-box-checklist-bottom-left
                                |※1件あたり
                                span.bold|100円
                                |割引
                              .stekina-discount-content-main-box-checklist-bottom-right
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |当月のみ
                                  .stekina-discount-content-main-box-checklist-bottom-right-price
                                    |1300円
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.margin-bottom-25 
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |今月のステキナ紹介文投稿数
                                  .stekina-discount-content-main-box-checklist-top-left-count
                                    |0件
                          .stekina-discount-content-main-box-checklist-bottom
                              .stekina-discount-content-main-box-checklist-bottom-left
                                |※1件あたり
                                span.bold|500円
                                |割引
                              .stekina-discount-content-main-box-checklist-bottom-right
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |当月のみ
                                  .stekina-discount-content-main-box-checklist-bottom-right-price
                                    |0円
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |今月のステキナ紹介文SNSシェア数
                                  .stekina-discount-content-main-box-checklist-top-left-count
                                    |0件
                          .stekina-discount-content-main-box-checklist-bottom
                              .stekina-discount-content-main-box-checklist-bottom-left
                                |※1件あたり
                                span.bold|500円
                                |割引
                              .stekina-discount-content-main-box-checklist-bottom-right
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |当月のみ
                                  .stekina-discount-content-main-box-checklist-bottom-right-price
                                    |0円
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
         //stekina-discount-bar
         .stekina-discount-bar
            .stekina-discount-bar-left
              .stekina-discount-bar-icon
                 img(src='https://stekina.com/wp-content/uploads/price-icon.svg')
              .stekina-discount-bar-text
                    span.stekina-discount-bar-text-small
                      |今月の         
                    span.stekina-discount-bar-text-large
                      |3,000
                    span.stekina-discount-bar-text-yen
                      |円
                    span.stekina-discount-bar-text-small
                      |割引まで…
            .stekina-discount-bar-right
              .stekina-discount-bar-right-text
                    span.stekina-discount-bar-text-small
                      |あと
                    //★★金額はユーザーの状態によって変わる
                    span.stekina-discount-bar-text-large
                      |1,800
                    span.stekina-discount-bar-text-yen
                      |円 
            //ゲージによって横幅を定義
            .stekina-discount-bar-bg(style="width:60%;")
         //stekina-discount-accountment
         .stekina-discount-accountment
           |あとでやる
         //stekina-discount-content
         .stekina-discount-content
            //stekina-discount-content-head
            .stekina-discount-content-head
              .stekina-discount-content-head-left
                 //★★日付はユーザーの状態によって変わる
                 |当月の10/21-11/21まで
              .stekina-discount-content-head-right
                .stekina-discount-content-head-right-text
                  |現在の割引合計額
                .stekina-discount-content-head-right-price-number 
                  //★★金額はユーザーの状態によって変わる
                  |1900
                .stekina-discount-content-head-right-price-yen
                  |円
            .stekina-discount-content-mainbg
                .stekina-discount-content-main
                  .stekina-discount-content-main-box
                      .stekina-discount-content-main-box-title
                        |毎月定額割引
                      //ユーザーが条件を満たしている時は<div class="stekina-discount-content-main-box-checklist"にactiveのclassを付与する
                      .stekina-discount-content-main-box-checklist.active.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |プロフィール掲載
                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |500円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top

                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |アンケート回答
                                  //回答するボタンは押したら消える？
                              

                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |500円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                              .stekina-discount-content-main-box-checklist-top-button
                                  a(href='#')
                                      |回答する
                      .stekina-discount-content-main-box-checklist.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |ステータス表示
                                  //回答するボタンは押したら消える？

                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |200円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.active.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |インスタ連携
                                  //回答するボタンは押したら消える？
                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |200円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |YouTube動画埋込
                                  //回答するボタンは押したら消える？
                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |200円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.active.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |レビューが5件以上
                                  //回答するボタンは押したら消える？
                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |200円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.margin-bottom-10
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |紹介文が1件以上
                                  //回答するボタンは押したら消える？
                              .stekina-discount-content-main-box-checklist-top-right
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |毎月
                                  span.stekina-discount-content-main-box-checklist-top-right-price
                                    |200円
                                  span.stekina-discount-content-main-box-checklist-top-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                  .stekina-discount-content-main-box
                      .stekina-discount-content-main-box-title
                        |当月のみ割引
                      //ユーザーが条件を満たしている時は<div class="stekina-discount-content-main-box-checklist"にactiveのclassを付与する
                      .stekina-discount-content-main-box-checklist.active.margin-bottom-25 
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |今月のお客様からのレビュー投稿数
                                  .stekina-discount-content-main-box-checklist-top-left-count
                                    |45件
                          .stekina-discount-content-main-box-checklist-bottom
                              .stekina-discount-content-main-box-checklist-bottom-left
                                |※1件あたり
                                span.bold|100円
                                |割引
                              .stekina-discount-content-main-box-checklist-bottom-right
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |当月のみ
                                  .stekina-discount-content-main-box-checklist-bottom-right-price
                                    |4500円
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.active.margin-bottom-25 
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |今月のお客様からのSNSシェア数
                                  .stekina-discount-content-main-box-checklist-top-left-count
                                    |13件
                          .stekina-discount-content-main-box-checklist-bottom
                              .stekina-discount-content-main-box-checklist-bottom-left
                                |※1件あたり
                                span.bold|100円
                                |割引
                              .stekina-discount-content-main-box-checklist-bottom-right
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |当月のみ
                                  .stekina-discount-content-main-box-checklist-bottom-right-price
                                    |1300円
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist.margin-bottom-25 
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |今月のステキナ紹介文投稿数
                                  .stekina-discount-content-main-box-checklist-top-left-count
                                    |0件
                          .stekina-discount-content-main-box-checklist-bottom
                              .stekina-discount-content-main-box-checklist-bottom-left
                                |※1件あたり
                                span.bold|500円
                                |割引
                              .stekina-discount-content-main-box-checklist-bottom-right
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |当月のみ
                                  .stekina-discount-content-main-box-checklist-bottom-right-price
                                    |0円
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
                      .stekina-discount-content-main-box-checklist
                          .stekina-discount-content-main-box-checklist-top
                              .stekina-discount-content-main-box-checklist-top-left
                                  .stekina-discount-content-main-box-checklist-top-left-icon
                                    img(src='https://stekina.com/wp-content/uploads/icn-check.svg')
                                  .stekina-discount-content-main-box-checklist-top-left-text
                                    |今月のステキナ紹介文SNSシェア数
                                  .stekina-discount-content-main-box-checklist-top-left-count
                                    |0件
                          .stekina-discount-content-main-box-checklist-bottom
                              .stekina-discount-content-main-box-checklist-bottom-left
                                |※1件あたり
                                span.bold|500円
                                |割引
                              .stekina-discount-content-main-box-checklist-bottom-right
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |当月のみ
                                  .stekina-discount-content-main-box-checklist-bottom-right-price
                                    |0円
                                  .stekina-discount-content-main-box-checklist-bottom-right-text
                                    |OFF
                                  span.stekina-discount-content-main-box-checklist-shiny
                                    |✨
