- var dateNow = Date.now();
doctype html
html(lang='jp')
  head
    title 最後の質問です！
    link(href='static/css/matching.css?'+dateNow, rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  body
    .matching-questions-wrapper
      .matching-questions-head
        .matching-questions-head-ai
          img(src='https://stekina.com/wp-content/uploads/icon_stekina-ai-illust.png')
        .matching-questions-head-speech
          |最後の質問です！

      .matching-questions-content
            .matching-questions-content-question-box

                .matching-questions-content-question-box-title
                  span.matching-questions-content-question-box-title-large
                    |美容室への来店頻度を教えてください

                .matching-questions-content-question-box-checkboxs
                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span あああ
            .matching-questions-content-question-box

                .matching-questions-content-question-box-title
                  span.matching-questions-content-question-box-title-large
                    |最後に美容室に行ってからどれくらい経ちましたか？

                .matching-questions-content-question-box-checkboxs
                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 7日以内

                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 1週間くらい
                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 2週間くらい
                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 3週間くらい
                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 1ヶ月くらい

                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 1ヶ月半くらい

                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 2ヶ月くらい
                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 3ヶ月くらい
                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 4ヶ月くらい
                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 5ヶ月くらい
                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 6ヶ月くらい
                  .matching-questions-content-checkbox
                    input.checkbox-input(name='checkbox1-1', type='checkbox')
                    label(for='checkbox1-1')
                      span 半年以上行ってない

      .matching-questions-footer
        .matching-questions-footer-text
           |あなたにピッタリの素敵な
           br
           |美容師をご紹介いたします
        .common-btn
          a(href='stekina-matching-calculating.html')
           |完了