html.remodal-is-locked(lang='ja')
  head
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1, user-scalable=no', name='viewport')
    meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
    meta(content='ja_JP', property='og:locale')
    meta(content='STEKiNA ステキナ', property='og:site_name')
    meta(content='website', property='og:type')
    meta(content='summary_large_image', property='twitter:card')
    meta(content='@HAIR_LiMEapp', property='twitter:site')
    meta(content='https://assets.stekina.com/static/img/reserve-eyecatch.png', property='twitter:image')
    title 愛澤直人さんの予約ページ
    link(href='https://stekina.com/reserve/WMZV-TKAP/menu', rel='canonical')
    link(href='https://assets.stekina.com/static/css/bulma.css', rel='stylesheet')
    link(href='https://assets.stekina.com/static/css/stekina.css?ver=4.10.0', rel='stylesheet')
    link(href='https://assets.stekina.com/static/css/remodal.css', rel='stylesheet')
    link(href='https://assets.stekina.com/static/css/remodal-default-theme.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css?ver=4.8.5', media='all', rel='stylesheet', type='text/css')
    script(type='text/javascript', async='', src='https://www.google-analytics.com/analytics.js')
    script(src='https://assets.stekina.com/static/js/jquery-3.2.0.min.js')
    script(src='https://assets.stekina.com/static/js/remodal.js')
    script(src='https://assets.stekina.com/static/js/reserve/compiled/app.js?ver=4.10.0')
    link(href='/static/css/stekina-dialog-recommend-couseling.css', rel='stylesheet')
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-60500393-7')
    script.
      window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-60500393-7');
  body.p-signup-body(style='padding-right: 0px;')
    #aaa
      div(data-reactroot='')
        div
          .p-reservation-header まだ予約確定していません！
          .p-dateselect-header.p-dateselect-header-border
            .p-dateselect-header-left
              .p-dateselect-header-left-img
                img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/TKL5-6P89-SUVW-WPKP?timestamp=1579566351012')
              .p-dateselect-header-left-text 愛澤直人
            .p-dateselect-header-center
            .p-dateselect-header-right
              .p-dateselect-header-right-column
                .p-dateselect-header-right-column-name 予約日時
                .p-dateselect-header-right-column-value
                  // react-text: 2631
                  | 4月1日 (水)
                  // /react-text
                  br
                  // react-text: 2633
                  | 11:00〜12:00
                  // /react-text
              .p-dateselect-header-right-column
                .p-dateselect-header-right-column-name メニュー
                .p-dateselect-header-right-column-value Mensカット
              .p-dateselect-header-right-column
                .p-dateselect-header-right-column-name 料金
                .p-dateselect-header-right-column-value 6,600          円
              .p-dateselect-header-right-column
                .p-dateselect-header-right-column-name 施術予測時間
                .p-dateselect-header-right-column-value 1時間0分
        .p-user-wrapper.p-user-wrapper-margin
          div
            div
              .p-user-inputcolumn
                .p-user-inputcolumn-title-l
                  // react-text: 2648
                  | 愛澤直人さんは担当してもらった事のある美容師さんですか？
                  // /react-text
                  span.p-user-inputcolumn-title-hissu （必須）
                .c-radio-stekina
                  .btn-group.btn-group-vertical(data-toggle='buttons')
                    .md-radio
                      input#operated(type='radio', name='g1', value='operated')
                      label(for='operated') 担当してもらった事あります！
                    .md-radio
                      input#first-time(type='radio', name='g1', value='first-time')
                      label(for='first-time') 無いです！初めてです
          .p-user-inputcolumn
            .p-user-inputcolumn-title-l
              // react-text: 2660
              | 一言メッセージ
              // /react-text
              span.p-user-inputcolumn-title-nini （任意）
            textarea#TextArea(cols='30', rows='10', placeholder='こちらに記入してください')
          .p-user-confirm
            .p-user-membership-chuui
              // react-text: 2665
              | 予約を完了することにより
              // /react-text
              br
              a 利用規約
              // react-text: 2668
              | に同意したことになります
              // /react-text
            p.c-button-user.c-button-red
              button#reserve-button 予約を完了する
            .p-user-membership-chuui-cancel
              // react-text: 2672
              | 予約成立後に連絡なくキャンセルされた場合
              // /react-text
              br
              // react-text: 2674
              | サービスのご利用を制限させていただきます
              // /react-text
        //#prevent-reserve-modal(data-remodal-id='prevent-reserve-modal', data-remodal-options='hashTracking:false,closeOnOutsideClick:true,closeOnEscape:false,closeOnConfirm:false,closeOnCancel:false')
          .remodal-title-bold
            // react-text: 2690
            | 予約専用アプリ
            // /react-text
            span.remodal-red RiZM
            // react-text: 2692
            | から
            // /react-text
            br
            // react-text: 2694
            | 予約しましょう
            // /react-text
          p.c-button-user.c-button-active
            a(href='http://limehair.jp/booking-confirmation') 予約アプリで確認
        //#term-modal.remodal(data-remodal-id='term-modal')
          button.remodal-close(data-remodal-action='close')
          .remodal-title-bold 利用規約
          .remodal-title-normal(style='height: 300px; overflow-y: scroll; font-size: 11px;')
            | 本利用規約（以下本規約といいます。）には、ＬｉＭＥ株式会社（以下「当社」といいます。）の提供する本サービスの提供条件および当社と一般利用者との間の権利義務関係が定められています。本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。
            br
            br
            br
            | ＜第１章　はじめに＞
            br
            | 第１条(適用)　
            br
            | １　本規約は、本サービスの提供条件および本サービスの利用に関する当社と一般利用者との間の権利義務関係を定めることを目的とし、一般利用者と当社との間の本サービスの利用に関わる一切の権利に適用されます。
            br
            | ２　当社が本サイトで掲載する本サービス利用に関するルール（http://stekina.com）は、本規約の一部を構成するものとします。
            br
            | ３　本規約の内容と前項のルールその他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定の適用が優先して適用されるものとする。
            br
            br
            | 第２条（定義）
            br
            | 　本規約において使用する用語は、次のように定めます。
            br
            | ⑴　本サービス：当社が提供するアプリケーションソフト「RiZM」に関するサービス及び当社が運営する、理美容師とお客様をつなぐウェブサイト（以下「STEKiNA」といいます）、及び当該ウェブサイトが提供するサービスの総称
            br
            | ⑵　一般利用者：本サービスの利用者（STEKiNA及び当該ウェブサイトが提供するサービスに登録をした美容プロ（理美容師・ネイリスト等の美容関係者及びエステティシャン・マッサージ師等のリラクゼーション関係者）を除きます。）
            br
            | ⑶　本サイト：当社が管理する本サービスに関するウェブサイト（http://stekina.com）
            br
            | ⑷　一般利用者投稿情報：一般利用者が本サービスに入力・投稿した情報
            br
            br
            br
            | ＜第２章　本サービスについて＞
            br
            | 第３条（本サービスの提供）　
            br
            | 　当社は、一般利用者に対し、本規約にもとづき、本サービスを提供します。
            br
            br
            | 第４条（通知）
            br
            | １　当社は、本サービスに関連して一般利用者に通知をする場合には、本サイトに掲示する方法または登録情報として登録された電子メールアドレス・住所に宛てて電子メール・文書を送信する方法など、当社が適当と判断する方法で実施します。
            br
            | ２　前項に定める方法により行われた通知は、前者の場合には通知内容が本サービスに表示された時点に、後者の場合は当社が電子メール・文書を発信した時点に、それぞれその効力を生じます。
            br
            br
            | 第５条（利用規約の変更）
            br
            | １　当社は、いつでも、一般利用者の事前の承諾を得ることなく、本規約の内容を変更することができます。
            br
            | ２　一般利用者が本規約に変更があった後も本サービスの利用を継続した場合、修正された規約を承諾したものと見なします。
            br
            br
            | 第６条（再委託）
            br
            | 　当社は、本サービスに関する業務の全部または一部について、第三者に委託することができます。
            br
            br
            | 第７条（本サービスの停止等）
            br
            | １　当社は、以下のいずれかに該当する場合には、一般利用者に事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができます。
            br
            | ⑴　本サービスに係るコンピューターシステムの点検または保守作業を緊急に行う場合
            br
            | ⑵　コンピューター、通信回路等が事故により停止した場合
            br
            | ⑶　天災地変その他の異常事態が発生し、または発生するおそれのある場合
            br
            | ⑷　その他、当社が停止または中断を必要と判断した場合
            br
            | ２　当社は、前項に基づく措置によって生じた一般利用者または第三者の損害等について、一切の責任を負いません。
            br
            | ３　当社は、第１項の措置をするときは、あらかじめその旨を利用者に通知します。ただし、緊急やむを得ない場合はこの限りではありません。
            br
            br
            | 第８条（本サービスの内容の変更・中止・終了）
            br
            | １　当社は、事前に会員に通知をしたうえで、本サービスの一部もしくは全部の内容を変更、中止または終了することができます。ただし、変更、中止または終了の内容が重大でない場合には、通知をすることなくこれらを実施することができます。
            br
            | ２　当社は、前項に基づいて本サービスを変更、中止または終了したことにより一般利用者または第三者に損害が発生した場合でも、一切の責任を負いません。
            br
            br
            br
            | ＜第３章　一般利用者に関する事項＞
            br
            | 第９条（一般利用者登録に関する事項）
            br
            | １　一般利用者は、一般利用者自身が所有するメールアドレス、Facebookのアカウントの認証を利用し、本サービスの一般利用者登録を行うことができます。
            br
            | ２　一般利用者が本サービスをインストールしたスマートフォンやタブレット型情報端末を紛失・故障等により使用することができなくなった場合において、本サービスに登録している場合は他のスマートフォンやタブレット型情報端末へ本サービスのデータを移行することはできますが、本サービスの一般利用者登録を行わなかった場合、他のスマートフォンやタブレット型情報端末へ本サービスのデータを移行することはできません。
            br
            | ３　当社は、一般利用者が本サービスに登録をせず、本サービスのデータを移行することができなかったことにより一般利用者または第三者に損害が生じた場合であっても、当社は当該損害について一切の責任を負いません。
            br
            br
            | 第１０条（一般利用者資格）
            br
            | 　満１３歳未満の方は本サービスの一般利用者となることはできません。
            br
            br
            | 第１１条（ご利用上の注意）
            br
            | １　お客様は本件サービスを利用するにあたって必要な通信環境、ハードウェア及びソフトウェアを自己の責任と費用負担によって準備し、本件サービスを利用するものとします。本件サービスの利用に伴う通信費用はお客様の負担となります。
            br
            | ２　当社は、当社の権利・財産やサービス等の保護、又は第三者の生命、身体もしくは財産の保護等の目的から差し迫った必要があると当社が判断した場合には、必要な範囲内で一般利用者投稿情報を裁判所や警察等の公的機関に開示・提供することができるものとします。
            br
            br
            br
            | 第１２条（禁止事項）
            br
            | 　一般利用者は本サービスの利用に関して、以下の行為を行わないものとします。
            br
            | ⑴　当社に対して虚偽の申告をする行為
            br
            | ⑵　本利用契約に基づき当社から提供された本サイト、および本ソフトウェアを含む情報および役務を本サービスの目的以外のために使用する行為
            br
            | ⑶　当社もしくは第三者の財産（知的財産権を含む。）、プライバシーもしくは信用等を侵害する行為または侵害するおそれのある行為
            br
            | ⑷　前号以外で当社もしくは第三者の利益を不法に侵害する行為または侵害するおそれのある行為
            br
            | ⑸　法令に違反し、もしくは公序良俗に反する行為またはそのおそれのある行為
            br
            | ⑹　第三者の同期先ID等を不正に使用または取得する行為
            br
            | ⑺　コンピュータウィルスなどの有害なプログラムを使用し、もしくは送信する行為、またはそのおそれのある行為
            br
            | ⑻　他の一般利用者のユーザーIDおよび会員パスワード等を不正に使用または取得する行為
            br
            | ⑼　前号に定めるものの他、不正アクセス行為等当社による業務の遂行、本サービスの実施もしくは当社の電気通信設備に支障を及ぼし、またはそのおそれのある行為
            br
            | ２　当社は、前項各号に定める事態によって、一般利用者または第三者（本サービスに顧客情報として登録されている顧客等も含みます。）に損害が発生した場合でも、一切の責任を負いません。
            br
            br
            | 第１３条（中途解約）
            br
            | 　一般利用者は、当社が定める方法をもって当社に通知することにより、当該解約希望日を最終利用日として利用契約を中途解約することができます。 
            br
            br
            | 第１４条（当社による契約の解除）
            br
            | １　当社は、一般利用者について次の各号に該当する事由があると判断した場合、一般利用者に対し、なんらの催告を要することなく、本契約を直ちに解除することができます。
            br
            | 　⑴　当社に対する通知内容等に虚偽があり、またはその疑いが生じたとき
            br
            | 　⑵　支払を停止したとき、または支払不能の状態に陥ったとき
            br
            | 　⑶　手形交換所から警告処分または不渡り処分を受けたとき
            br
            | 　⑷　差押え、仮差押え若しくは競売の申立かがあったとき、または公租公課の滞納処分を受けたとき
            br
            | ⑸　破産手続開始、会社更生手続開始、若しくは民事再生手続開始の申立があったとき、その他これに類する手続きの申立があったとき
            br
            | 　⑹　前⑵ないし⑸号記載の事由が生じた場合のほか、一般利用者の信用状態に重大な不安が生じたとき
            br
            | 　⑺　監督官庁から営業の取消、停止等の処分を受けたとき
            br
            | 　⑻　本規約その他法令等に違反し、当社がかかる違反の是正を催告したにもかかわらず、当社が指定する期日までに当該違反を是正しないとき
            br
            | 　⑼　当社または第三者に対する詐術その他の背信的行為により、当社の一般利用者に対する信頼を破壊したと認められるとき 
            br
            | ２　前項による解除がなされた場合、一般利用者は、当社に対して支払うべき一切の金銭について期限の利益を喪失し、当社に対して直ちに当該金銭を支払わなければなりません。
            br
            | ３　前項の定めは、当社の一般利用者に対する損害賠償請求を妨げません。
            br
            | ４　第１項に基づく解除により一般利用者またはその他の第三者に損害が生じた場合であっても、当社は当該損害について一切の責任を負いません。
            br
            br
            | 第１５条（パスワードおよびユーザーＩＤの管理）
            br
            | １　一般利用者は、自己の責任において、本サービスに関するパスワードおよびユーザーＩＤを適切に管理および保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはなりません。
            br
            | ２　パスワードまたはユーザーＩＤの管理不十分、使用上の過誤、第三者等の使用によって生じた損害に関する責任は一般利用者が負うものとし、当社は一切の責任を負いません。
            br
            | ３　前項についてはそれらが盗用、不正使用その他の事情により一般利用者本人以外の者が一般利用者本人になりすまして本サービスを利用している場合も含み、それにより生じた損害等について、一般利用者の故意や過失の有無を問わず当社は一切の責任を負いません。一般利用者本人以外のお客様は、これらにより当社又は第三者に損害が生じた場合、当社及び第三者に対して、当該損害を賠償するものとします。
            br
            br
            br
            | ＜第４章　一般利用者投稿情報について＞
            br
            | 第１６条（一般利用者投稿情報の取り扱い）
            br
            | １　当社は、一般利用者投稿情報について、その真偽・正確性等につき何ら保証も行わないものとします。
            br
            | ２　一般利用者投稿情報に基づいて他の一般利用者、スタイリスト及び第三者に損害が生じた場合であっても、当社は当該損害について一切の責任を負いません。
            br
            br
            | 第１７条（一般利用者投稿情報のモニタリング）
            br
            | １　当社は、法令または本規約の遵守状況などを確認する必要がある場合、一般利用者投稿情報の内容を確認することができます。ただし、当社はそのような確認を行なう義務を負うものではありません。
            br
            | ２　当社は、下記の事由に該当する場合に、当社の裁量によって、一般投稿利用者情報を事前の通知無く削除、配信の停止、内容の修正、非公開化を行うことができるものとします。
            br
            | ⑴ 法令や本規約に違反した場合。社会通念や本規約の精神に照らして不適切と判断された場合。
            br
            | ⑵ 不快又は違反の報告が他のお客様からあった場合。
            br
            | ⑶ その他当社が不適切と判断した場合
            br
            br
            br
            | ＜第４章　第三者への譲渡制限・トラブル等＞
            br
            | 第１８条（権利義務譲渡の禁止）
            br
            | 　一般利用者は、本サービス上の地位、および本サービスにより生ずる一切の権利義務についてその全部または一部を第三者に売買、譲渡、もしくは承継させ、もしくは担保に提供してはなりません。
            br
            br
            | 第１９条（第三者とのトラブル等）
            br
            | 　一般利用者は、本サービスの利用に伴い、自己の責に帰すべき事由により第三者に対して損害を与えた場合、または第三者からクレーム等の請求がなされた場合、自己の責任 と費用をもって処理、解決をしなければなりません。一般利用者が本サービスの利用に伴い、第三者から損害を被った場合、または第三者に対してクレーム等の請求を行う場合においても同様とします。
            br
            br
            br
            | ＜第５章　知的財産・秘密保持・個人情報について＞
            br
            | 第２０条（知的財産権）
            br
            | 　２１条に定める本サービスに含まれる事項に定める一般利用者による投稿した情報を除く、本サービスに関する知的財産権は全て当社に帰属します。
            br
            br
            | 第２１条（一般利用者投稿情報）
            br
            | １　一般利用者投稿情報に関する著作権等の全ての権利は、原則、投稿した一般利用者に帰属するものとし、当社がかかる権利を取得することはありません。
            br
            | ２　一般利用者は、自らが本サービスを利用し投稿した情報に関して、当社または当社と契約を締結している正当な権利を有する提携先企業等に対し、無償で非独占的に、複製、使用、編集、改編、掲載、転載、公衆送信、上映、展示、提供、販売、譲渡、貸与、翻訳、翻案などができる権利および二次的著作物に関する現著作権者の権利（著作権法２１条ないし２８条の権利をいい、商用利用を含む）を許諾したものとします。また、一般利用者は自らが本サービスを利用し投稿した情報に関する著作者人格権を当社に対して自らが本サービスを利用し投稿した情報に関する著作者人格権を行使しないものとします。
            br
            | ３　一般利用者は、当社に対し、一般利用者投稿情報が第三者の権利を侵害するものでないことを保証するものとします。万一、一般利用者投稿情報が第三者の権利を侵害するなど第三者との間で何らかの紛争が発生した場合には、一般利用者の費用と責任において問題を解決するとともに、当社に何らの損害を与えないものとします。
            br
            br
            | 第２２条（秘密保持）
            br
            | 　一般利用者は、本サービスに関連して当社が一般利用者に対して秘密に取扱うことを求めて開示した非公知の情報について、当社の事前の書面による承諾がある場合を除き、秘密に取扱わなければなりません。
            br
            br
            | 第２３条（個人情報の取扱い）
            br
            | 　当社による一般利用者の個人情報の取扱いについては、別途当社プライバシーポリシー（http://stekina.com）の定めによるものとし、一般利用者はこのプライバシーポリシーに従って当社が一般利用者の個人情報を取扱うことについて同意するものとします。
            br
            br
            br
            | ＜第６章　ITサービス＞
            br
            | 第２４条（保証）
            br
            | １　当社は、本サービスの使用にあたり、ハードウェア、OS等に関するスペックについて使用環境の推奨を行うことがあり、当社の推奨した使用環境（以下「推奨環境」といいます。）以外で本サービスを使用した場合には、本サービスの機能の一部が使用出来ない、動作に不都合が生じるまたは通常予定される効用が実現出来ない等が発生する可能性があります。
            br
            | ２　推奨環境下においても、様々な事情により本サービスに前項に定める問題が生じる場合があり、当社は推奨環境下において本サービスの品質、機能等について如何なる保証をもするものではありません。
            br
            | ３　当社は、以下の各号に定める本サービスの機能・性能のいずれをも保証しておらず、利用者はこれらにより生じた損害等について当社が責任を負うものではないことを異議なく了承しているものとします。
            br
            | ⑴　当社指定サーバーに保存されたデータが有効に保存されること
            br
            | ⑵　利用者が当社指定サーバーに保存されているデータに有効にアクセスできること
            br
            | ⑶　その他当社が明示的に保証していない事項
            br
            br
            br
            | ＜第８章　保障・裁判等について＞
            br
            | 第２５条（免責）
            br
            | １　当社は、一般利用者に生じた次の各号に掲げる損害については、債務不履行責任、不法行為責任、その他の法律上の請求原因の如何を問わず、一切の賠償責任を負いません。
            br
            | ⑴　本規約第１３条各項に定める事態・行為の発生により生じた損害
            br
            | ⑵　当社の合理的な支配を超える不可抗力事由による損害
            br
            | ⑶　一般利用者の使用する機器の障害、本サービスまでのインターネット接続サービスの障害による損害
            br
            | ⑷　本サービスの応答時間など、インターネット接続サービスの性能値に起因する損害
            br
            | ⑸　当社による合理的なセキュリティ措置を超えて本サービスに生じたコンピュータウィルスの侵入により生じた損害
            br
            | ⑹　当社による合理的なセキュリティ措置を超えて本サービス等に対してなされた第三者の不正アクセス、アタック、通信経路上での傍受により生じた損害
            br
            | ⑺　当社が定める手順・セキュリティ手段等を一般利用者が遵守しないことに起因して生じた障害
            br
            | ⑻　電気通信事業者の提供する電気通信役務の不具合に起因して生じた損害
            br
            | ⑼　法令に基づく強制的な処分・命令・その他の措置により生じた損害
            br
            | ⑽　委託先の業務遂行により生じた損害
            br
            | ⑾　その他当社の責に帰すべからざる事由により生じた損害
            br
            | ２　当社は、本サービスの利用に関して一般利用者と第三者の間に生じた紛争等について一切の責任を負いません。
            br
            br
            | 第２６条（準拠法および専属的合意管轄裁判所）
            br
            | １　本サービスに関する契約の準拠法は日本法とします。
            br
            | ２　本サービスに起因し、または関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
            br
            br
            | 第２７条（分離可能性）
            br
            | 　本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により向こうまたは執行不能と判断された場合であっても、本規約の残りの規定および一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有します。
            br
            br
    script.
      window.onload = function () {
      stekina.reserve.main.run();
      }
    script(src='https://static.line-scdn.net/liff/edge/2.1/sdk.js')
    .remodal-overlay.remodal-is-opened(style='display: block;')
    .remodal-wrapper.remodal-is-opened(style='display: block;')
      #reverve-finish-modal.remodal-is-opened(style='box-sizing: border-box;width: 100%;margin-top: 120px;padding: 20px;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);color: #2b2e38;background: #fff;')
          .common-matching-henkin-wrapper-head-ai
            .common-matching-henkin-wrapper-head-ai-img
              img(src='https://stekina.com/wp-content/uploads/icon_stekina-ai-illust.png')
            .common-matching-henkin-wrapper-head-ai-text ラインと連携してログインをお願いします！
          .common-matching-henkin-body
            .common-matching-henkin-body-imgline
              img(src='https://stekina.com/wp-content/uploads/text-dialog-line.jpg')
            .common-matching-henkin-body-button
              button.common-matching-henkin-body-button-first(style='background:#00B900 !important;') ライン連携する👌