- var dateNow = Date.now();
doctype html
html(lang='jp')
  head
    title ７名のステキな美容師をご紹介いたします
    link(href='static/css/matching.css?'+dateNow, rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  body
    #barba-wrapper
      .barba-container 
        .reserve-ux-wrapper
          //.common-macching-card
          .reserve-ux-announce
              .reserve-ux-announce-img
                img(src='https://stekina.com/wp-content/uploads/icon_stekina-ai-illust.png')
              .reserve-ux-announce-text
                  span.reserve-ux-announce-text-red|７名のステキな美容師をご紹介いたします
                  span|👇
          .common-macching-card
            .common-macching-card-header
                    .common-macching-card-header-left
                      span|条件の中で
                      span.common-macching-card-header-left-large|相性のよい
                      span|美容師です            
                    .common-macching-card-header-right
                      .common-macching-card-header-right-label
                        |マッチング率
                      .common-macching-card-header-right-percent
                          span.common-macching-card-header-right-percent-number
                            |78
                          span|%
            .common-macching-card-cover
                .common-macching-card-speech-tap-photo
                  img(src='https://stekina.com/wp-content/uploads/speech-tap-photo.png')
                .common-macching-card-cover-profile-img
                  a(href='https://stekina.com/profile/H8C8-QF8J')
                    img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/3WLF-5365-P48V-5NF2?timestamp=1578464061688')
                .common-macching-card-cover-date
                      .common-macching-card-cover-date-left 
                          .common-macching-card-cover-date-left-name
                              |カワイ ミオ
                          .common-macching-card-cover-date-left-score
                            //suteki-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_suteki_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //follower-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_follower_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //comment-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_comment_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50              
                      .common-macching-card-cover-date-right
                          .common-macching-card-cover-date-right-icon
                            img(src='https://stekina.com/wp-content/uploads/icon-salon.svg')
                          .common-macching-card-cover-date-right-icon-name
                            |IJK omotesando
        
                .common-macching-card-cover-background 
                    .common-macching-card-cover-background-left
                        img(src='https://www.atama-bijin.jp/salon/9912/images/shop_img.jpg')
                    .common-macching-card-cover-background-right
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon2.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon3.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon5.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon6.jpg')
            .common-macching-card-detail
                .common-macching-card-detail-date
                    .common-macching-card-detail-date-list
                        .common-macching-card-detail-date-icon
                          img(src='https://stekina.com/static/img/icon/icn-map.svg')
                        .common-macching-card-detail-date-text
                          |東京都渋谷区神宮前
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/static/img/icon/icn-lime.svg')
                      .common-macching-card-detail-date-text
                        |美容師歴8年
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/wp-content/uploads/icn_card_price.svg')
                      .common-macching-card-detail-date-text
                        |平均カット料金5000円
                .common-macching-card-detail-escription
                  |年間1500名以上のお客様を担当🗣{ヘアスタイル/メイク/小顔矯正/マッサージ/ファッション/ランジェリーであなた自身の為にサポート！)#ランジェリー美容師
                .common-macching-card-detail-button
                    .common-macching-card-detail-button-save-wrapper
                      .common-macching-card-detail-aboslute-speech-save(style='opacity:0;')
                        img(src='https://stekina.com/wp-content/uploads/speech-add-mystylist-annonce-1.png')
                      .common-macching-card-detail-button-save
                        |保存する
                    .common-macching-card-detail-button-reseve
                      a(href='https://stekina.com/reserve/H8C8-QF8J/menu')
                        |空席を確認してみる

          //.common-macching-card
          .common-macching-card
            .common-macching-card-header
                    .common-macching-card-header-left
                      span|条件の中で
                      span.common-macching-card-header-left-large|相性のよい
                      span|美容師です            
                    .common-macching-card-header-right
                      .common-macching-card-header-right-label
                        |マッチング率
                      .common-macching-card-header-right-percent
                          span.common-macching-card-header-right-percent-number
                            |78
                          span|%
            .common-macching-card-cover
                .common-macching-card-cover-profile-img
                  a(href='https://stekina.com/profile/H8C8-QF8J')
                    img(src='https://s3-ap-northeast-1.amazonaws.com/limeapp/karte/owner_photo_approved/L7MN-RTSX-HSLQ-MPK4?timestamp=1574902807825')
                .common-macching-card-cover-date
                      .common-macching-card-cover-date-left 
                          .common-macching-card-cover-date-left-name
                              |川崎 昭太朗
                          .common-macching-card-cover-date-left-score
                            //suteki-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_suteki_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //follower-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_follower_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //comment-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_comment_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50              
                      .common-macching-card-cover-date-right
                          .common-macching-card-cover-date-right-icon
                            img(src='https://stekina.com/wp-content/uploads/icon-salon.svg')
                          .common-macching-card-cover-date-right-icon-name
                            |IJK omotesando
                .common-macching-card-cover-background 
                    .common-macching-card-cover-background-left
                        img(src='https://www.atama-bijin.jp/salon/9912/images/shop_img.jpg')
                    .common-macching-card-cover-background-right
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon2.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon3.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon5.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon6.jpg')
      
            .common-macching-card-detail
                .common-macching-card-detail-date
                    .common-macching-card-detail-date-list
                        .common-macching-card-detail-date-icon
                          img(src='https://stekina.com/static/img/icon/icn-map.svg')
                        .common-macching-card-detail-date-text
                          |東京都渋谷区神宮前
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/static/img/icon/icn-lime.svg')
                      .common-macching-card-detail-date-text
                        |美容師歴8年
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/wp-content/uploads/icn_card_price.svg')
                      .common-macching-card-detail-date-text
                        |平均カット料金5000円
                .common-macching-card-detail-escription
                  |年間1500名以上のお客様を担当🗣{ヘアスタイル/メイク/小顔矯正/マッサージ/ファッション/ランジェリーであなた自身の為にサポート！)#ランジェリー美容師
                .common-macching-card-detail-button
                    .common-macching-card-detail-button-save-wrapper
                      //.common-macching-card-detail-aboslute-speech-save(style='opacity:0;')
                        img(src='https://stekina.com/wp-content/uploads/speech-add-mystylist-annonce-1.png')
                      .common-macching-card-detail-button-save
                        |保存する
                    .common-macching-card-detail-button-reseve
                      a(href='https://stekina.com/reserve/H8C8-QF8J/menu')
                        |空席を確認してみる
          //.common-macching-card
          .common-macching-card
            .common-macching-card-header
                    .common-macching-card-header-left
                      span.common-macching-card-header-left-large|髪の悩み
                      span|を解決したい時にオススメ             
                    .common-macching-card-header-right
                      .common-macching-card-header-right-label
                        |マッチング率
                      .common-macching-card-header-right-percent
                          span.common-macching-card-header-right-percent-number
                            |78
                          span|%
            .common-macching-card-cover
                .common-macching-card-cover-profile-img
                  a(href='https://stekina.com/profile/H8C8-QF8J')
                    img(src='https://pbs.twimg.com/profile_images/989434683606761472/nG-sxwag_400x400.jpg')
                .common-macching-card-cover-date
                      .common-macching-card-cover-date-left 
                          .common-macching-card-cover-date-left-name
                              |野坂信二(のっち)
                          .common-macching-card-cover-date-left-score
                            //suteki-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_suteki_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //follower-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_follower_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //comment-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_comment_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50              
                      .common-macching-card-cover-date-right
                          .common-macching-card-cover-date-right-icon
                            img(src='https://stekina.com/wp-content/uploads/icon-salon.svg')
                          .common-macching-card-cover-date-right-icon-name
                            |Lily
                .common-macching-card-cover-background 
                    .common-macching-card-cover-background-left
                        img(src='https://stekina.com/wp-content/uploads/0.jpg')
                    .common-macching-card-cover-background-right
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/1-2.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/2-2.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/3.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/4.jpg')
      
            .common-macching-card-detail
                .common-macching-card-detail-date
                    .common-macching-card-detail-date-list
                        .common-macching-card-detail-date-icon
                          img(src='https://stekina.com/static/img/icon/icn-map.svg')
                        .common-macching-card-detail-date-text
                          |東京都渋谷区神宮前
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/static/img/icon/icn-lime.svg')
                      .common-macching-card-detail-date-text
                        |美容師歴8年
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/wp-content/uploads/icn_card_price.svg')
                      .common-macching-card-detail-date-text
                        |平均カット料金5000円
                .common-macching-card-detail-escription
                  |年間1500名以上のお客様を担当🗣{ヘアスタイル/メイク/小顔矯正/マッサージ/ファッション/ランジェリーであなた自身の為にサポート！)#ランジェリー美容師
                .common-macching-card-detail-button
                    .common-macching-card-detail-button-save-wrapper
                      //.common-macching-card-detail-aboslute-speech-save(style='opacity:0;')
                        img(src='https://stekina.com/wp-content/uploads/speech-add-mystylist-annonce-1.png')
                      .common-macching-card-detail-button-save
                        |保存する
                    .common-macching-card-detail-button-reseve
                      a(href='https://stekina.com/reserve/H8C8-QF8J/menu')
                        |空席を確認してみる


          //.common-macching-card
          .common-macching-card
            .common-macching-card-header
                    .common-macching-card-header-left
                      span.common-macching-card-header-left-large|オシャレ
                      span|になりたい時にオススメ          
                    .common-macching-card-header-right
                      .common-macching-card-header-right-label
                        |マッチング率
                      .common-macching-card-header-right-percent
                          span.common-macching-card-header-right-percent-number
                            |78
                          span|%
            .common-macching-card-cover
                .common-macching-card-cover-profile-img
                  a(href='https://stekina.com/profile/H8C8-QF8J')
                    img(src='https://pbs.twimg.com/profile_images/1093100221117063168/4tFr-qj7_400x400.jpg')
                .common-macching-card-cover-date
                      .common-macching-card-cover-date-left 
                          .common-macching-card-cover-date-left-name
                              |宮原 幸恵
                          .common-macching-card-cover-date-left-score
                            //suteki-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_suteki_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //follower-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_follower_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //comment-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_comment_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50              
                      .common-macching-card-cover-date-right
                          .common-macching-card-cover-date-right-icon
                            img(src='https://stekina.com/wp-content/uploads/icon-salon.svg')
                          .common-macching-card-cover-date-right-icon-name
                            |Lily
                .common-macching-card-cover-background 
                    .common-macching-card-cover-background-left
                        img(src='https://stekina.com/wp-content/uploads/0.jpg')
                    .common-macching-card-cover-background-right
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/1-2.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/2-2.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/3.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/4.jpg')
            .common-macching-card-detail
              
                .common-macching-card-detail-date
                    .common-macching-card-detail-date-list
                        .common-macching-card-detail-date-icon
                          img(src='https://stekina.com/static/img/icon/icn-map.svg')
                        .common-macching-card-detail-date-text
                          |東京都渋谷区神宮前
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/static/img/icon/icn-lime.svg')
                      .common-macching-card-detail-date-text
                        |美容師歴8年
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/wp-content/uploads/icn_card_price.svg')
                      .common-macching-card-detail-date-text
                        |平均カット料金5000円
                .common-macching-card-detail-escription
                  |年間1500名以上のお客様を担当🗣{ヘアスタイル/メイク/小顔矯正/マッサージ/ファッション/ランジェリーであなた自身の為にサポート！)#ランジェリー美容師
                .common-macching-card-detail-button
                    
                    .common-macching-card-detail-button-save-wrapper
                      //.common-macching-card-detail-aboslute-speech-save(style='opacity:0;')
                        img(src='https://stekina.com/wp-content/uploads/speech-add-mystylist-annonce-1.png')
                      .common-macching-card-detail-button-save
                        |保存する
                    .common-macching-card-detail-button-reseve
                      .common-macching-card-detail-aboslute-speech
                        img(src='https://stekina.com/wp-content/uploads/fuwafuwa-kuseki.png') 
                      a(href='https://stekina.com/reserve/H8C8-QF8J/menu')
                        |空席を確認してみる

          .common-macching-card
            .common-macching-card-header
                    .common-macching-card-header-left
                      span|価格は高いけど
                      span.common-macching-card-header-left-large|相性バッチリ           
                    .common-macching-card-header-right
                      .common-macching-card-header-right-label
                        |マッチング率
                      .common-macching-card-header-right-percent
                          span.common-macching-card-header-right-percent-number
                            |78
                          span|%
            .common-macching-card-cover
                .common-macching-card-cover-profile-img
                  a(href='https://stekina.com/profile/H8C8-QF8J')
                    img(src='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTExMWFhUXGBgaGBgXGBgXGBsdGBcXFhgXFxUYHSggGBolHRUXITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQFy0dHh0tLS4rKy0tKy0tLSstLS0tLS0rKy0rLS0tLS0tLS0tLSsrLS0tLS0tLS0tKy0yLS0rLf/AABEIAOEA4QMBIgACEQEDEQH/xAAcAAACAgMBAQAAAAAAAAAAAAADBAACAQUGBwj/xABBEAABAwIDBgMGAwYEBgMAAAABAAIRAyEEMUEFElFhcYEGE5EiMqGxwfAHFNEjQlJy4fFigpKyMzRjc6LCJENT/8QAGgEAAwEBAQEAAAAAAAAAAAAAAAECBAMFBv/EACYRAQEAAgICAQMFAQEAAAAAAAABAhEDBCExEiIyQQUTUWFxMzT/2gAMAwEAAhEDEQA/APQmSjAlBNSFcVJFu6rRigKtRuqheFHVEjLPbneeSzh3QLotVtkGo4fogDmtrog1XOJkR0Qt6OqM1xQGWVwAQRfglqjg4xMFONZN0LEYcTMXQA8PhjMkpq4QqYdlKK6nqfmgAVKipSpibo2JAIQMM4Rw4IIw+mrCnbNAfVJtNldlS0INr8bTMyMkRlMRINinHibIQbCC0XdPEq27bNGLIQahIBarba.Pjax.start();FbQ5odfDiZRqNPeTTmS2EDTXN6ooEnNDNjkstfqmTFULDaxmAi1nwFMJSET8EBinRdnnPGU7Sp8Rosglo48EWoRGd0jV8rmogbw5+qiDYqINFpE8EQlU34VJHYyEYMjJBZUmEQVBnwUmtUGSERwVjVnJVg8Pvog1HU1bdshEH0QXYi6COSQIVHOMpcVy5GY4oBimDCIckGk7itN4q8QtwtKTdzrNGXUnkEjH2tiWMzcG9x9VxfiTxfukU6DgD+84geg68Vym1douqmXEkmSToFzlRhmxvzUXMadlgvGOIpvBdL2zkXSD0Onqu42D4so4l26JY/Rrteh1XjlLzmnR45EFNYXEFjg5oc0tIJBsRzB4JTKwae7Oqko1KoHCYlaHYW1W1qLX8r9RY/2W8wTrZrqQ/lrLsMCFltURMW5iPgiEjRBl6NGMiiKpqxmisGqAWgXEXQg2MwOSPVqXyvossB4EoBZ47wsMHppH1TNajbOFMPTiNdUEsHjVWbUEwNPihVWwSeKrQIlAGtwKixvHgogw/LRxTBCFTcURpEKklawLSTKFQrElHe4H+yjHD9EwuyQiVHQENmllXEPCkwK1S/VYawZzJQWvkq+7fNNI7GSco4I4aQgNdYRosNrESJt0UqXqVDkvGvxI2kTi3NIgMDQB1G9/wCy9edUJmY5/wBl5l4o2CcXj6W6C0VhJJuQ2nYuHCQMlOdk9qmGWXmOd8O4ariDuMy1MLsqv4fM3J3nF3oF02x9mUsIzdpsJGsRvHnfMrc4TH0asta64zaZDh1BWTLK2+G3Dhxk1l5rx3H+HamHvvkgZ6JI1hGc219M9QvYNv7KbUpmM4XjW18O6m4tIgiQU8Mrfblzccx8x134c7Uayo+k6zXX6OFviF6dRgZZaarwrwjU3q7GkEy42GeWfwXuWzqUMGY6rVj6Zj7X8lkulUB0WAqC7qYOYWAy1ioShkwgLuHHNQEEIRqqxxAgBAEbTsrDolvN4ooqiEBmoyRklBTIkhMOcpvQEEF5h4LKnmH+H4/0WUwDTqE5iEXOyCymdUVjeKrSYFWdFkBzYHfMozzdUrDIlML03WCHiKwUKEW3mewS0C1F0Em8FOtM6WSYbe6MyqAPqlSgr6YAzgcUEP0+Ky5wgG6WcDNnWn7zQexKz4vN0DD4P/5bKpy8ndby9oEx1ACTxlYrOy8U7fAmQBbhzhceXDc279flkvxv5bPxD4YZiGmxkiJDi0jWWxkbZrOxdgeUbkm1pJcQOG8bnunKG1XOHuxzKWPiGlTLmVN8OsJgkGdRGiy3+G6Szy53bOz8QKo3GtcHOE79SoIaQSXCCBbKOaTx/hzzKNWrUYabtxxgneggEyDqLL0DDPBHtC+n0Wv2/T81jqMxviD01+Fu6JSyxlvl5r+HWxT5vnE3aMo1cBA9CvVqTzF1ptlYBtAEN1MnsA0D0CfFWFsw3rywZyTLUNiuAiGsEi1xcJPKIsjNcJtmqTsyaqjqiEYWGmdUBZ5Q3EG4RXDmgtN4lBMmorMbKq1ko7hpKAu0cVaRxQpN0DzxeSgG7cfv1USP5g/YUT0NnNzqqOkIzb5hVeVRFXsi5usVGyjtnuiMooBH8tJV/wArAlPlo7qrktjTUOo6ZCT37qU2ACwunq9LgEKoIlGxonVb7JSbATnMieQKdc4hCrVQ0EucAOJIA+KCrTYxszoqUHEXESMlrdu+LcOyfLd5ruDfdtxdl6Sg+GvNxTPzL6pawOLW0mWbaBLybu1U8mXxx8jixuWckdRgqQriXEiDbdJBB+vdEFCpO6HmRkX02n0c2FqMaypRd5lI2OYVMN4uqk7pZPRYHrTKTxW9oVK9PeFVzXH91zZAjmDklquLkzFuJSlWrVqy94gDJk5nSStbszbVLE+wx0PGbHWNs+R7LtwSXyzdrOySRvaeOlM0HnotXDmkcPuE/hJNzktemCVs6LT1RhTjVBwruCacD1UugD6hGXxWA52iO8AaIRIg3TCPcSLd0TD4fI/oh0hNuKapGPuyALSYMlV1GVkPvdHpuSMqMK4526cFanhWjSb6pt5tZUDtEyD3BwCiv5nJRAYcNUJxMIZxF41VxW5T049FadhimRdFbWvCy9+XErIHbilTRzlhjuiw8Krmgj5FLRrz2Wt21j2UKTqr8m5wJJ4Acymt1zb5rzr8TNuS8UGkQ2HP6kWHYGe6JPKcstRq9teNcVVJ8siizQAAvM5EuMgdlzWNdUqHeqVHvIAu5xInTdur1K3eW6D0tyVRMnhYSLjTRdNRmuVoBoZz09V1f4bbXbTe/B1Tuio6aZOW/EFveLc1zRIM8fmZ+CDWpyZyPwkc1GeEyml8XJePL5R7XiMG4jdIWsobHLXTurkth/iHiKIDKzfOaLBxs+OG8B7XcTzWxx34nlwihh4dxeZA7ACfVYb18/UepO3xWbrYeMNtNwtA/wD6OkMbz/i6DPrC8owzHD2gSHcZuOc5p3GYupXqGtXcXvJ1yHIDIAcAoGj7/VauHi+EYOxz/uX+m62N40q04bXBqt42Dx3yd3vzXc7K2xQxDQaNST/A6Q4dWn5ryhoFu/qOIVmYcyHNcQQJ3gYIPI6LrY5TN71ghAHFOPZbnyXFeBdtVK1Jzajg6qwgb0QS0j2SYzNjddxQsudjvjZYC1vHsg7l+ScfIOSA4XzQazaNwjObJgD+itQF78ExlzQYBprNEjLgVl7+AWAw5wEAXe4IdQ84RGgxeOyUrOvdOFV5H8Swp5jPsKJkozDwLrJpahNNbGao9mqotAN5HkiHmsAgZqOcHZZINGPBVihBgmVVz8+CVgZr190EnICSvAdu43zar6jj7znHpr+nZer+NdqinhXgG7/YH+b3o7SvGq8EnUZZanKfknJpx5Lu6EovvFxaONiU/wCTMdYtwGq1OCBlxMwBHew+EStgHTfPoYNlUcrFmgZTmb9slXdyi0kwMwssJgdZnTosXHKb8RGqZBNbkLXvOojMKTlEEXjj3VeHG57dVam6QNY9YSNBTy48dIVm07fZB/RRrYAPIz+p9URjrTGkT+oQRXcg9vslFBgfUZH7lVxD4BP+H5f2Sjq4LjHw55/fJI9Ou/D7H+Xi2A+7UBYZ53HxA9V7C14/ovn3B4nce14mzg4djP0XueCrb8OGRuOhv8lOUd+K/hsqhsgNFxwR81RrbwodaZpjJFe5VYFV4QbBOfNY8zT5ZLL2WU3NUyWJEITqQN9UTy1kNPBOAv5PVRG3VlMtLl1phAcSU0L8EB1HmUwTrtJOdkpdpgGU7XHCwSVW+UT3VRFG88a3PyUrCfv6pGTOcxoArVHvAJAkgExxjII0XycB+IW0JrNpNypiT/M4T8o9VxWIqSXTaZNsjEWKe2nWe97y8HfLjvAyIJMgHmFq65gDK1rc85PoiuP5KGpBN4B06cVsMO+Ynn/Rad/vhP4d2X3kLqZVZTw2rKg52bIGk6qOb29meXQJdjsulucoskCMuI0v8lSGC0dhcxmZVDJty7j7lXcLdoKCXmLmcuvJBGIF5sAIJF54dlip04ZZeiXfWgnoFK2IkczHwRs9B4lwt27DUJXD0rkAzcgH5lTEP481XAX6FSuTwdpjkR1K9l8EYnzMHSJPujc/0mB8IXjzXTw4Z8F6X+FtcGnVp/wvDgP5hBjlLUX0fHfqd+2oIVWPmYS+5LuXyTbGiBCjTQMxhjVEaDF1KIsibiRqFvNY8tEKxKZIGrLmrLSpMoCsLKtuqJgF7glMRiQMyhGsS2ALpcYdzjJuukjncv4ZOI3pgeqDTpk58eidZQAESqlsCPvsmWghQAmPuFR4tKy9zu3a6FUBQGk2z4WpYu7iWOAs5uffiF5/tvwXi6MhgFRkZszPVpuD6r2XZ+HhnVc9tfEHecG6LDnzZY5XTfj1sMsJv28Rbsyo0udUa5oZu2Igy90D6+iPh6UNc4xl81v/ABI13k75zqV2gdKYd9SVo3N3afMn5f3WrD1uvO5Jq6glJ2faOhTBbnwEJKjkPuU2w2jtB+cro5UUjXQWtnyKBiGGTcGIkwjOcBPC18rhSu6W3i+oznmEAhjGjPt16oFRstB4E5JnEZH1Q8MJpuHC/p/dScJV3ezOoyP6q+DMDNUDQ7dadXtHYmCvT9j/AIfYZwBNWqeQLR8d1cs+SY+2jj4cuSaxcFSAHC1pi67b8NKjxiSA1xY5jmkgHdBBDhLogZEd12OH8F4NgltOTxcS75ra4I7oAAgCBaALIx5Zn6Vl1suPVtPUKZvKI1sGNAhiuMgmWmUzHpq8oYcrpGwQpCyAo5MmIVgIWQshAZUWO6iCJ06MaKeSimmdCo1kK9kWcI6oUJus3gtfWqkck4VWqMSeIlXcSBmZQXtLi0k8Lf1TviFPN027aP7OBw+i4/bGCdSp1HgyTJJygALtN6y5TxlW/Y7gzcQ3/UQPqvNs3Xresa8/8QUYoYZrhlLjPGJP+8rk8diQ51shYLqvxFqEOpNGW675j9FxzKQF/mvS3qaeH7uzNGrOmcBMNIteBJF0k2pkEUuy1vrpxRstGg+b6k2jIRxCo5xdwN8+aXc+MpzssEmB1016o2QlR/Cw4IeAMPjQ/VWpXBb1S7Ww7+qRwLaNHyzbQz6XC9i8N4kljJ1AXlm0QH051Ga9R8M4J5pM/wAIH38Fl7Mb+jbuu3YJb2SQw5tw4fG62NNpDUHfgKev+XftedKUTBKbpGb5JWm2eyPTHCy1MZukLIwKDSI4qzqwGakxC+EJ1W6VdVLuizfRVotmDWWRVSxlSk8zknojm8sqm99yogCSqudbJWiyBVNkgFiMRuiSYWnxGLBOaPtSvAsFqGhx0XXGOWeXnRgVyYI+Mq7KgL28z8kFk5RaM9EPBt9triZM6fJTyz6Krhv1z/XTE2XEbfq7+Jps0Dt7/R7XzAXZ1zDCVwdIb+JqPJ90bo7mfp8V5/FjvOR6nPl8eK1y/wCIjg+owNcC5rXbw1EkETw1XEMraHut1j8SH13kyd5zwToWzbuAB6LXVcLvb38TDHbSV6OU/h4sv8qUgCOsT/REjLhp2QWYd4zEIjXSQpNZ824m4jILFIT8+vFQHh2Q2Ogj6ICMfuuE+mkHmi4mjB3hkb5rGLYMj24K+DxEtLSJIyQP7UrVY1sQvc/Co/YtPG68Dx7vZ7L37wuP2LP5QsvZ/D0OhPNdA98NK1ZBPbLn1T1U2VaLIul177dO1PEYpaSm6LENpRWtstLIuXAIJpzmirO6UAsHbpTNE2QKhF1MMYMJkNUsEs2oc4+KadklGtcdIThVT8yeSiY/KniomFzitEHGVbWQ2iSs1xBlEhba80ZzJQXYXutqcMXGZnqj+QAMhzVfJPw217KQAy06pfyQCOo0WxfTAysk6tnCcpCnL7avCayhzaL4p9lxGz3gNe823nOcTwAsL8PZXW+IsQ1tE+0ASIEnNcXt/DzhSxtvcuZGRErN1cN52tPf5JOOR5tVIkxYSY5aj5odLEneO+PbiOAdwvx/VbHE7PqDemnvAag59LT6rT13B1iTbIG1/vt0WzKXF5eNxy9eUxW0anuubu8f05IeHrZEnsr0sVHs1W7zeMXHVEq7MDhvUT20XPzfLp4nj0lVpEOHW3DohOvDrZaImExAB8uqIOUhZxGzHNvvAt4jh0QPXs1h2iozd/eAka2WuYdx3MG/6KrG1KZDhMcQn3eVXvO7UjI2af0KR60V2kzIjI5L3PwVVmhTP+BvyC8Ir03tG65pEenZe5/h6JwtE/8ATb8lm7PqN3R93/HRYp0BBpVxxU2o+ABxKSw4P3kq62P02q7ef1SNxSRt5IedAgZqocTmtGmbbaUnApha6lUhHpYiVOjYxVHeFrIVBsaJo1JWX0+Fk5SAqSs0CRmsg8VXeGQGSZGPNCiX9pRGgWe8gWVKMuMkQjVOAz4rFOlxKpJunClQCFRtQNyWHvJU6Xss95SzHjfaDqf6/RHqvjNauvsj8w61R9Isu1zIkE21BBsEZ/bSw+6abPxDBw7i42bBJPAGSfRcN4iqDy2NBB3zMg2gQR2uF158INe2K+JxFbk5+63l7LAJXC7eZ+3FKABTaAAOBLhlwhqOlPq0n9Tt/b21AxZALCCZyIzHEdMkhjNjNqiW+9wNvjoVtn4W89uizRxRYYc0VG6x7w+4XrZSZTVeBjnljd4+HD4mg6kdyo0xxj2h+oS9LeYQ+mfZnT6t+q9MxGy6WIZDCLD3HHdcJ1E5rh9o7BqUi4svuyXDIi4GXcXWDl69x84vS4ezMvGXgEupVgA4hr0PD4l9EhtS7NDmkoa4jea4Hi3Pu3J3aCiNDogEVG8B7w/ym6z/ACafi3BxlMi7hBE80pU/KgzJJta4WspUhPthwGmidpUaQ1BBtJ48OSe7S+MgmNxRLIkRNouR3XuHgSDhmECButgf5QvAa1ODG7ujXhwles+D/GjMPh206tMwAAHNg5DUFcebG5Tw1dXkx47d327Pawl7RwupTbwzWpwG32Ymo7cBiJk6XgA9c7StxTFiAF04sfjjIXLlMs7YxuHVWYSEVrCj06QIAjqum0aRrZElRzdM1ZzCMh0hEYOSkw8KyBmc9U4wFL1ArUq6RiPZKE5h0TLXKmRlOAHyioiebyUT2NBMYsPZqitaoWo2RfcUdkjkIb9UDRKtTgEynNkthu8dTPbL9fVKVgq0cQ5oc2LZqObfxdetjLnps27QYd+/u2PoHfIry7HMLsfULsjTBHT++8uo2FWLqFZ7mwX1HRaLWie1uyRx1MCtSfGj29bBwH/iUupfq2X6ljPhMWlZTJdByKS2rhQIdT3gR7wAK3riwGSY5FavHY1t/wBu4C9mgn4wvS+bwbx6L/mxDC6C0/vt5a9kwynLajh7TS1oDrTcyRPGfRcs/FtpPcAXGmby4RDv4o4JtniKmAW3aZFmmAYET/ZGXJ4LDiuze0djMdTY0tbvAWLRuzqZ6TnrC56tstwzZvgZESHjoRmuppeIBm2kxxPGT95LZ4XxA51nUabdZdMJZYY2Lw5bjfbzktdo8OjNtRskdSLq4xLxI8umeO6fjBhenYjZwq3dRouHKnJPcmxSVXwvhnz+zqU3f4cviCFn/a16rVOaX3HNeCvDb9oYoNqu/YU4fUAsD/DTHWL8p4r1rbvhOhXbdkOizm2I/XutR+GeEp0qWI3SY843MA2a0XXbseC0EZFYOW35Wb9PY6+M/bl17cV4e2B+W3g5284xJgDIACy6TDNEqY2l7Uxn95Jb2WC1lowu8WbPGY5WRsvLvortp8krSxP3omWVuCLsQRoQ6phXLknVJyj76IgrDzylGYBFlimICw14yCohPMgXKuDyQvKTTGpADy1ExKiWwCVnRRRMKOQ3KKJwE3e6qUff7H6KKKeX7HXrf9YQ2T/yzv5nfNarb+VL/uD/AGuUUUdX1VfqXqNN4kyH8wWuxHuHqfksqLfPTwM/bRbZ9w9vkuYd/wDX/N9QoouXJ7jV1/Ts/D//ABB2/wBwXoH7vZRRaIzT22rPdCBV16LCih2v4azwt/wcT/3an+0Lr9g/8vT/AJG/IKKLyeb/AK19B1//AD4CbQ0WtradVlRaOL7WTm+6mDl3CYoaKKLpXOCDIpZ2aiiUFHbkgO+o+aiiZHHItPJRRTTDUUUSD//Z')
                .common-macching-card-cover-date
                      .common-macching-card-cover-date-left 
                          .common-macching-card-cover-date-left-name
                              |寺村 優太
                          .common-macching-card-cover-date-left-score
                            //suteki-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_suteki_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //follower-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_follower_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //comment-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_comment_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50              
                      .common-macching-card-cover-date-right
                          .common-macching-card-cover-date-right-icon
                            img(src='https://stekina.com/wp-content/uploads/icon-salon.svg')
                          .common-macching-card-cover-date-right-icon-name
                            |IJK omotesando
        
                .common-macching-card-cover-background 
                    .common-macching-card-cover-background-left
                        img(src='https://stekina.com/wp-content/uploads/0.jpg')
                    .common-macching-card-cover-background-right
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/1-2.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/2-2.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/3.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/4.jpg')
            .common-macching-card-detail
                .common-macching-card-detail-date
                    .common-macching-card-detail-date-list
                        .common-macching-card-detail-date-icon
                          img(src='https://stekina.com/static/img/icon/icn-map.svg')
                        .common-macching-card-detail-date-text
                          |東京都渋谷区神宮前
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/static/img/icon/icn-lime.svg')
                      .common-macching-card-detail-date-text
                        |美容師歴8年
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/wp-content/uploads/icn_card_price.svg')
                      .common-macching-card-detail-date-text
                        |平均カット料金5000円
                .common-macching-card-detail-escription
                  |年間1500名以上のお客様を担当🗣{ヘアスタイル/メイク/小顔矯正/マッサージ/ファッション/ランジェリーであなた自身の為にサポート！)#ランジェリー美容師
                .common-macching-card-detail-button
                    .common-macching-card-detail-button-save-wrapper
                      //.common-macching-card-detail-aboslute-speech-save(style='opacity:0;')
                        img(src='https://stekina.com/wp-content/uploads/speech-add-mystylist-annonce-1.png')
                      .common-macching-card-detail-button-save
                        |保存する
                    .common-macching-card-detail-button-reseve
                      a(href='https://stekina.com/reserve/H8C8-QF8J/menu')
                        |空席を確認してみる
          //.common-macching-card
          .common-macching-card
            .common-macching-card-header
                    .common-macching-card-header-left
                      span|サロンまで遠いけど
                      span.common-macching-card-header-left-large|相性バッチリ
                    .common-macching-card-header-right
                      .common-macching-card-header-right-label
                        |マッチング率
                      .common-macching-card-header-right-percent
                          span.common-macching-card-header-right-percent-number
                            |78
                          span|%
            .common-macching-card-cover
                .common-macching-card-cover-profile-img
                  a(href='https://stekina.com/profile/H8C8-QF8J')
                    img(src='http://topics.beauvo.net/file/thumbs/201805/ae3b23083a6cfa525f896e31ab277d63_d0625769d1ff4352bbe74bc337c8ca9b/100_100_f.jpg')
                .common-macching-card-cover-date
                      .common-macching-card-cover-date-left 
                          .common-macching-card-cover-date-left-name
                              |山内 大成
                          .common-macching-card-cover-date-left-score
                            //suteki-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_suteki_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //follower-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_follower_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //comment-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_comment_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50              
                      .common-macching-card-cover-date-right
                          .common-macching-card-cover-date-right-icon
                            img(src='https://stekina.com/wp-content/uploads/icon-salon.svg')
                          .common-macching-card-cover-date-right-icon-name
                            |Lily
                .common-macching-card-cover-background 
                    .common-macching-card-cover-background-left
                        img(src='https://www.atama-bijin.jp/salon/9912/images/shop_img.jpg')
                    .common-macching-card-cover-background-right
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon2.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon3.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon5.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon6.jpg')
            .common-macching-card-detail
                .common-macching-card-detail-date
                    .common-macching-card-detail-date-list
                        .common-macching-card-detail-date-icon
                          img(src='https://stekina.com/static/img/icon/icn-map.svg')
                        .common-macching-card-detail-date-text
                          |東京都渋谷区神宮前
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/static/img/icon/icn-lime.svg')
                      .common-macching-card-detail-date-text
                        |美容師歴8年
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/wp-content/uploads/icn_card_price.svg')
                      .common-macching-card-detail-date-text
                        |平均カット料金5000円
                .common-macching-card-detail-escription
                  |年間1500名以上のお客様を担当🗣{ヘアスタイル/メイク/小顔矯正/マッサージ/ファッション/ランジェリーであなた自身の為にサポート！)#ランジェリー美容師
                .common-macching-card-detail-button
                    .common-macching-card-detail-button-save-wrapper
                      .common-macching-card-detail-aboslute-speech-save(style='opacity:0;')
                        img(src='https://stekina.com/wp-content/uploads/speech-add-mystylist-annonce-1.png')
                      .common-macching-card-detail-button-save
                        |保存する
                    .common-macching-card-detail-button-reseve
                      a(href='https://stekina.com/reserve/H8C8-QF8J/menu')
                        |空席を確認してみる

          .common-macching-card
            .common-macching-card-header
                    .common-macching-card-header-left
                      span|条件は無視！
                      span.common-macching-card-header-left-large|最高な相性
                      span|の美容師
                    .common-macching-card-header-right
                      .common-macching-card-header-right-label
                        |マッチング率
                      .common-macching-card-header-right-percent
                          span.common-macching-card-header-right-percent-number
                            |78
                          span|%
            .common-macching-card-cover
                .common-macching-card-cover-profile-img
                  a(href='https://stekina.com/profile/H8C8-QF8J')
                    img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRieA1afFniDAO2mejdCGlqBrvl8H38X87LezuFjkCpij1sGPPA')
                .common-macching-card-cover-date
                      .common-macching-card-cover-date-left 
                          .common-macching-card-cover-date-left-name
                              |宮永えいと
                          .common-macching-card-cover-date-left-score
                            //suteki-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_suteki_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //follower-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_follower_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50
                            //comment-count
                            .common-macching-card-cover-date-score-list
                                .common-macching-card-cover-date-score-list-image
                                  img(src='https://stekina.com/wp-content/uploads/icn_card_comment_white.svg')
                                .common-macching-card-cover-date-score-list-count
                                  |50              
                      .common-macching-card-cover-date-right
                          .common-macching-card-cover-date-right-icon
                            img(src='https://stekina.com/wp-content/uploads/icon-salon.svg')
                          .common-macching-card-cover-date-right-icon-name
                            |Lily
                .common-macching-card-cover-background 
                    .common-macching-card-cover-background-left
                        img(src='https://www.atama-bijin.jp/salon/9912/images/shop_img.jpg')
                    .common-macching-card-cover-background-right
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon2.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon3.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon5.jpg')
                      .common-macching-card-cover-background-right-child
                            img(src='https://stekina.com/wp-content/uploads/dummy-salon6.jpg')
            .common-macching-card-detail
                .common-macching-card-detail-date
                    .common-macching-card-detail-date-list
                        .common-macching-card-detail-date-icon
                          img(src='https://stekina.com/static/img/icon/icn-map.svg')
                        .common-macching-card-detail-date-text
                          |東京都渋谷区神宮前
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/static/img/icon/icn-lime.svg')
                      .common-macching-card-detail-date-text
                        |美容師歴8年
                    .common-macching-card-detail-date-list
                      .common-macching-card-detail-date-icon
                        img(src='https://stekina.com/wp-content/uploads/icn_card_price.svg')
                      .common-macching-card-detail-date-text
                        |平均カット料金5000円
                .common-macching-card-detail-escription
                  |年間1500名以上のお客様を担当🗣{ヘアスタイル/メイク/小顔矯正/マッサージ/ファッション/ランジェリーであなた自身の為にサポート！)#ランジェリー美容師
                .common-macching-card-detail-button
                    .common-macching-card-detail-button-save-wrapper
                      //.common-macching-card-detail-aboslute-speech-save(style='opacity:0;')
                        img(src='https://stekina.com/wp-content/uploads/speech-add-mystylist-annonce-1.png')
                      .common-macching-card-detail-button-save
                        |保存する
                    .common-macching-card-detail-button-reseve
                      a(href='https://stekina.com/reserve/H8C8-QF8J/menu')
                        |空席を確認してみる
        .Timer
          p カウントダウン終了まで
          #TimeLeft

    include ../mixin/_footer-matching.pug
    script(type='text/javascript').
      $('.common-macching-card-detail-button-save').on('click', function() {
      $('.common-macching-card-detail-aboslute-speech-save').addClass('common-macching-card-detail-aboslute-speech-save-animation');
      // 追加したり削除したり
     /*
      $('.common-macching-card-detail-aboslute-speech-save').fadeIn();
      setTimeout(function(){
        $('.common-macching-card-detail-aboslute-speech-save').fadeOut();
      },3000);
      return false;
      */
      $(this).toggleClass('selected');
      $(this).html('<div class="common-macching-card-detail-button-save-triger">保存しました</div>');
      });