- var dateNow = Date.now();
doctype html
html(lang='jp')
  head
    title 最後の質問です！
    link(href='static/css/matching.css?'+dateNow, rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    style(type='text/css').
         @font-face {
          font-family: "k-3";
          src: url("koburinaStdW3.eot?") format("eot"), url("koburinaStdW3.woff") format("woff");
        }
        @font-face {
          font-family: "k-6";
          src: url("koburinaStdW6.woff") format("woff"), url("koburinaStdW6.eot?") format("eot");
        }
    meta(name='robots', content='noindex,nofollow')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  body
      #barba-wrapper
        .barba-container
          .matching-dialog(style='display:none;')
            .matching-dialog-progress-wrapper
                .matching-dialog-progress-icon
                  img(src='https://stekina.com/wp-content/uploads/icon_stekina-ai-illust.png')  
                .matching-dialog-progress-text
                  span|計
                  span|算
                  span|中
                  span|で
                  span|す
                  span|…
                .matching-dialog-progress-gauge
                  .matching-dialog-text-progress-gauge-bar(style='width:72%')
                .matching-dialog-progress-percent
                  span.matching-dialog-progress-percent-number#count(data-from='0', data-to='72') 0
                  span.matching-dialog-progress-percent-number-text
                    |%                                   
          .matching-questions-wrapper
            .matching-questions-head
              .matching-questions-head-ai
                img(src='https://stekina.com/wp-content/uploads/icon_stekina-ai-illust.png')
              .matching-questions-head-speech
                |最後の質問です！
            .matching-questions-content
                  .matching-questions-content-question-box
                      .matching-questions-content-question-box-title
                        span.matching-questions-content-question-box-title-large
                          |美容室への来店頻度
                        span|を教えてください
                      .matching-questions-content-question-box-subtitle
                          |どれか１つにチェック！
                      .matching-questions-content-question-box-error
                              |どれか１つチェックしてください
                      .matching-questions-content-question-box-checkboxs
                          .matching-questions-content-checkbox
                            input.checkbox-input(id='visit-cycle-01', name='visit-cycle', type='radio')
                            label(for='visit-cycle-01')
                              span 1ヶ月に一回くらい
                          .matching-questions-content-checkbox
                            input.checkbox-input(id='visit-cycle-02', name='visit-cycle', type='radio')
                            label(for='visit-cycle-02')
                              span 2ヶ月に一回くらい 
                          .matching-questions-content-checkbox
                            input.checkbox-input(id='visit-cycle-03', name='visit-cycle', type='radio')
                            label(for='visit-cycle-03')
                              span 3ヶ月に一回くらい
                          .matching-questions-content-checkbox
                            input.checkbox-input(id='visit-cycle-04', name='visit-cycle', type='radio')
                            label(for='visit-cycle-04')
                              span 4ヶ月くらいかなぁ?
                          .matching-questions-content-checkbox
                            input.checkbox-input(id='visit-cycle-05', name='visit-cycle', type='radio')
                            label(for='visit-cycle-05')
                              span 半年に一回くらい?
                          .matching-questions-content-checkbox
                            input.checkbox-input(id='visit-cycle-06', name='visit-cycle', type='radio')
                            label(for='visit-cycle-06')
                              span 半年以上行かない
                          .matching-questions-content-checkbox
                            input.checkbox-input(id='visit-cycle-07', name='visit-cycle', type='radio')
                            label(for='visit-cycle-07')
                              span 2-3週間に一回くらいかなぁ
                  .matching-questions-content-question-box

                      .matching-questions-content-question-box-title
                        span.matching-questions-content-question-box-title-large
                          |最後に美容室に行ってから
                        span|どれくらい経ちましたか？
                      .matching-questions-content-question-box-subtitle
                          |どれか１つにチェック！
                      .matching-questions-content-question-box-error
                              |どれか１つチェックしてください
                      .matching-questions-content-question-box-checkboxs
                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-01', name='visit-cycle', type='radio')
                            label(for='last-visited-01')
                                span 7日以内

                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-02', name='visit-cycle', type='radio')
                            label(for='last-visited-02')
                              span 1週間くらい
                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-03', name='visit-cycle', type='radio')
                            label(for='last-visited-03')
                               span 2週間くらい
                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-04', name='visit-cycle', type='radio')
                            label(for='last-visited-04')
                                span 3週間くらい
                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-05', name='visit-cycle', type='radio')
                            label(for='last-visited-05')
                                span 1ヶ月くらい
                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-06', name='visit-cycle', type='radio')
                            label(for='last-visited-06')
                               span 1ヶ月半くらい
                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-07', name='visit-cycle', type='radio')
                            label(for='last-visited-07')
                                span 2ヶ月くらい
                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-08', name='visit-cycle', type='radio')
                            label(for='last-visited-08')
                                span 3ヶ月くらい
                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-09', name='visit-cycle', type='radio')
                            label(for='last-visited-09')
                               span 4ヶ月くらい
                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-10', name='visit-cycle', type='radio')
                            label(for='last-visited-10')
                               span 5ヶ月くらい
                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-11', name='visit-cycle', type='radio')
                            label(for='last-visited-11')
                                 span 6ヶ月くらい
                        .matching-questions-content-checkbox
                            input.checkbox-input(id='last-visited-12', name='visit-cycle', type='radio')
                            label(for='last-visited-12')
                                span 半年以上行ってない
            .matching-questions-footer
              .matching-questions-footer-text
                |あなたにピッタリの素敵な
                br
                |美容師をご紹介いたします
              .common-btn
                a.common-btn-finish#common-btn-finish
                   |完了
              .matching-questions-footer-error
                        p
                          |未記入の項目があります。
                          br
                          |お手数ですが入力をお願いします。
      include ../mixin/_footer-matching.pug
      script.
         $('.common-btn-finish').click(function () {
                 setTimeout(function(){
                 location.href = 'https://stekina.com/stylists/matching';
                 },1500);
                 $('.matching-dialog').fadeIn();
                 $('.matching-dialog-text-progress-gauge-bar').addClass('matching-dialog-text-progress-gauge-bar-animation');
            });
      //script(src='https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js')
      //script(src='static/js/barba.js')
      script.
        const el = {
          count: document.getElementById('count'),
          button: document.getElementById('common-btn-finish')
        }
        const DURATION = 550
        let isAnimating = false

        el.button.addEventListener('click', e => {
          if (isAnimating) {
            return
          }
          
          isAnimating = true

          const from = parseInt(el.count.dataset.from, 10)
          const to = parseInt(el.count.dataset.to, 10)
          const startTime = Date.now()

          const timer = setInterval(() => {
            const elapsedTime = Date.now() - startTime
            const progress = elapsedTime / DURATION
            
            if (progress < 1) {
              el.count.textContent = Math.floor(from + progress * (to - from))
            } else {
              el.count.textContent = to
              isAnimating = false
              clearInterval(timer)
            }
          }, 16)
        })