
doctype html
html(lang='jp')
  head
    title 自分のこだわりや好みを選択しよう！
    link(href='static/css/application.css?'+dateNow rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
  body
          div(style='width:90%; margin:30px auto 30px; padding:20px; box-shadow:0 10px 10px #ccc;' )
            ul(style='margin:10px auto 0;' )
              li 
                a(href="media-stekina.html")|メディア
          div(style='width:90%; margin:30px auto 30px; padding:20px; box-shadow:0 10px 10px #ccc;' )
            ul(style='margin:10px auto 0;' )
              li 
                a(href="salon-profile.html")|サロンプロフィール
          //.barba-fadein
          div(style='width:90%; margin:30px auto 30px; padding:20px; box-shadow:0 10px 10px #ccc;' )
            ul(style='margin:10px auto 0;' )
              li 
                a(href="stekina-lp-first.html")|マッチングLP申請用
            
          div(style='width:90%; margin:30px auto 30px; padding:20px; box-shadow:0 10px 10px #ccc;' )
            h2|STEKiNAマッチング
            ul(style='margin:10px auto 0;' )
              li 
                a(href="stekina-matching-4question-left.html")|質問はあと４つです！
              li 
                a(href="stekina-matching-3question-left.html")|質問はあと３つです！
              li 
                a(href="stekina-matching-2question-left.html")|質問はあと２つです！もう少し！
              li 
                a(href="stekina-matching-1question-left.html")|最後の質問です！
              li 
                a(href="stekina-matching-tester-queestion.html")|テスターアンケート
              li 
                a(href="stekina-matching-calculating.html")|計算中です。
              li 
                a(href="stekina-matching-reserve-ux.html")|予約UX
          div(style='width:90%; margin:30px auto 30px; padding:20px; box-shadow:0 10px 10px #ccc;' )
            h2|LIMEでのSTEKiNA割引
            ul(style='margin:10px auto 0;' )
              li 
                a(href="stekina-discount-personal.html")|STEKiNA割引：個人
              li 
                a(href="stekina-discount-salon.html")|STEKiNA割引：サロン
              li 
                a(href="stekina-discount-survay.html")|アンケート
          div(style='width:90%; margin:30px auto 30px; padding:20px; box-shadow:0 10px 10px #ccc;' )
            h2|STEKiNA
            ul(style='margin:10px auto 0;' )
              li 
                a(href="register-youtube-stekina.html")|YouTube連携
              li 
                a(href="stekina-dialog-recommend-counseling.html")|カウンセリングダイアログ
          div(style='width:90%;margin:0px auto 90px; padding:20px; box-shadow:0 10px 10px #ccc;' )
            h2|RiZM web化に必要なHTML
            ul(style='margin:10px auto 0;' )
              li 
                a(href="A-mykarte-tutorial-01.html")|マイカルテ：チュートリアル-A
              li 
                a(href="mykarte-tutorial-01.html")|マイカルテ：チュートリアル-B
              li
                a(href="mykarte-profile-request.html")|マイカルテ：髪質
              li
                a(href="mykarte-list.html")|カルテ一覧
              li
                a(href="mykarte-profile-karte-detail.html")|マイカルテ：カルテ詳細
              li
                a(href="mystylist-list.html")|マイスタイリスト