- var dateNow = Date.now();
doctype html
html(lang='jp')
  head
    title STEKiNAãƒ¡ãƒ‡ã‚£ã‚¢
    link(href='https://stekina.com/community/assets/application-0cd9ef953e92fafda8f69d7c040ac2075963fa2d6ccc579def5db048df82c04c.css' rel='stylesheet')
    link(href='static/css/stekina-discount.css?'+dateNow, rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='robots', content='noindex,nofollow')
    script(src='//jpostal-1006.appspot.com/jquery.jpostal.js', type='text/javascript')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  body.bg-stekina-black
   .wrapper-cl-stekina-brown-light
    //ðŸ‘‡è¿½å¾“ãƒœã‚¿ãƒ³ï¼ˆã‚¹ã‚¯ãƒ­ãƒ¼ãƒ«ã™ã‚‹ã¨å‡ºã¦ãã‚‹ï¼‰
    .fixed-button-bottom
      a(href='https://line.me/R/ti/p/%40741zmjrp', onclick="gtag('event', 'line-click', {'event_category': 'click','event_label': 'line-click-toppage'});")
       img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/4c07f030b27554e6167e2891a124fecb.png')
    .wrapper-stekina-media             
      //ðŸ‘‡ãƒ¡ã‚¤ãƒ³ãƒ“ã‚¸ãƒ¥ã‚¢ãƒ«
      .stekina-media-mv
          .stekina-media-head-top
            h1.stekina-media-head-center
              img(src='https://stekina.com/public/static/img/common/stekina-logo-white.svg' alt='STEKiNA(ã‚¹ãƒ†ã‚­ãƒŠ)')
            //.stekina-media-head-right
              img(src='https://stekina.com/public/static/img/common/icn-menu.svg' alt='STEKiNA(ã‚¹ãƒ†ã‚­ãƒŠ)') 
          .stekina-media-mv-maintext
            |ä¸€ç”Ÿä»˜ãåˆãˆã‚‹
            br
            |ç¾Žå®¹å¸«ã«å‡ºä¼šãŠã†
          .stekina-media-mv-subtext
            |å®‰å¿ƒã—ã¦ä»»ã›ã‚‰ã‚Œã‚‹ç¾Žå®¹å¸«ã‚’ã¿ã¤ã‘ã¦
            br
            |ã‚¹ãƒ†ã‚­ãªãƒ˜ã‚¢ãƒ©ã‚¤ãƒ•ã‚’é€ã‚ã†ï¼    
          .stekina-media-mv-bg
           img(src='https://stekina.com/wp-content/uploads/model.jpg')
      //ðŸ‘‡ã‚¹ãƒžãƒ›å‹•ç”»
      section.stekina-media-introduction.bg-brown
        .stekina-media-introduction-video
          .stekina-media-introduction-video-speech
              img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/speech-aisho.png')
          .stekina-media-introduction-video-main
              video.js-kv.is-port(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/RPReplay_Final1585898616.mp4', poster='', playsinline='', muted='', autoplay='', loop='', style='width:100%; margin:0 0 -10px')   
          .stekina-media-introduction-video-bg
            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/media-iphone8-device.png')
      //ðŸ‘‡AIãŒã‚ãªãŸã«ã‚ã£ãŸç¾Žå®¹å¸«ã‚’ç´¹ä»‹
      section.stekina-media-recommend-ai.bg-brown
            .stekina-media-recommend-ai-title
               |AIãŒã‚ãªãŸã«
               br
               |ã‚ã£ãŸç¾Žå®¹å¸«ã‚’ç´¹ä»‹
            .stekina-media-recommend-ai-img
                img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/lime-kun-top.png') 
            .stekina-media-recommend-ai-fukidashi.stekina-media-recommend-ai-img-fukidashi
              |å®‰å¿ƒã—ã¦ä»»ã›ã‚‰ã‚Œã‚‹ç¾Žå®¹å¸«ã•ã‚“ã‚’æŽ¢ã™ãŠæ‰‹ä¼ã„ã‚’ã•ã›ã¦ããŸã‚™ã•ã„ã¾ã›ðŸ˜Š
              .stekina-media-recommend-ai-fukidashi-button
                 a(href='https://line.me/R/ti/p/%40741zmjrp', onclick="gtag('event', 'line-click', {'event_category': 'click','event_label': 'line-click-toppage'});")
                     img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/4c07f030b27554e6167e2891a124fecb.png')
            .stekina-media-recommend-ai-img.stekina-media-recommend-ai-img-fukidashi
              //a(href='https://stekina.com/user/matching/step1')
                img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/lime-kun-fukidashi.png')         
      //ðŸ‘‡STEKiNAã¨ã¯ï¼Ÿ
      section.stekina-media-about-stekina
          .stekina-media-about-stekina-img
            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/aboutstekina-3.png')     
          .stekina-media-about-stekina-text
           |ã‚¹ãƒ†ã‚­ãƒŠã¯ã‚ãªãŸã¨ç›¸æ€§ã®
           br
           |è‰¯ã„ç¾Žå®¹å¸«ã«å‡ºä¼šãˆã‚‹å ´æ‰€
          .stekina-media-about-stekina-button
           a(href='https://stekina.com/stekina.html')
            |STEKiNAã¨ã¯ï¼Ÿ
      //ðŸ‘‡å…¨å›½ã®ã‚¹ãƒ†ã‚­ãªç¾Žå®¹å¸«ä¸€è¦§
      section.stekina-media-section.bg-brown
       div.stekina-media-section-titlearea
          h2.stekina-media-section-titlearea-h2|å…¨å›½ã®ã‚¹ãƒ†ã‚­ãªç¾Žå®¹å¸«ä¸€è¦§
          div.stekina-media-section-titlearea-despection
             .stekina-media-section-area-despection-number
               |â‘ 
             .stekina-media-section-area-despection-text
               |AIã®ç”Ÿæˆã—ãŸã‚¢ãƒ«ã‚´ãƒªã‚ºãƒ ã«ã‚ˆã‚Šã€ŒãŠå®¢æ§˜ã«æ”¯æŒã•ã‚Œæ„›ã•ã‚Œã¦ã„ã‚‹ç¾Žå®¹å¸«ã€ãŒãƒ©ãƒ³ã‚­ãƒ³ã‚°å½¢å¼ã§è¡¨ç¤ºã•ã‚Œã¦ã„ã¾ã™ã€‚
          div.stekina-media-section-titlearea-despection
             .stekina-media-section-area-despection-number
               |â‘¡
             .stekina-media-section-area-despection-text
               |ã‚³ãƒãƒ©ã®ãƒ©ãƒ³ã‚­ãƒ³ã‚°ã¯æ¯Žæ—¥æ›´æ–°ã•ã‚Œã¾ã™
       .stekina-media-section-contents
         .card-wrapper
            //ðŸ“„ä»¥ä¸‹ãƒ©ã‚¤ãƒ ã‚³ãƒŸãƒ¥ãƒ‹ãƒ†ã‚£ã‹ã‚‰ã‚³ãƒ”ãƒš
            include _media-stekina-stylists.pug
            .stekina-media-section-pagenation-backnext
              .stekina-media-section-pagenation-left
              .stekina-media-section-pagenation-center-space
              .stekina-media-section-pagenation-right
                .stekina-media-section-pagenation-button
                  a.u-icn-arrow-next-after(href='media-stekina-pagenation.html') æ¬¡ã®20ä»¶

      //ðŸ‘‡ç¾Žå®¹ãƒ—ãƒ­ã«è©•ä¾¡ã•ã‚Œã¦ã„ã‚‹ç¾Žå®¹å¸«
      section.stekina-media-section.bg-brown
       .stekina-media-section-titlearea
          h2.stekina-media-section-titlearea-h2.stekina-media-section-titlearea-h2-margin-adjust|ç¾Žå®¹ãƒ—ãƒ­ã«è©•ä¾¡ã•ã‚Œã¦ã„ã‚‹ç¾Žå®¹å¸«
       .stekina-media-section-contents
         //ðŸ“„ä»¥ä¸‹ãƒ©ã‚¤ãƒ ã‚³ãƒŸãƒ¥ãƒ‹ãƒ†ã‚£ã‹ã‚‰ã‚³ãƒ”ãƒš
         include _media-stekina-limecommunity.pug
      //ðŸ‘‡ãŠå®¢æ§˜ã«æ„›ã•ã‚Œã¦ã„ã‚‹ç¾Žå®¹å¸«
      section.stekina-media-section.bg-brown
       .stekina-media-section-titlearea
          h2.stekina-media-section-titlearea-h2.stekina-media-section-titlearea-h2-margin-adjust|ãŠå®¢æ§˜ã«æ„›ã•ã‚Œã¦ã„ã‚‹ç¾Žå®¹å¸«
       .stekina-media-section-contents
         //ðŸ“„ä»¥ä¸‹ãƒ©ã‚¤ãƒ ã‚³ãƒŸãƒ¥ãƒ‹ãƒ†ã‚£ã‹ã‚‰ã‚³ãƒ”ãƒš
         include _media-stekina-reviews.pug
      //ðŸ‘‡ãƒ•ãƒƒã‚¿ãƒ¼
      footer
        .stekina-media-footer-banner
          a(href='https://stekina.com/how-to-registration-stekina')
            img(src='https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/footbanner.png')
        .stekina-media-footer-navi
          div
            a(href='https://stekina.com/stekina.html') STEKINAã¨ã¯ï¼Ÿ
          div
            ||
          div
            a(href='http://limehair.jp/corp', target='_blank') ä¼šç¤¾æ¦‚è¦
        .stekina-media-footer-copyright
          |copyright @2020 LiME, Inc. All Right Reserved.
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script.
      $(function() {
      var topBtn = $('.fixed-button-bottom');
      //ã‚¹ã‚¯ãƒ­ãƒ¼ãƒ«ãŒ500ã«é”ã—ãŸã‚‰ãƒœã‚¿ãƒ³è¡¨ç¤º
      $(window).scroll(function () {
      if ($(this).scrollTop() > 1500) {
      topBtn.fadeIn();
      } else {
      topBtn.fadeOut();
      }
      });
      });
    script(type='text/javascript').
      $(function() {
      $(window).scroll(function() {
      $('.stekina-media-recommend-ai-img-fukidashi').each(function() {
      var elemPos = $(this).offset().top;
      var scroll = $(window).scrollTop();
      var windowHeight = $(window).height();
      if (scroll > elemPos - windowHeight - 100) {
      $(this).addClass('bounceIn');
      topBtn.fadeIn();
      //$(this).fadeOut();
      }
      });
      });
      });
