@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,500,500i,600,600i,700,700i,900");

/* z-indexの定義 */

$z: child,
child-2,
header,
header-2,
dialog,
dialog-2;

/* bodyの最大横幅 */

body {
    max-width: 2000px !important;
}

.wrapper-cl-white {
    background: white;
    width: 100%;
}


/* テキストグラデ一応 重複するかもだけど。 */

@mixin text-gradient-rizm {
    @include rizm-gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin text-gradient-lime {
    @include lime-gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* font */

body,
html,
div,
p,
span,
a {
    font-family: "Noto Sans JP", "koburina", "DIN Alternate", "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W6", sans-serif;
}


/* 背景の色たち */

.bg-stekina-black {
    background: #262626;
}

.stekina-brown-light {
    background: $cl-stekina-brown-light;
}


/* 全体を囲うwrapper */

.wrapper-profile {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
    background: $cl-stekina-brown-light;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}


/* 各セクション */

.profile-section {
    background: #ffffff;
    border-radius: 8px;
    margin: 0 auto 8px;
    width: 93%;
    padding: 40px 18px;
    .profile-section-block:not(:last-child) {
        margin: 0 auto 60px;
    }
}


/* h2 */

.profile-section-block-title {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    img {
        width: 30px;
        margin: 4px 11px 0 0;
    }
    h2 {
        font-weight: bold;
        font-size: 24.45px;
        color: $cl-gray-dark;
        letter-spacing: 0.84px;
    }
    .profile-section-block-title-sub {
        font-weight: bold;
        font-size: 12.5px !important;
    }
}

.profile-section-block-title-stekina-shokai {
    margin: 0 0 20px;
    h2 {
        font-weight: bold;
        font-size: 24.45px;
        color: $cl-gray-dark;
        letter-spacing: -2px;
    }
    .profile-section-block-title-sub {
        font-weight: bold;
        font-size: 12.5px !important;
        letter-spacing: -0.5px;
    }
    .profile-section-block-title-sub2 {
        font-weight: bold;
        font-size: 15px !important;
        letter-spacing: -0.5px;
    }
}


/* ブロック単位の共通リンク */

.common-link {
    position: absolute;
    z-index: index($z, child);
    width: 100%;
    height: 100%;
}

.profile-section-block-address {
    font-size: 13px;
    color: $cl-gray-dark;
    line-height: 1.5;
    margin: 0 0 15px;
}

.profile-common-readmore {
    margin: 15px 0 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
    a {
        color: $cl-lime;
        text-decoration: none;
        font-size: 12px;
        text-align: right;
        &:after {
            content: "";
            width: 6px;
            height: 14px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0px -1px 0px 4px;
            background-image: url(https://assets.stekina.com/static/img/icon/icn-arrow-navi.svg);
            vertical-align: middle;
        }
    }
}


/* 追従ボタン */

.fixed-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 7px;
    max-width: 450px;
}

.fixed-bottom {
    position: fixed;
    bottom: 30px;
    width: 100%;
    max-width: 450px;
    z-index: index($z, header); // 1
    a {
        box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.2);
    }
    .fixed-bottom-button-sub {
        width: 40%;
        a {
            /* width: 127px;*/
            height: 46px;
            background: #ffffff;
            border: 1.3px solid $cl-lime;
            border-radius: 6px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $cl-lime;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
        }
    }
    .fixed-bottom-button-main {
        width: 56%;
        a {
            font-size: 15px;
            /*width: 184px;*/
            height: 46px;
            border-radius: 6px;
            box-sizing: border-box;
            @include rizm-gradient();
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.fixed-bottom-rizm {
    width: 96%;
    margin: auto;
    max-width: 450px;
    z-index: index($z, header); // 1
    position: fixed;
    bottom: 30px;
    right: 0px;
    left: 0px;
    a {
        font-size: 15px;
        /*width: 184px;*/
        height: 46px;
        border-radius: 6px;
        box-sizing: border-box;
        @include rizm-gradient();
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.2);
    }
}


/* 細かい調整　*/

.adjust-margin-bottom-5 {
    margin-bottom: 5px;
}

.adjust-margin-bottom-10 {
    margin-bottom: 10px;
}

.adjust-margin-bottom-15 {
    margin-bottom: 15px;
}

.adjust-margin-bottom-20 {
    margin-bottom: 20px;
}

.adjust-margin-bottom-25 {
    margin-bottom: 25px;
}

.adjust-margin-bottom-30 {
    margin-bottom: 30px;
}

.adjust-margin-bottom-35 {
    margin-bottom: 35px;
}

.adjust-margin-bottom-40 {
    margin-bottom: 40px;
}

.adjust-margin-top-5 {
    margin-top: 5px;
}

.adjust-margin-top-10 {
    margin-top: 10px;
}

.adjust-margin-top-15 {
    margin-top: 15px;
}

.adjust-margin-top-20 {
    margin-top: 20px;
}

.adjust-margin-top-25 {
    margin-top: 25px;
}

.adjust-margin-top-30 {
    margin-top: 30px;
}

.adjust-margin-top-35 {
    margin-top: 35px;
}

.adjust-margin-top-40 {
    margin-top: 40px;
}


/* ひよこのscss */

.wrapper-profile-undisclosed {
    max-width: 450px;
    margin: 30px auto;
    h1 {
        font-size: 22px;
        line-height: 1.5;
        color: $cl-gray-dark;
        font-weight: bold;
        text-align: center;
    }
    .wrapper-profile-undisclosed-img {
        margin: 20px auto 15px;
        width: 50%;
    }
    .sorry-text {
        font-size: 13px;
        color: $cl-gray-dark;
        text-align: center;
    }
}