@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,500,500i,600,600i,700,700i");

/* z-indexの定義 */

$z: child,
child-2,
header,
header-2,
dialog;
body {
    max-width: 2000px!important;
}

body,
html,
div,
p,
span,
a {
    font-family: 'Noto Sans JP', "koburina", 'DIN Alternate', 'ヒラギノ角ゴ ProN W6', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W6', sans-serif;
}

.bg-stekina-black {
    background: #262626;
}

.stekina-brown-light {
    background: $cl-stekina-brown-light;
}

.wrapper-profile {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
}


/* header */

.profile-header {
    background: $cl-stekina-brown;
    position: fixed;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
    height: 38px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    z-index: index($z, header); // 1
    .profile-header-content {
        position: relative;
        width: 100%;
        height: 38px;
        .profile-header-content-center {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            color: white;
            font-size: 11.5px;
            width: 65%;
            letter-spacing: 0.5px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            .profile-header-content-center-link {
                width: 65%;
                height: 38px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
            .profile-header-content-center-stylist {
                display: flex;
                justify-self: center;
                align-items: center;
                .profile-header-content-center-stylist-img img {
                    @include circle(18px);
                    margin: 0 3px 0 0;
                    border: 0.5px solid white;
                }
            }
        }
        .profile-header-content-right {
            position: absolute;
            top: 0;
            right: 10px;
            bottom: 0;
            margin: auto;
            color: white;
            padding: 0px 9px;
            font-size: 10.2px;
            color: $cl-stekina-brown;
            background: #FFFFFF;
            box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.21);
            border-radius: 100px;
            line-height: 1;
            height: 19px;
            border: none;
        }
    }
}


/* 追従ボタン */

.fixed-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 7px;
    max-width: 450px;
    .fixed-bottom {
        position: fixed;
        bottom: 30px;
        width: 100%;
        max-width: 450px;
        z-index: index($z, header); // 1
        a {
            box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.2);
        }
        .fixed-bottom-button-sub {
            width: 40%;
            a {
                /* width: 127px;*/
                height: 46px;
                background: #FFFFFF;
                border: 2px solid $cl-lime;
                border-radius: 6px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $cl-lime;
                text-decoration: none;
                font-size: 15px;
                font-weight: bold;
            }
        }
        .fixed-bottom-button-main {
            width: 56%;
            a {
                font-size: 15px;
                /*width: 184px;*/
                height: 46px;
                border-radius: 6px;
                border: 2px solid $cl-red;
                box-sizing: border-box;
                @include rizm-gradient();
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}

.profile-section {
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0 auto 8px;
    width: 93%;
    padding: 40px 18px;
    .profile-section-block:not(:last-child) {
        margin: 0 auto 60px;
    }
}

.profile-section-block-title {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    img {
        width: 30px;
        margin: 4px 11px 0 0;
    }
    h2 {
        font-weight: bold;
        font-size: 24.45px;
        color: $cl-gray-dark;
        letter-spacing: 0.84px;
    }
    .profile-section-block-title-sub {
        font-weight: bold;
        font-size: 12.5px !important;
    }
}

.profile-section-block-title-stekina-shokai {
    h2 {
        font-weight: bold;
        font-size: 24.45px;
        color: $cl-gray-dark;
        letter-spacing: -2px;
    }
    .profile-section-block-title-sub {
        font-weight: bold;
        font-size: 12.5px !important;
        letter-spacing: -0.5px;
    }
    .profile-section-block-title-sub2 {
        font-weight: bold;
        font-size: 15px !important;
        letter-spacing: -0.5px;
    }
}


/* ブロック単位の共通リンク */

.common-link {
    position: absolute;
    z-index: index($z, child);
    width: 100%;
    height: 100%;
}

.profile-section-block-address {
    font-size: 13px;
    color: $cl-gray-dark;
    line-height: 1.5;
    margin: 0 0 15px;
}

.profile-common-readmore {
    margin: 15px 0 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
    a {
        color: $cl-lime;
        text-decoration: none;
        font-size: 12px;
        text-align: right;
        &:after {
            content: "";
            width: 6px;
            height: 14px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0px -1px 0px 4px;
            background-image: url(https://assets.stekina.com/static/img/icon/icn-arrow-navi.svg);
            vertical-align: middle;
        }
    }
}


/* animations */

@keyframes fuwafuwa {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}