.profile-dialog {
    position: fixed;
    -webkit-overflow-scrolling: touch;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: index($z, dialog-2); // 1
    display: none;
}

.profile-dialog-wrapper-gray {
    background: $cl-gray-lightest !important;
}

.profile-dialog-wrapper {
    background: white;
    border-radius: 8px;
    max-width: 405px;
    display: table;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 0;
    width: 85%;
    .profile-dialog-close {
        width: 28x;
        height: 28px;
        opacity: 0.3;
        left: 9px;
        top: 9px;
        position: absolute;
        &:before {
            position: absolute;
            left: 15px;
            content: " ";
            height: 28px;
            width: 2px;
            background-color: #333;
            transform: rotate(45deg);
        }
        &:after {
            position: absolute;
            left: 15px;
            content: " ";
            height: 28px;
            width: 2px;
            background-color: #333;
            transform: rotate(-45deg);
        }
    }
    .profile-dialog-title-default-center {
        text-align: center;
    }
    .profile-dialog-title-default {
        font-size: 19.5px;
        letter-spacing: 1px;
        color: $cl-gray-dark;
        width: 87%;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.5;
    }
    .profile-dialog-title-default-normal {
        font-size: 18px;
        letter-spacing: 1px;
        color: $cl-gray-dark;
        width: 87%;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.5;
    }
    .profile-dialog-title-default-normal-note {
        font-size: 14px;
        letter-spacing: 1px;
        color: $cl-red;
        width: 87%;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.5;
    }
    .profile-dialog-img {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .profile-dialog-button-agree-default {
        a,
        button {
            width: 80%;
            font-size: 15.5px;
            /*width: 184px;*/
            height: 55px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.45);
            border: none;
        }
    }
    .profile-dialog-button-agree-default-big {
        a {
            width: 80%;
            font-size: 18px;
            /*width: 184px;*/
            height: 80px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
            line-height: 1.5;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.45);
            text-align: center;
            border: none;
        }
    }
    .profile-dialog-button-agree-default-rizm {
        a,
        button {
            @include rizm-gradient();
            font-weight: bold;
        }
    }
    .profile-dialog-button-agree-default-lime {
        a,
        button {
            @include lime-gradient();
            font-weight: bold;
        }
    }
    .profile-dialog-button-agree-default-limegreen {
        a,
        button {
            background: $cl-lime;
            box-shadow: none !important;
        }
    }
    .profile-dialog-button-no-default {
        button {
            width: 53%;
            font-size: 11px;
            /*width: 184px;*/
            padding: 9px 0;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #b3b3b3;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
            border: 1px solid #b3b3b3;
        }
    }
    .profile-dialog-button-no-default-text {
        a {
            font-size: 14px;
            /*width: 184px;*/
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #b3b3b3;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
        }
    }
}


/* レビュー返信 */

.profile-dialog-wrapper-reply {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .profile-dialog-wrapper-reply-title {
        font-size: 18px;
        letter-spacing: 1px;
        color: $cl-gray-dark;
        width: 100%;
        text-align: left;
        font-weight: bold;
        line-height: 1.5;
    }
    .profile-dialog-wrapper-reply-input {
        textarea {
            -webkit-appearance: none;
            height: auto;
            max-width: 600px;
            color: #4d4d4d;
            font-weight: 400;
            font-size: 15px;
            width: 100%;
            height: 240px;
            background: #fff;
            border-radius: 8px;
            line-height: 1.5;
            border: 2px solid #27beab;
            padding: 5px 10px;
        }
    }
}


/* ステキナ紹介文の編集 */

.profile-dialog-wrapper-edit-shokai {
    margin: 10px 0 0;
    .profile-dialog-wrapper-edit-shokai-title {
        text-align: center;
        font-size: 17px;
        margin: 0 auto 10px;
    }
    .profile-dialog-wrapper-edit-shokai-input {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            margin: 0 5px 0 0;
        }
        select {
            margin: 0 3px 0 0;
        }
    }
    .profile-dialog-wrapper-edit-shokai-wrap {
        padding: 15px;
        width: 90%;
        margin: 0 auto 30px;
        border-radius: 4px;
        background: white;
    }
}


/* snsのボタン*/

.profile-dialog-button-sns {
    a {
        width: 90%;
        font-size: 15.5px;
        /*width: 184px;*/
        height: 55px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        margin: 0 auto 25px;
        text-decoration: none;
        border: none;
        background: #000;
         :not(:last-child) {
            margin: 0 auto 25px;
        }
    }
}

.profile-dialog-button-sns-line {
    a {
        background: #00b900;
    }
}

.profile-dialog-button-sns-twitter {
    a {
        background: #1da1f2;
    }
}

.profile-dialog-button-sns-facebook {
    a {
        background: #1877f2;
    }
}

.profile-dialog-button-sns-url {
    a {
        background: $cl-red;
    }
}

.profile-dialog-input {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    .youtube-register-input {
        -webkit-appearance: none;
        padding: 8px 6px;
        border: 1px solid #15bfab;
        font-size: 14px;
        margin: 0 auto;
    }
}

.profile-dialog-bg {
    position: fixed;
    z-index: index($z, dialog); // 1
    width: 100%;
    margin: auto;
    height: 100vh;
    background: black;
    position: fixed;
    display: none;
    opacity: 0.78;
    top: 0;
    left: 0;
}