$review-content-font-size: 12.35px;
.profile-section-block-review-section,
.profile-section-block-shokai-section {
    width: 93%;
    border-radius: 8px;
    margin: 0 auto 8px;
    padding: 18px 18px 30px;
    background: #FFFFFF;
}

.profile-section-block-review-wrapper {
    margin: 0 0 22px;
}

$review-font-sizemini: 7.8px;
.profile-section-block-review-have-category {
    padding: 0 !important;
    .profile-section-block-review-head {
        height: 63px !important;
        padding: 10px 0 0 10px !important;
        margin: 5px 0 0 !important;
    }
    .profile-section-block-review-content {
        margin: 13px 0 0 !important;
    }
    .profile-section-block-review-head-right-review-date {
        top: 10px !important;
    }
    .profile-section-block-review-head-right-custemer-visit {
        bottom: 2px !important;
    }
}

//レビュー詳細
.profile-section-block-review {
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0 -3px 8px;
    padding: 2px 0 0;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, .15);
    .profile-section-block-review-head {
        position: relative;
        width: 100%;
        padding: 10px 0 0 8px !important;
        .profile-section-block-review-head-left {
            position: relative;
            display: flex;
            height: 48px;
            .profile-section-block-review-head-left-img {
                @include circle(40px);
            }
            .profile-section-block-review-head-left-order {
                width: 74%;
                margin: 0 0 0 5px;
                .profile-section-block-review-head-left-order-menu {
                    font-size: $review-font-sizemini;
                    color: $cl-gray-light;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0 0 4px;
                }
                .profile-section-block-review-head-left-order-name {
                    color: #666666;
                    font-size: 14px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    letter-spacing: 0.5px;
                }
            }
            .profile-section-block-review-head-left-category {
                position: absolute;
                bottom: -1px;
                color: #fff;
                font-size: 8px;
                font-weight: bold;
                padding: 2px 6px 3px;
                border-radius: 3.5px;
                font-weight: bold;
            }
        }
        .profile-section-block-review-head-right {
            .profile-section-block-review-head-right-review-date {
                position: absolute;
                right: 9px;
                top: 8px;
                font-size: 9.2px;
                color: $cl-gray-light;
                font-family: Lato;
            }
            .profile-section-block-review-head-right-custemer-visit {
                position: absolute;
                right: 9px;
                bottom: 7px;
                text-align: right;
                font-size: $review-font-sizemini;
                line-height: 1.6;
                color: $cl-gray-light;
            }
        }
    }
    //レビュー写真のサムネ
    .common-link {}
    .profile-section-block-review-thumbnail {
        $thumbnail-height: 240px;
        height: $thumbnail-height+5px;
        padding: 5px 0 0;
        position: relative;
        margin: 0 0 5px;
        .profile-section-block-review-thumbnail-wrapper {
            height: $thumbnail-height;
            display: flex;
        }
        .profile-section-block-review-thumbnail-left {
            height: $thumbnail-height;
            width: 50%;
            img {
                height: $thumbnail-height;
                object-fit: cover;
                width: 100%;
            }
        }
        .profile-section-block-review-thumbnail-right {
            display: flex;
            flex-wrap: wrap;
            height: $thumbnail-height;
            width: 50%;
            .profile-section-block-review-thumbnail-right-single img {
                height: $thumbnail-height;
                object-fit: cover;
                width: 100%;
            }
            .profile-section-block-review-thumbnail-right-child {
                width: 50%;
                height: $thumbnail-height /2;
                img {
                    object-fit: cover;
                    height: $thumbnail-height /2;
                    width: 100%;
                }
            }
        }
    }
    //レビューの文章
    .profile-section-block-review-content {
        padding: 0px 12px 20px;
        margin: 7px 0 0;
        line-height: 1.7;
        letter-spacing: -0.2px;
        font-size: $review-content-font-size;
        color: #666666;
        p {
            margin: 0px 0 12px;
        }
        a {
            color: $cl-lime;
            text-decoration: none;
        }
    }
}

//ステキナ紹介文
.profile-section-block-shokai {
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0 -3px 8px;
    padding: 2px 0 0;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, .15);
    .profile-section-block-shokai-head {
        position: relative;
        width: 100%;
        padding: 10px 11px 0 11px !important;
        height: 63px;
        display: flex;
        align-items: center;
        .profile-section-block-shokai-head-left {
            position: relative;
            height: 45px;
            width: 40px;
            margin: 0 12px 0 0;
            .profile-section-block-shokai-head-left-img img {
                @include circle(40px);
            }
            .profile-section-block-shokai-head-left-badge {
                position: absolute;
                width: 44px;
                bottom: -8px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        .profile-section-block-shokai-head-right {
            .profile-section-block-shokai-head-right-name {
                color: #666666;
                font-size: 14.2px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                letter-spacing: 0.5px;
                margin: 0 0 7px;
                font-weight: bold;
            }
            .profile-section-block-shokai-head-right-salon {
                font-size: 12px;
                color: #B3B3B3;
                letter-spacing: 0.78px;
            }
        }
    }
    //レビューの文章
    .profile-section-block-shokai-content {
        padding: 6px 12px 20px;
        margin: 7px 0 0;
        line-height: 1.7;
        letter-spacing: -0.2px;
        font-size: $review-content-font-size;
        color: #666666;
        p {
            margin: 0px 0 12px;
        }
        a {
            color: $cl-lime;
            text-decoration: none;
        }
    }
    .profile-section-block-shokai-tag {
        padding: 0px 12px 0px;
        margin: 0 0 20px;
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                margin: 0 12px 9px 0;
                a {
                    border-radius: 4px;
                    font-size: 11px;
                    color: #4D4D4D;
                    letter-spacing: 0;
                    padding: 4.5px 9px;
                    border: 0.5px solid #4d4d4d;
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }
    }
}

.profile-section-block-review-comment-byclient {
    padding: 12px 10px;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, .15);
    position: relative;
    border-radius: 8px;
    margin: 20px -3px 0;
    background: white;
    &::before {
        content: "";
        position: absolute;
        background-color: transparent;
        width: 23px;
        height: 23px;
        border-right: 15px solid transparent;
        border-bottom: 18.6025px solid #fff;
        border-left: 15px solid transparent;
        top: -23px;
        left: 44px;
        filter: drop-shadow(0px -3px 10px rgba(0, 0, 0, .12));
        z-index: index($z, child); // 1
    }
    &::after {
        content: "";
        position: absolute;
        background-color: white;
        width: 23px;
        height: 4px;
        top: 0px;
        left: 48px;
        z-index: index($z, child-2); // 1
    }
    .profile-section-block-review-comment-byclient-head-left {
        display: flex;
        align-items: center;
        .profile-section-block-review-comment-byclient-head-left-img img {
            @include circle(40px);
            margin: 0 5px 0 0;
        }
        .profile-section-block-review-comment-byclient-head-left-name {
            font-size: 14px;
            color: #666666;
        }
    }
    .profile-section-block-review-comment-byclient-head-right-date {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 9px;
        font-family: Lato;
        color: $cl-gray-light;
    }
    .profile-section-block-review-comment-byclient-content {
        font-size: $review-content-font-size;
        color: #666666;
        line-height: 1.75;
        padding: 10px 2px 6px;
    }
}


/* pagenation */

.profile-paging {
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 10px 75px;
    padding: 0 0 0px;
    .profile-paging-prev-archive,
    .profile-paging-next-archive {
        padding: 0 2px;
        width: 40%;
    }
    .profile-paging-prev-detail,
    .profile-paging-next-detail {
        padding: 0 2px;
        width: 22.5%;
    }
    .profile-paging-center {
        width: 50%;
        a {
            /* border-radius: 6px;*/
        }
    }
    a.u-icn-arrow-next-after {
        /*border-radius: 4px 20px 20px 4px;*/
        // &:after {
        //   content: "";
        // width: 6px;
        //height: 14px;
        //display: inline-block;
        //background-size: contain;
        //background-repeat: no-repeat;
        //margin: 0px -1px 0px 7px;
        //background-image: url(https://assets.stekina.com/static/img/icon/icn-arrow-next.svg);
        //vertical-align: middle;
        //}
        a.u-icn-arrow-back-after {
            /*border-radius: 20px 4px 4px 20px;*/
            //&:before {
            //content: "";
            //width: 6px;
            //height: 14px;
            // display: inline-block;
            // background-size: contain;
            // background-repeat: no-repeat;
            // margin: 0px 7px 0px 0px;
            // background-image: url(https://limehair.jp/wp-https-lime/wp-content/uploads/2020/04/icn-arrow-back.svg);
            // vertical-align: middle;
            //  }
        }
    }
    a {
        border-radius: 8px;
        border: 1px #ccc solid;
        display: table;
        width: 100%;
        margin: 5px auto 0;
        padding: 13px 10px;
        text-align: center;
        box-shadow: 1.5px 4px 4px 0 rgba(0, 0, 0, 0.1);
        color: #4d4d4d;
        /*color: $cl-lime;*/
        font-weight: bold;
        background: #fff;
        font-weight: normal !important;
        text-decoration: none;
        font-size: 14px;
        @include mq-down(iphone5) {
            font-size: 12px;
        }
        &:hover,
         :active {
            opacity: 0.5;
        }
    }
}

.profile-paging-shokai {
    a {
        border-radius: 8px;
        border: 1px #ccc solid;
        display: table;
        width: 70%;
        margin: 25px auto 75px;
        padding: 13px 10px;
        text-align: center;
        box-shadow: 1.5px 4px 4px 0 rgba(0, 0, 0, 0.1);
        color: #4d4d4d;
        /*color: $cl-lime;*/
        font-weight: bold;
        background: #fff;
        font-weight: normal !important;
        text-decoration: none;
        font-size: 14px;
        @include mq-down(iphone5) {
            font-size: 12px;
        }
        &:hover,
         :active {
            opacity: 0.5;
        }
    }
}

//レビューのステキ
.profile-section-block-review-suteki {
    padding: 0px 18px 18px;
    display: flex;
    align-items: center;
    .love-button-wrapper {
        transform-origin: left center;
        transform: scale(0.8);
    }
    .profile-section-block-review-suteki-icon {
        margin: 0 2px 0 0;
    }
    .profile-section-block-review-suteki-count {
        font-size: 13px;
        color: #B3B3B3;
        b {
            font-weight: bold;
        }
    }
}

.content-footer-suteki {
    padding: 0px 18px 18px;
    display: flex;
    align-items: center;
    .love-button-wrapper {
        transform-origin: left center;
        transform: scale(0.8);
    }
    .content-footer-suteki-icon {
        margin: 0 2px 0 0;
    }
    .content-footer-suteki-count {
        font-size: 13px;
        color: #B3B3B3;
        b {
            font-weight: bold;
        }
    }
}