    .profile-header {
        background: $cl-stekina-brown;
        position: fixed;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
        height: 38px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 450px;
        z-index: 100;
        .profile-header-content {
            position: relative;
            width: 100%;
            height: 38px;
            .profile-header-content-center {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                color: white;
                font-size: 11.5px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                .profile-header-content-center-stylist {
                    display: flex;
                    justify-self: center;
                    align-items: center;
                    .profile-header-content-center-stylist-img img {
                        @include circle(18px);
                        margin: 0 3px 0 0;
                        border: 0.5px solid white;
                    }
                }
            }
            .profile-header-content-right {
                position: absolute;
                top: 0;
                right: 10px;
                bottom: 0;
                margin: auto;
                color: white;
                padding: 0px 9px;
                font-size: 12px;
                color: $cl-stekina-brown;
                background: #FFFFFF;
                box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.21);
                border-radius: 100px;
                line-height: 1;
                height: 25px;
            }
        }
    }
    
    .profile-top {
        height: 410px;
        position: relative;
        margin: 0 0 12px;
    }
    
    .profile-detail {
        position: absolute;
        bottom: 0;
        z-index: 10;
    }
    
    .profile-cover {
        padding-top: 53px;
        height: 286px;
        background-size: cover;
        position: relative;
        &:before {
            width: 100%;
            height: 100%;
            right: 0px;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.5);
            display: block;
            content: "";
            z-index: 2;
            position: absolute;
        }
        .profile-cover-photo {
            z-index: 2;
            position: absolute;
            top: 76px;
            right: 0px;
            left: 0px;
            margin: auto;
            text-align: center;
            .profile-cover-photo-img img {
                border: 2px solid #FFFFFF;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
                @include circle(93px);
            }
            .profile-cover-bg {
                width: 100%;
                height: 100%;
            }
        }
        .profile-cover-name {
            color: white;
            font-size: 22px;
            color: #FFFFFF;
            letter-spacing: 1.43px;
            position: absolute;
            top: 190px;
            right: 0px;
            left: 0px;
            font-weight: bold;
            margin: auto;
            text-align: center;
            z-index: 10;
        }
        .profile-cover-count {
            position: absolute;
            display: flex;
            justify-content: center;
            top: 220px;
            color: white;
            right: 0px;
            left: 0px;
            z-index: 10;
            margin: auto;
            .profile-cover-count-list {
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 14px;
                    margin: 4px 2px 0 0;
                }
                .profile-cover-count-list-number {
                    font-size: 14px;
                    color: #FFFFFF;
                    letter-spacing: 0.83px;
                    font-weight: bold;
                }
            }
        }
    }
    
    .profile-detail {
        background: #FFFFFF;
        border-radius: 7px;
        padding: 0px 13px 0px;
        height: 139px;
        margin: 0 13px;
        .profile-detail-date {
            display: flex;
            padding: 8px 0px 3px;
            border-bottom: 1px solid #f0f0f0;
            .profile-detail-date-list {
                display: flex;
                align-items: center;
                margin: 0px 9px 0 0;
                .profile-detail-date-list-img {
                    width: 14px;
                }
                .profile-detail-date-list-address {
                    font-size: 9.4px;
                    color: #B3B3B3;
                    letter-spacing: 0;
                    b {
                        font-weight: bold
                    }
                }
            }
        }
        .profile-detail-note {
            font-size: 7.6px;
            color: #4D4D4D;
            letter-spacing: 0.51px;
            line-height: 12.59px;
            margin: 8px 0 16px;
        }
        .profile-detail-button {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .profile-detail-button-sub a {
                width: 127px;
                height: 46px;
                background: #FFFFFF;
                border: 2px solid $cl-lime;
                border-radius: 4px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $cl-lime;
                text-decoration: none;
                font-weight: bold;
            }
            .profile-detail-button-main a {
                width: 184px;
                height: 46px;
                border-radius: 4px;
                border: 2px solid $cl-red;
                box-sizing: border-box;
                @include rizm-gradient();
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
    /* ステータス・特徴 */
    
    .profile-section-block-usertag {
        display: flex;
        flex-wrap: wrap;
        li {
            a {
                font-size: 12px;
                color: $cl-gray-dark;
                background: #FFFFFF;
                box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.10);
                border-radius: 5.12px;
                display: inline-block;
                padding: 6px 9px;
                margin: 0 8px 8px 0;
                text-decoration: none;
            }
        }
    }
    
    .profile-section-block-status {
        .profile-section-block-status-title {
            font-size: 13px;
            color: $cl-gray-dark;
            letter-spacing: 0.96px;
            text-align: center;
            margin: 0 0 11px;
        }
    }
    
    .profile-section-block-status-table {
        display: flex;
        flex-wrap: wrap;
        border-radius: 4px;
        overflow: hidden;
        margin: 0 auto 20px;
        li {
            text-align: center;
            color: white;
            font-size: 11px;
            box-sizing: border-box;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        li:not(:last-child) {
            border-right: 1px solid white;
        }
    }
    
    .profile-section-block-instagram {
        margin: 0 -30px 0 0;
        position: relative;
        ul {
            overflow-x: scroll;
            overflow-y: hidden;
            width: 100%;
            white-space: nowrap;
            height: 230px;
            li {
                display: inline-block;
                width: 226px;
                height: 226px;
                background: #D8D8D8;
                margin: 0 20px 0 0;
                img {
                    border-radius: 5.89px;
                    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
    
    .profile-section {
        .profile-section-block-review-card:not(:last-child) {
            margin: 0 0 25px;
        }
    }
    
    //レビューのカード
    .profile-section-block-review-card {
        height: 179px;
        border-radius: 6px;
        background: #FFFFFF;
        box-shadow: 4px 5px 16px 0 rgba(0, 0, 0, 0.10);
        overflow: hidden;
        display: flex;
        position: relative;
        a.profile-section-block-review-card-link {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
        }
        .profile-section-block-review-card-left {
            width: 60%;
            padding: 11px 13.5px 8px;
            position: relative;
            .profile-section-block-review-card-left-top {
                display: flex;
                height: 40px;
                width: 100%;
                position: relative;
                margin: 0 0 11.5px;
                .profile-section-block-review-card-left-top-img {
                    @include circle(30px);
                    margin: 0 6px 0 0;
                }
                .profile-section-block-review-card-left-top-category {
                    position: absolute;
                    bottom: 0;
                    color: #fff;
                    font-size: 8px;
                    font-weight: bold;
                    padding: 2px 6px 4px;
                    border-radius: 2px;
                    font-weight: bold;
                }
                .profile-section-block-review-card-left-top-category-frequently {
                    @include lime-gradient();
                }
                .profile-section-block-review-card-left-top-category-royal {
                    @include rizm-gradient();
                }
                .profile-section-block-review-card-left-top-order {
                    width: 60%;
                    .profile-section-block-review-card-left-top-order-menu {
                        font-size: 7px;
                        color: $cl-gray-dark;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 0 0 2px;
                    }
                    .profile-section-block-review-card-left-top-order-name {
                        color: $cl-gray-dark;
                        font-size: 10.5px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .profile-section-block-review-card-left-text {
                font-size: 9.5px;
                color: $cl-gray-dark;
                letter-spacing: 0;
                line-height: 15.09px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                overflow: hidden;
            }
            .profile-section-block-review-card-left-bottom {
                position: absolute;
                z-index: 9;
                bottom: 0;
                display: flex;
                align-items: center;
                .profile-section-block-review-card-left-bottom-suteki-icon {
                    transform-origin: left center;
                    transform: scale(0.5);
                }
                .profile-section-block-review-card-left-bottom-suteki-count {
                    margin: 0 0 0 -15px;
                    font-size: 11.5px;
                    color: #B3B3B3;
                    letter-spacing: 0;
                    p {
                        display: inline-block;
                        b {
                            font-weight: bold;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .profile-section-block-review-card-right {
            width: 40%;
            position: relative;
            .profile-section-block-review-card-right-overray {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 5px 5px;
                background-color: rgba(0, 0, 0, .55);
                z-index: 1;
                color: white;
                font-size: 8.5px;
                text-align: right;
            }
            .profile-section-block-review-card-right-img {
                img {
                    object-fit: cover;
                    height: 179px;
                }
            }
        }
    }
    
    .absolute-carousel-icon img {
        position: absolute;
        margin: auto;
        right: 20px;
        top: 0;
        bottom: 0;
        z-index: 100;
        opacity: 0.7;
    }
    
    .profile-section-block-stekina-shokai {
        background: #FFFFFF;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);
        border-radius: 5px;
        padding: 10px 15px 7px;
        margin: 25px 0 0;
        position: relative;
        a.profile-section-block-stekina-shokai-link {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
        }
        .profile-section-block-stekina-shokai-head {
            display: flex;
            margin: 10px 5px 0 0;
        }
        .profile-section-block-stekina-shokai-head-left {
            position: relative;
            .profile-section-block-stekina-shokai-head-left-img img {
                @include circle(40px);
            }
            .profile-section-block-stekina-shokai-head-left-badge {
                position: absolute;
                width: 40px;
                bottom: -5px;
            }
        }
        .profile-section-block-stekina-shokai-head-right {
            margin: 8px 0 0px 10px;
            .profile-section-block-stekina-shokai-head-right-name {
                font-size: 13px;
                color: $cl-gray-dark;
                letter-spacing: 0.78px;
                margin: 0 0 5px;
                font-weight: bold;
            }
            .profile-section-block-stekina-shokai-head-right-salon {
                font-size: 11px;
                color: #B3B3B3;
                letter-spacing: 0.78px;
            }
        }
        .profile-section-block-stekina-shokai-content {
            font-size: 11px;
            margin: 14px auto 0;
            color: $cl-gray-dark;
            letter-spacing: 0;
            line-height: 1.6;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
        }
        .profile-section-block-stekina-shokai-tag {
            display: flex;
            margin: 10px 0 0;
            li {
                a {
                    border-radius: 5.5px;
                    font-size: 9.7px;
                    color: #4D4D4D;
                    letter-spacing: 0;
                    padding: 3px 6px;
                    border: 0.5px solid $cl-gray-dark;
                    text-decoration: none;
                    margin: 0 10px 0 0
                }
            }
        }
        .profile-section-block-stekina-shokai-footer {
            display: flex;
            align-items: center;
            margin: 10px 0 0;
            .profile-section-block-stekina-shokai-footer-suteki {
                transform-origin: left center;
                transform: scale(0.58);
            }
            .profile-section-block-stekina-shokai-footer-number {
                margin: 0 0 0 -10px;
                font-size: 11.5px;
                color: #B3B3B3;
                letter-spacing: 0;
                b {
                    font-weight: bold;
                }
            }
        }
    }
    
    //普通のメニュー
    .profile-section-block-normal-menus {
        .profile-section-block-normal-menu {
            display: flex;
            font-size: 13.5px;
            color: $cl-gray-dark;
            &:not(:last-child) {
                margin: 0 0 17px;
            }
            .profile-section-block-normal-menu-name {
                width: 75%;
                margin: 0 3% 0 0;
            }
            .profile-section-block-normal-menu-price {
                width: 22%;
                text-align: right;
                span {
                    display: inline-block;
                    font-weight: bold;
                }
                .profile-section-block-normal-menu-price-yen {
                    margin: 0 2px 0 0;
                }
            }
        }
    }
    
    //クーポンメニュー
    .profile-section-block-coupon-menu {
        position: relative;
        &:not(:last-child) {
            margin: 0 0 25px;
        }
        .profile-section-block-coupon-menu-wrapper {
            position: relative;
            background: #FFFFFF;
            box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.11);
            border-radius: 6px;
            overflow: hidden;
            width: 100%;
            height: 193px;
            .profile-section-block-coupon-menu-top {
                height: 28%;
                display: flex;
                align-items: center;
                .profile-section-block-coupon-menu-top-category {
                    width: 14%;
                    display: block;
                    margin: 0 3px 0 0;
                    height: 100%;
                }
                .profile-section-block-coupon-menu-top-menuname {
                    width: 80%;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    font-size: 14.2px;
                    color: $cl-stekina-black;
                    letter-spacing: 0.44px;
                    line-height: 22px;
                    font-weight: bold;
                }
            }
            .profile-section-block-coupon-menu-detail {
                margin: 3% 0 0;
                padding: 0 10px;
                height: 44%;
                display: flex;
                width: 100%;
                .profile-section-block-coupon-menu-detail-left-photo {
                    width: 87px;
                    height: 87px;
                    margin: 0 8px 0 0;
                    img {
                        width: 87px;
                        height: 87px;
                        border-radius: 4px;
                    }
                }
                .profile-section-block-coupon-menu-detail-right {
                    width: 70%;
                    .profile-section-block-coupon-menu-detail-right-price {
                        font-weight: bold;
                        font-size: 12px;
                        color: $cl-gray-dark;
                        font-weight: bold;
                        margin: 0 0 4px;
                        span {
                            margin: 0 3px 0 0;
                            font-weight: bold;
                        }
                    }
                    .profile-section-block-coupon-menu-detail-right-note {
                        font-size: 12px;
                        color: $cl-gray-dark;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 4;
                        overflow: hidden;
                        line-height: 1.3;
                    }
                }
            }
            .profile-section-block-coupon-menu-detail-bottom {
                position: absolute;
                bottom: 5%;
                width: 100%;
                padding: 0 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .profile-section-block-coupon-menu-detail-bottom-customer {
                    @include rizm-gradient();
                    display: inline-block;
                    color: white;
                    padding: 4px 7px 4px;
                    font-size: 10.7px;
                    border-radius: 4px;
                    font-weight: bold;
                }
                .profile-section-block-coupon-menu-detail-bottom-link {
                    color: $cl-lime;
                    text-decoration: underline;
                    font-size: 10.3px;
                    &:after {
                        content: "";
                        width: 6px;
                        height: 14px;
                        display: inline-block;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin: 0px -1px 0px 4px;
                        background-image: url(https://assets.stekina.com/static/img/icon/icn-arrow-navi.svg);
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    
    //クーポンメニューの本日空席あり
    .profile-section-block-coupon-menu-available-today {
        position: absolute;
        bottom: -7px;
        z-index: 10;
        width: 120px;
        right: 118px;
        animation-name: fuwafuwa;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease;
    }
    
    //アクセス&サロンの雰囲気&営業時間
    .profile-section-block-googlemap {
        margin: 0 -18px;
    }
    
    .profile-section-block-salon-atmosphere {
        position: relative;
        margin: 0 -30px 0 -10px;
        ul {
            overflow-x: scroll;
            overflow-y: hidden;
            width: 100%;
            white-space: nowrap;
            height: 200px;
            padding: 0 0 0 10px;
            li {
                display: inline-block;
                width: 292px;
                height: 200px;
                margin: 0 15px 0 0;
                img {
                    width: 292px;
                    height: 173px;
                    object-fit: cover;
                    border-radius: 7.5px;
                    box-shadow: 2px 5px 9px 0 rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
    
    .jquery-normal-menu {
        display: none;
    }