script(src='https://www.googleadservices.com/pagead/conversion_async.js', type='text/javascript', async='')
script#hs-analytics(src='//js.hs-analytics.net/analytics/1549242600000/4318193.js', type='text/javascript')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='author', content='アクティブ・コネクター株式会社')
meta(name='description', content='ベンチャー企業の成長を加速化させていく、専門性・情熱あふれる高度外国人材のネットワークがあります。人工知能エンジニア、画像認識エンジニア、フロントエンドエンジニア、UX/UIデザイナー・・・御社の成長のために、今まさに必要としている優秀な外国人エンジニアはここにいます。')
meta(name='generator', content='HubSpot')
title 「異人・変人と変革を」御社のグローバル化を加速していく高度外国人材はアクティブ・コネクター
link(href='https://jp.active-connector.com/hubfs/logoa%20(1).png', rel='shortcut icon')
script(src='https://connect.facebook.net/signals/config/489525144907814?v=2.8.39&r=stable', async='')
script(src='https://connect.facebook.net/en_US/fbevents.js', async='')
script(src='//www.google-analytics.com/analytics.js', async='')
//script(src='https://jp.active-connector.com/hs/hsstatic/jquery-libs/static-1.1/jquery/jquery-1.7.1.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
//Applicationsscript(src='https://cdnjs.cloudflare.com/ajax/libs/rellax/1.6.2/rellax.js')
script.
    hsjQuery = window['jQuery'];
link(href='static/css/toppage.css', rel='stylesheet')
link(href='https://jp.active-connector.com/static/css/public_common.css', rel='stylesheet')
link(href='https://jp.active-connector.com/hs/hsstatic/content_shared_assets/static-1.4087/css/public_common.css', rel='stylesheet')
meta(property='og:description', content='ベンチャー企業の成長を加速化させていく、専門性・情熱あふれる高度外国人材のネットワークがあります。人工知能エンジニア、画像認識エンジニア、フロントエンドエンジニア、UX/UIデザイナー・・・御社の成長のために、今まさに必要としている優秀な外国人エンジニアはここにいます。')
meta(property='og:title', content='「異人・変人と変革を」御社のグローバル化を加速していく高度外国人材はアクティブ・コネクター')
meta(name='twitter:description', content='ベンチャー企業の成長を加速化させていく、専門性・情熱あふれる高度外国人材のネットワークがあります。人工知能エンジニア、画像認識エンジニア、フロントエンドエンジニア、UX/UIデザイナー・・・御社の成長のために、今まさに必要としている優秀な外国人エンジニアはここにいます。')
meta(name='twitter:title', content='「異人・変人と変革を」御社のグローバル化を加速していく高度外国人材はアクティブ・コネクター')
// Added by GoogleAnalytics integration

link(href='https://jp.active-connector.com', rel='canonical')
meta(name='viewport', content='width=device-width, initial-scale=1')
// Global site tag (gtag.js) - Google Ads: 770241732
script(src='https://www.googletagmanager.com/gtag/js?id=AW-770241732', async='')

script. 
    $(function() {
        var topBtn = $('.p-ac-banner');    
        topBtn.hide();
        //スクロールが500に達したらボタン表示
        $(window).scroll(function () {
            if ($(this).scrollTop() > 1000) {
                topBtn.fadeIn();
            } else {
                topBtn.fadeOut();
            }
        });

    });

noscript
| <img  height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=489525144907814&amp;ev=PageView&amp;noscript=1">
// End Facebook Pixel Code
meta(property='og:image', content='https://jp.active-connector.com/hubfs/header.jpg#keepProtocol')
meta(name='twitter:image', content='https://jp.active-connector.com/hubfs/header.jpg#keepProtocol')
meta(property='og:url', content='https://jp.active-connector.com')
meta(name='twitter:card', content='summary')
link(href='//cdn2.hubspot.net/hub/-1/hub_generated/template_assets/1495141902003/hubspot_default/shared/responsive/layout.min.css', rel='stylesheet')
link(href='https://jp.active-connector.com/hs-fs/hub/4318193/hub_generated/template_assets/1524053167722/Active_Connector_April2018_Theme/Coded_Files/Active_Connector_April2018-style.min.css', rel='stylesheet')
script(type='text/javascript').
    $(function(){
    $(window).scroll(function (){
    $('rellax-scroll').each(function(){
    var elemPos = $(this).offset().top;
    var scroll = $(window).scrollTop();
    var windowHeight = $(window).height();
    if (scroll > elemPos - windowHeight -600){
    $(this).addClass('rellax');
    }
    });
    });
    });

style(type='text/css').
    a:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
    }
    .custom-home-section6 .hs_cos_wrapper_type_module {
    height: 85vh;s
    }
script(src='https://googleads.g.doubleclick.net/pagead/viewthroughconversion/770241732/?random=1549243206500&cv=9&fst=1549243206500&num=1&bg=ffffff&guid=ON&resp=GooglemKTybQhCsO&u_h=800&u_w=1280&u_ah=777&u_aw=1280&u_cd=24&u_his=2&u_tz=540&u_java=false&u_nplug=3&u_nmime=4&data=event%3Dgtag.config&gtm=2oa1d1&sendb=1&frm=0&url=https%3A%2F%2Fjp.active-connector.com%2F&tiba=%E3%80%8C%E7%95%B0%E4%BA%BA%E3%83%BB%E5%A4%89%E4%BA%BA%E3%81%A8%E5%A4%89%E9%9D%A9%E3%82%92%E3%80%8D%E5%BE%A1%E7%A4%BE%E3%81%AE%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%90%E3%83%AB%E5%8C%96%E3%82%92%E5%8A%A0%E9%80%9F%E3%81%97%E3%81%A6%E3%81%84%E3%81%8F%E9%AB%98&async=1&rfmt=3&fmt=4')
script(src='https://www.googleadservices.com/pagead/conversion/770241732/?random=1549243206505&cv=9&fst=1549243206505&num=1&label=k4RGCIrA6pIBEMTpo-8C&bg=ffffff&guid=ON&resp=GooglemKTybQhCsO&u_h=800&u_w=1280&u_ah=777&u_aw=1280&u_cd=24&u_his=2&u_tz=540&u_java=false&u_nplug=3&u_nmime=4&data=event%3Dconversion&gtm=2oa1d1&sendb=1&frm=0&url=https%3A%2F%2Fjp.active-connector.com%2F&tiba=%E3%80%8C%E7%95%B0%E4%BA%BA%E3%83%BB%E5%A4%89%E4%BA%BA%E3%81%A8%E5%A4%89%E9%9D%A9%E3%82%92%E3%80%8D%E5%BE%A1%E7%A4%BE%E3%81%AE%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%90%E3%83%AB%E5%8C%96%E3%82%92%E5%8A%A0%E9%80%9F%E3%81%97%E3%81%A6%E3%81%84%E3%81%8F%E9%AB%98&async=1&rfmt=3&fmt=4')