doctype html
html(lang='ja', itemscope='', itemtype='http://schema.org/WebPage')
  head
    meta(charset='UTF-8')
    link(href='http://gmpg.org/xfn/11', rel='profile')
    title yukiyonomura.com &ndash; Just another WordPress site
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='generator', content='Total WordPress Theme 4.9.3')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(href='//fonts.googleapis.com', rel='dns-prefetch')
    link(href='//s.w.org', rel='dns-prefetch')
    link(type='application/rss+xml', href='http://yukiyonomura.com/wp/feed/', title='yukiyonomura.com » フィード', rel='alternate')
    link(type='application/rss+xml', href='http://yukiyonomura.com/wp/comments/feed/', title='yukiyonomura.com » コメントフィード', rel='alternate')
    link#dashicons-css(type='text/css', href='http://yukiyonomura.com/wp/wp-includes/css/dashicons.min.css?ver=5.2.2', rel='stylesheet', media='all')
    link#admin-bar-css(type='text/css', href='http://yukiyonomura.com/wp/wp-includes/css/admin-bar.min.css?ver=5.2.2', rel='stylesheet', media='all')
    link#js_composer_front-css(type='text/css', href='http://yukiyonomura.com/wp/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=6.0.5', rel='stylesheet', media='all')
    link#wp-block-library-css(type='text/css', href='http://yukiyonomura.com/wp/wp-includes/css/dist/block-library/style.min.css?ver=5.2.2', rel='stylesheet', media='all')
    link#bodhi-svgs-attachment-css(type='text/css', href='http://yukiyonomura.com/wp/wp-content/plugins/svg-support/css/svgs-attachment.css?ver=5.2.2', rel='stylesheet', media='all')
    link#wpex-style-css(type='text/css', href='http://yukiyonomura.com/wp/wp-content/themes/Total/style.css?ver=4.9.3', rel='stylesheet', media='all')
    link#wpex-visual-composer-css(type='text/css', href='http://yukiyonomura.com/wp/wp-content/themes/Total/assets/css/wpex-visual-composer.css?ver=4.9.3', rel='stylesheet', media='all')
    link#wpex-google-font-open-sans-css(type='text/css', href='//fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&subset=latin', rel='stylesheet', media='all')
    //if lt IE 9
      link#vc_lte_ie9-css(type='text/css', href='http://yukiyonomura.com/wp/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css?ver=6.0.5', rel='stylesheet', media='screen')
    //if IE 8
      link#wpex-ie8-css(type='text/css', href='http://yukiyonomura.com/wp/wp-content/themes/Total/assets/css/wpex-ie8.css?ver=4.9.3', rel='stylesheet', media='all')
    //if IE 9
      link#wpex-ie9-css(type='text/css', href='http://yukiyonomura.com/wp/wp-content/themes/Total/assets/css/wpex-ie9.css?ver=4.9.3', rel='stylesheet', media='all')
    //if lt IE 9
      script(src='http://yukiyonomura.com/wp/wp-content/themes/Total/assets/js/dynamic/html5.js?ver=4.9.3', type='text/javascript')
    script(src='http://yukiyonomura.com/wp/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp', type='text/javascript')
    script(src='http://yukiyonomura.com/wp/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1', type='text/javascript')
    link(href='http://yukiyonomura.com/wp/wp-json/', rel='https://api.w.org/')
    link(type='application/rsd+xml', href='http://yukiyonomura.com/wp/xmlrpc.php?rsd', title='RSD', rel='EditURI')
    link(type='application/wlwmanifest+xml', href='http://yukiyonomura.com/wp/wp-includes/wlwmanifest.xml', rel='wlwmanifest')
    link#wpex-ie9-css(type='text/css', href='static/css/toppage.css', rel='stylesheet', media='all')
    meta(name='generator', content='WordPress 5.2.2')
    link(href='http://yukiyonomura.com/wp/', rel='canonical')
    link(href='http://yukiyonomura.com/wp/', rel='shortlink')
    link(type='application/json+oembed', href='http://yukiyonomura.com/wp/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fyukiyonomura.com%2Fwp%2F', rel='alternate')
    link(type='text/xml+oembed', href='http://yukiyonomura.com/wp/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fyukiyonomura.com%2Fwp%2F&format=xml', rel='alternate')
    style(type='text/css').
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
    style(type='text/css', media='print').
      #wpadminbar { display:none; }
    | &#x9;
    style(type='text/css', media='screen').
      html { margin-top: 32px !important; }
      * html body { margin-top: 32px !important; }
      @media screen and ( max-width: 782px ) {
      html { margin-top: 46px !important; }
      * html body { margin-top: 46px !important; }
      }

    noscript
      style.
        body .wpex-vc-row-stretched, body .vc_row-o-full-height { visibility: visible; }
    noscript
      style.
        .wpb_animate_when_almost_visible { opacity: 1; }
    style#wpex-css(data-type='wpex-css', type='text/css').
      /*ACCENT COLOR*/.wpex-carousel-woocommerce .wpex-carousel-entry-details,a,.wpex-accent-color,#site-navigation .dropdown-menu >li.menu-item >a:hover,#site-navigation .dropdown-menu >li.menu-item.current-menu-item >a,#site-navigation .dropdown-menu >li.menu-item.current-menu-parent >a,h1 a:hover,h2 a:hover,a:hover h2,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,.entry-title a:hover,.modern-menu-widget a:hover,.theme-button.outline,.theme-button.clean,.meta a:hover{color:#0288ed}.vcex-skillbar-bar,.vcex-icon-box.style-five.link-wrap:hover,.vcex-icon-box.style-four.link-wrap:hover,.vcex-recent-news-date span.month,.vcex-pricing.featured .vcex-pricing-header,.vcex-testimonials-fullslider .sp-button:hover,.vcex-testimonials-fullslider .sp-selected-button,.vcex-social-links a:hover,.vcex-testimonials-fullslider.light-skin .sp-button:hover,.vcex-testimonials-fullslider.light-skin .sp-selected-button,.vcex-divider-dots span,.vcex-testimonials-fullslider .sp-button.sp-selected-button,.vcex-testimonials-fullslider .sp-button:hover,.wpex-accent-bg,.post-edit a,.background-highlight,input[type="submit"],.theme-button,button,.button,.theme-button.outline:hover,.active >.theme-button,.theme-button.active,.tagcloud a:hover,.post-tags a:hover,.wpex-carousel .owl-dot.active,.wpex-carousel .owl-prev,.wpex-carousel .owl-next,body #header-two-search #header-two-search-submit,#site-navigation .menu-button >a >span.link-inner,.modern-menu-widget li.menu-item.current-menu-item a,#sidebar .widget_nav_menu .current-menu-item >a,.widget_nav_menu_accordion .widget_nav_menu li.menu-item.current-menu-item >a,#wp-calendar caption,#wp-calendar tbody td:hover a,.navbar-style-six .dropdown-menu >li.menu-item.current-menu-item >a,.navbar-style-six .dropdown-menu >li.menu-item.current-menu-parent >a,#wpex-sfb-l,#wpex-sfb-r,#wpex-sfb-t,#wpex-sfb-b,#site-scroll-top:hover{background-color:#0288ed}.vcex-heading-bottom-border-w-color .vcex-heading-inner{border-bottom-color:#0288ed}.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a{border-bottom-color:#0288ed}.theme-button.outline{border-color:#0288ed}#searchform-dropdown{border-color:#0288ed}body #site-navigation-wrap.nav-dropdown-top-border .dropdown-menu >li >ul{border-top-color:#0288ed}.theme-heading.border-w-color span.text{border-bottom-color:#0288ed}/*ACCENT HOVER COLOR*/.post-edit a:hover,.theme-button:hover,input[type="submit"]:hover,button:hover,.button:hover,.wpex-carousel .owl-prev:hover,.wpex-carousel .owl-next:hover,#site-navigation .menu-button >a >span.link-inner:hover{background-color:#0288ed}/*TYPOGRAPHY*/body{font-family:"Open Sans","Helvetica Neue",Arial,sans-serif}/*CUSTOMIZER STYLING*/@media only screen and (min-width:960px){#site-logo img{max-width:200px}}@media only screen and (max-width:767px){#site-logo img{max-width:180px}}.vc_column-inner{margin-bottom:40px}
  body.home.page-template-default.page.page-id-2.logged-in.admin-bar.no-customize-support.wp-custom-logo.wpex-theme.wpex-responsive.full-width-main-layout.has-composer.wpex-live-site.content-full-screen.sidebar-widget-icons.hasnt-overlay-header.page-header-disabled.wpex-mobile-toggle-menu-icon_buttons.has-mobile-menu.wpb-js-composer.vc_responsive(class='js-comp-ver-6.0.5')
    .wpex-site-overlay
    a.skip-to-content(href='#content') skip to Main Content
    span(data-ls_id='#site_top')
    #outer-wrap.clr
      #wrap.clr
           block content
              h1 Default Content
    // #outer-wrap
    #mobile-menu-search.clr.wpex-hidden
      form.mobile-menu-searchform(method='get', action='http://yukiyonomura.com/wp/')
        input(name='s', type='search', aria-label='Search', autocomplete='off', placeholder='Search')
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        input(name='lang', type='hidden', value='ja')
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        button.searchform-submit(type='submit', aria-label='Submit search')
          span.ticon.ticon-search
    a#site-scroll-top(href='#outer-wrap')
      span.ticon.ticon-chevron-up(aria-hidden='true')
      span.screen-reader-text Back To Top

    script(src='http://yukiyonomura.com/wp/wp-includes/js/admin-bar.min.js?ver=5.2.2', type='text/javascript')
    script(type='text/javascript').
      /* <![CDATA[ */
      var wpexLocalize = {"isRTL":"","mainLayout":"full-width","menuSearchStyle":"drop_down","siteHeaderStyle":"one","megaMenuJS":"1","superfishDelay":"600","superfishSpeed":"fast","superfishSpeedOut":"fast","menuWidgetAccordion":"1","hasMobileMenu":"1","mobileMenuBreakpoint":"959","mobileMenuStyle":"sidr","mobileMenuToggleStyle":"icon_buttons","scrollToHash":"1","scrollToHashTimeout":"500","localScrollUpdateHash":"","localScrollHighlight":"1","localScrollSpeed":"1000","localScrollEasing":"easeInOutExpo","scrollTopSpeed":"1000","scrollTopOffset":"100","customSelects":".woocommerce-ordering .orderby, #dropdown_product_cat, .widget_categories form, .widget_archive select, .single-product .variations_form .variations select, .vcex-form-shortcode select","responsiveDataBreakpoints":{"tl":"1024px","tp":"959px","pl":"767px","pp":"479px"},"ajaxurl":"http:\\/\/yukiyonomura.com\/wp\/wp-admin\/admin-ajax.php","loadMore":{"text":"Load More","loadingText":"Loading&hellip;","failedText":"Failed to load posts."},"sidrSource":"#sidr-close, #site-navigation, #mobile-menu-search","sidrDisplace":"","sidrSide":"right","sidrBodyNoScroll":"","sidrSpeed":"300"};
      /* ]]> */
    script(src='http://yukiyonomura.com/wp/wp-content/themes/Total/assets/js/total.min.js?ver=4.9.3', type='text/javascript')
    script(src='http://yukiyonomura.com/wp/wp-content/plugins/total-theme-core/inc/wpbakery/assets/js/vcex-front.min.js?ver=1.0.4', type='text/javascript')
    script(src='http://yukiyonomura.com/wp/wp-includes/js/wp-embed.min.js?ver=5.2.2', type='text/javascript')
    script(src='http://yukiyonomura.com/wp/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=6.0.5', type='text/javascript')
    script(type='text/javascript').
      (function() {
      var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\\s+)(no-)?'+cs+'(\\s+|$)');
      request = true;
      b[c] = b[c].replace( rcs, ' ' );
      // The customizer requires postMessage and CORS (if the site is cross domain)
      b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
      }());
    // <![endif]
