@mixin text-gradient {
    @include rizm-gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin font-size-matching-ss {
    font-size: 12px;
}

@mixin font-size-matching-s {
    font-size: 14.5px;
}

@mixin font-size-matching-m {
    font-size: 20px;
}

@mixin font-size-matching-l {
    font-size: 29px;
}

@mixin font-size-matching-xl {
    font-size: 36px;
}

@mixin font-size-matching-xxl {
    font-size: 40px;
}

@mixin font-size-matching-xxxl {
    font-size: 50px;
}

@font-face {
    font-family: "k-3";
    src: url("https://limehair.jp/static/fonts/koburinaStdW3.eot?") format("eot"), url("https://limehair.jp/static/fonts/koburinaStdW3.woff2") format("woff2"), url("https://limehair.jp/static/fonts/koburinaStdW3.woff") format("woff");
}

@font-face {
    font-family: "k-6";
    src: url("https://limehair.jp/static/fonts/koburinaStdW6.eot?") format("eot"), url("https://limehair.jp/static/fonts/koburinaStdW6.woff2") format("woff2"), url("https://limehair.jp/static/fonts/koburinaStdW6.woff") format("woff");
}

body {
    background: $cl-stekina-brown-light;
}

.matching-questions-wrapper {
    padding: 15px;
}

.matching-questions-head {
    display: flex;
    align-items: flex-end;
    .matching-questions-head-ai {
        width: 25%;
    }
    .matching-questions-head-speech {
        color: $cl-stekina-brown;
        @include font-size-matching-s;
        font-family: "k-6" !important;
    }
}

.matching-questions-content {
    border-radius: 8px;
    background: white;
    padding: 30px 10px 30px 20px;
    margin: 20px 0 0;
    position: relative;
    input[type="checkbox"],
    input[type="radio"] {
        margin: 0 8px 0 0;
        transform: scale(1.16);
    }
    &::before {
        position: absolute;
        content: "";
        top: -30px;
        left: 30px;
        margin: 0 auto;
        border: 16px solid transparent;
        border-top: 20px solid white;
        width: 0;
        height: 0;
        transform: rotate(180deg);
    }
    .matching-questions-content-question-box {
        margin: 0 0 90px;
        &:last-child {
            margin: 0 0 45px;
        }
        .matching-questions-content-question-box-subtitle {
            @include font-size-matching-ss;
            font-family: "k-6" !important;
            color: $cl-red;
            margin: -15px 0 15px;
            text-align: center;
        }
        .matching-questions-content-question-box-title {
            @include font-size-matching-m;
            font-family: "k-6" !important;
            color: $cl-stekina-black !important;
            line-height: 1.5;
            margin: 0 0 20px;
            .matching-questions-content-question-box-title-large {
                @include font-size-matching-l;
            }
        }
        .matching-questions-content-checkbox {
            margin: 0 0 22px;
            label {
                font-weight: 700 !important;
                @include font-size-matching-m;
                color: $cl-stekina-black !important;
                font-family: "k-6", KoburinaGoStd-W6 !important;
            }
        }
    }
}

.matching-questions-footer {
    margin: 30px auto 90px;
    .matching-questions-footer-text {
        color: $cl-stekina-brown;
        @include font-size-matching-s;
        font-family: "k-6" !important;
        text-align: center;
        margin: 0 0 20px;
        line-height: 1.45;
    }
}

.common-btn {
    text-align: center;
    a {
        @include rizm-gradient();
        display: inline-block;
        padding: 24px 0;
        text-align: center;
        width: 145px;
        color: white;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0px 3px 10px #999;
        text-decoration: none;
        font-family: "k-6" !important;
    }
}

.matching-dialog {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    img {
        width: 80%;
        margin: 0 0 50px;
    }
    z-index: 99;
    /*
    &:before {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 99;
        background: black;
        opacity: 0.9;
        display: block;
        content: "";
    }
    */
}

.matching-dialog-kari {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.demo-2columns-title {
    font-family: "k-6" !important;
    @include font-size-matching-s;
    text-align: center;
    margin: 0 0 10px;
    .demo-2columns-title-gradient {
        @include text-gradient();
    }
}

.demo-2columns {
    display: flex;
    justify-content: center;
    .common-btn {
        margin: 0 10px;
    }
}

.common-macching-card {
    box-shadow: 0px 3px 10px #999;
    width: 92.5%;
    margin: 0 auto 60px;
    border-radius: 4px;
    overflow: hidden;
    .common-macching-card-header {
        display: flex;
        align-items: flex-end;
        color: white;
        background: $cl-stekina-brown;
        padding: 8px 0 5px;
        .common-macching-card-header-left {
            display: table-cell;
            width: 87%;
            font-size: 15px;
            margin: 0 0 0 8px;
            font-family: "k-3" !important;
            .common-macching-card-header-left-large {
                font-size: 24px;
                font-family: "k-6" !important;
            }
        }
        .common-macching-card-header-right {
            display: table-cell;
            width: 13%;
            .common-macching-card-header-right-label {
                font-size: 6px;
                font-family: "k-6" !important;
                margin: 0 0 2px;
            }
            .common-macching-card-header-right-percent {
                font-size: 18.5px;
                font-family: "k-6" !important;
            }
            .common-macching-card-header-right-percent-number {
                font-size: 22px;
            }
        }
    }
    .common-macching-card-cover {
        height: 120px;
        width: 100%;
        position: relative;
        .common-macching-card-speech-tap-photo {
            img {
                position: absolute;
                left: 23%;
                top: 45px;
                bottom: 0;
                margin: auto;
                z-index: 20;
                height: 80px;
                -webkit-animation-name: fuwafuwa;
                -webkit-animation-duration: 5.5s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-direction: alternate;
                -webkit-animation-timing-function: ease;
                -moz-animation-name: fuwafuwa;
                -moz-animation-duration: 5.5s;
                -moz-animation-iteration-count: infinite;
                -moz-animation-direction: alternate;
            }
        }
        .common-macching-card-cover-background {
            display: flex;
            .common-macching-card-cover-background-left {
                width: 50%;
                img {
                    object-fit: cover;
                    height: 120px;
                    width: 100%;
                }
            }
            .common-macching-card-cover-background-right {
                width: 50%;
                display: flex;
                width: 50%;
                height: 60px;
                flex-wrap: wrap;
                div {
                    width: 50%;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 60px;
                    }
                }
            }
        }
        .common-macching-card-cover-profile-img {
            left: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            width: 72px;
            height: 72px;
            z-index: 14;
            img {
                border: 1px solid white;
                box-shadow: 0px 3px 10px #999;
                border-radius: 100px;
                object-fit: cover;
            }
        }
        .common-macching-card-cover-date {
            &:before {
                width: 82%;
                height: 55%;
                right: 0px;
                top: 0;
                bottom: 0;
                margin: auto;
                background-color: rgba(0, 0, 0, 0.5);
                display: block;
                content: "";
                z-index: 11;
                position: absolute;
            }
            color: white;
            /*
            display: flex;
            align-items: center;
            */
        }
        .common-macching-card-cover-date-left {
            /*margin: 0 0 0 18px;*/
            position: absolute;
            left: 27%;
            top: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            flex-direction: column;
            height: 40px;
            z-index: 12;
            .common-macching-card-cover-date-left-name {
                font-size: 18px;
                font-family: "k-6" !important;
                margin: 0 0 7px;
            }
            .common-macching-card-cover-date-left-score {
                display: flex;
                font-family: "k-6" !important;
                .common-macching-card-cover-date-score-list {
                    display: flex;
                    align-items: flex-end;
                    margin: 0 7px 0 0;
                    font-size: 12px;
                    img {
                        height: 12px;
                        margin: 0 2px 0 0;
                    }
                }
            }
        }
        .common-macching-card-cover-date-right {
            position: absolute;
            left: 70%;
            top: 0;
            bottom: 0;
            margin: auto;
            font-size: 10px;
            font-family: "k-6" !important;
            z-index: 12;
            display: flex;
            height: 10px;
            img {
                height: 10px;
                margin: 0 5px 0 0;
            }
        }
    }
    .common-macching-card-detail {
        background: white;
        padding: 10px;
        .common-macching-card-detail-date {
            display: flex;
            padding: 0 0 5px 0;
            border-bottom: 1px solid $cl-gray-light;
            .common-macching-card-detail-date-list {
                display: flex;
                font-size: 9px;
                color: $cl-gray-light;
                margin: 0 5px 0 0;
                font-family: "k-6" !important;
                img {
                    height: 9px;
                }
            }
        }
        .common-macching-card-detail-escription {
            font-size: 9px;
            color: $cl-gray-dark;
            font-family: "k-3" !important;
            margin: 4px 0 0;
        }
        .common-macching-card-detail-button {
            display: flex;
            justify-content: space-between;
            margin: 10px 0 0;
            font-family: "k-6" !important;
            .common-macching-card-detail-aboslute-speech {
                position: absolute;
                top: -60px;
                left: 0;
                right: 0;
                margin: auto;
                width: 80%;
                -webkit-animation-name: fuwafuwa;
                -webkit-animation-duration: 1s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-direction: alternate;
                -webkit-animation-timing-function: ease;
                -moz-animation-name: fuwafuwa;
                -moz-animation-duration: 1s;
                -moz-animation-iteration-count: infinite;
                -moz-animation-direction: alternate;
            }
            a {
                padding: 10px 10px 10px;
                display: inline-block;
                border-radius: 4px;
                text-decoration: none;
                text-align: center;
            }
            .common-macching-card-detail-button-save a {
                color: $cl-red;
                border: 1.5px solid $cl-red;
                &:before {
                    content: "";
                    /*何も入れない*/
                    display: inline-block;
                    /*忘れずに！*/
                    width: 18px;
                    /*画像の幅*/
                    height: 18px;
                    /*画像の高さ*/
                    background-image: url(https://stekina.com/wp-content/uploads/icn-bookmark-bold.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    vertical-align: bottom;
                    margin: 0 1px 0 0;
                }
            }
            .selected a {
                &:before {
                    content: "";
                    /*何も入れない*/
                    display: inline-block;
                    /*忘れずに！*/
                    width: 18px;
                    /*画像の幅*/
                    height: 18px;
                    /*画像の高さ*/
                    background-size: contain;
                    vertical-align: bottom;
                    margin: 0 1px 0 0;
                    background-repeat: no-repeat;
                    background-image: url(https://stekina.com/wp-content/uploads/icn-bookmark-bold-active.svg) !important;
                }
            }
            .common-macching-card-detail-button-reseve {
                position: relative;
                a {
                    @include rizm-gradient();
                    color: white;
                }
            }
        }
    }
}

.reserve-ux-wrapper {
    padding: 30px 0 180px;
}

.reserve-ux-announce {
    background: white;
    padding: 6px 6px;
    border-radius: 100px;
    display: flex;
    box-shadow: 0px 3px 10px #999;
    width: 92.5%;
    margin: 0 auto 20px;
    align-items: center;
    font-family: "k-6" !important;
    font-size: 16px;
    letter-spacing: -1px;
    .reserve-ux-announce-text-red {
        @include text-gradient();
    }
    img {
        width: 25px;
        height: 25px;
        margin: 0 3px 0 0;
    }
}

@-webkit-keyframes fuwafuwa {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}

@-moz-keyframes fuwafuwa {
    0% {
        -moz-transform: translate(0, 0);
    }
    50% {
        -moz-transform: translate(0, -10px);
    }
    100% {
        -moz-transform: translate(0, 0);
    }
}